.container1 {
  width: 86%;
  margin: 20px auto 20px auto;
}

.cal-container {
  background-image: url("../img/calculator/cal-bg.jpg");
  background-size: 100% 640px;
  background-repeat: no-repeat;
}
.cal-container h1 {
  color: #eeb0ae;
  text-align: center;
  font-size: 50px;
  letter-spacing: -2px;
  margin-top: 60px;
}
.cal-container2 .compareBtn {
  color: #fff;
  background-color: #9d0010;
  height: 55px;
  border: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 0 25px;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.cal-container2 .compareBtn:hover {
  border: 1px solid #fff;
}
.cal-container2 {
  color: #fff;
  background-color: #e8051c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 25px 5px #3c0e11;
  padding-left: 35px;
  padding-right: 55px;
}
@media only screen and (max-width: 576px) {
  .cal-container2 {
    padding-bottom: 40px;
  }
  .container1 {
    width: 90%;
    margin: 20px auto 20px auto;
  }
}
.center-para {
  text-align: center;
}
.center-para h1 {
  color: #fff;
}
.center-para p {
  color: #ffffff;
  text-align: center;
}
.cal-container3 {
  background-color: #f0f0f0;
  color: #000;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-top: 20px;
}
@media only screen and (max-width: 600px) {
  .cal-container3 {
    padding: 10px;
  }
}
.column {
  margin-top: 10px;
  height: 110px;
}
@media only screen and (max-width: 600px) {
  .column {
    margin-top: 10px;
    height: 90px;
  }
}

.cal-container3 .row .col-xl-6 {
  padding-left: 20px;
  padding-right: 20px;
}
.cal-container3 .row .col-xl-4 {
  background-color: #fff;
  padding: 2% 2%;
}
.cal-container3 .row .col-xl-3 {
  background-color: #fff;
  padding: 2% 1px;
}
@media only screen and (max-width: 1200px) {
  .cal-container3 .row .col-xl-3 {
    padding: 0% 1px;
  }
}
@media only screen and (max-width: 830px) {
  .cal-container3 .row .col-xl-3 {
    padding: 10px 0px;
  }
}
.cal-container3 .row .col-xl-5 {
  background-color: #fff;
}
.cal-container3 h3 {
  margin-top: 15px;
}
.cal-container3 h4 {
  /* margin-top: 35px; */
  margin-top: 25px;
}
.cal-container3 p {
  margin-top: -10px;
}
/* .Converter .container1 .cal-container3 .column .row .divFlag {
  width: 90px;
  height: 90px;
  border-radius: 150px;
  overflow: hidden;
  margin-left: 20px;
} */
.contact-card {
  width: 48%;
  background-color: #fff;
  padding: 10px 20px;
  margin: 5px;
}
.currency-name-div {
  padding-left: 20px;
  padding-right: 20px;
}
.divFlag {
  width: 90px;
  height: 90px;
  border-radius: 150px;
  overflow: hidden;
  /* margin-left: 20px; */
}
.column .converter p span {
  color: #000;
  font-weight: bold;
}

@media only screen and (max-width: 1050px) {
  .country-card-wrapper {
    flex-direction: column;
  }
  .contact-card {
    width: 100%;
    margin: 5px 0;
  }
}
@media only screen and (max-width: 520px) {
  .currency-name-div {
    padding-left: 0px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 600px) {
  /* .Converter .container1 .cal-container3 .column .row .divFlag {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    overflow: hidden;
    margin-left: 20px;
  } */
  .column {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 450px) {
  /* .Converter .container1 .cal-container3 .column .row .divFlag {
    margin-left: 10px;
  } */
  .Converter .container1 {
    width: 100%;
  }
}
.Converter .container1 .cal-container3 .column .row .flag {
  width: 170%;
  margin-top: -35%;
  margin-left: -35%;
}
.flag {
  width: 100%;
  /* margin-top: -35%; */
  /* margin-left: -35%; */
}
.cal-note {
  color:#7a7a7a;
}
.cal-note h2 {
  font-size: 40px;
  letter-spacing: -3px;
  margin-top: 20px;
  color: #e5e5e5;

}
.cal-note span {
  font-size: 20px;
}
.center-para h1 {
  font-size: 70px;
  padding-top: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.center-para span {
  font-size: 35px;
}
.center-para h4 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.sides-para p {
  color: #ffffff;
  margin-top: 45px;
  font-size: 14px;
}
.cal-row {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.cal-row .form-group {
  float: left;
}
.cal-row .form-group input {
  width: 102%;
  height: 55px;
  font-size: 35px;
  border: none;
  padding-left: 15px;
}
.arrows {
  margin-top: 30px;
  margin-left: 45%;
}
.cal-row .form-group button {
  width: 65px;
  height: 55px;
  margin-top: 30px;
  background-color: #9d0010;
  border: none;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.cal-row .form-group button:hover {
  border: 1px solid #fff;
}
.cal-dropdown1 {
  height: 55px;
  width: 107%;
  text-indent: 60px;
  border: none;
  outline: none;
  background-image: url("../img/calculator/USD.png");
  background-position: 10px 8px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.cal-container .cal-dropdown2 {
  height: 55px;
  width: 107%;
  text-indent: 60px;
  border: none;
  outline: none;
  background-image: url("../img/calculator/AED.png");
  background-position: 10px 8px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.cal-opt {
  background-position: 10px 8px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
#cal-opt2 {
  background-image: url("../img/calculator/pak.png");
}
.cal-opt {
  font-size: 18px;
  color: #002272;
}
/*Media Queries start*/
/*large*/

@media only screen and (max-width: 1199px) {
  .cal-container3 .converter {
    text-align: center;
  }
}
@media only screen and (max-width: 1140px) {
  .cal-container h1 {
    font-size: 44px;
  }
  .sides-para p {
    margin-top: 20px;
    font-size: 12px;
  }
  .center-para h4 {
    font-size: 20px;
  }
  .cal-container3 .row .col-xl-5 {
    padding: 1% 1%;
  }
}
/*Medium*/
@media only screen and (max-width: 991px) {
  .cal-container h1 {
    font-size: 38px;
  }
  .center-para h4 {
    font-size: 16px;
    padding-right: 0px;
  }
  .center-para span {
    font-size: 22px;
  }
  .sides-para p {
    margin-top: 16px;
  }
  .center-label {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 850px) {
  .cal-container h1 {
    font-size: 34px;
  }
  .center-para h4 {
    font-size: 14px;
  }
  .sides-para p {
    font-size: 11px;
  }
  .container1 .cal-container2 .cal-row .form-group {
    margin-left: -15px;
  }
  .cal-dropdown1 {
    width: 220px;
  }
  .cal-container .cal-dropdown2 {
    width: 220px;
  }
  .container1 .cal-container2 .cal-row .col-md-1 {
    margin-left: 0px;
  }
  .center-label2 {
    margin-left: 20px;
  }
  .center-label1 {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 815px) {
  .cal-dropdown1 {
    width: 200px;
  }
  .cal-container .cal-dropdown2 {
    width: 200px;
  }
}

/*Small*/
@media only screen and (max-width: 767px) {
  .cal-container h1 {
    margin-top: 30px;
    font-size: 30px;
  }
  .center-para span {
    font-size: 25px;
    padding-left: 20px;
  }
  .center-para h1 {
    margin-top: 0px;
    font-size: 40px;
    padding-left: 20px;
  }
  .center-para h4 {
    font-size: 22px;
    padding-left: 20px;
  }
  .center-para p {
    padding-left: 20px;
  }
  .sides-para p {
    display: none;
  }
  .center-label1 {
    width: 30%;
    margin-left: 60px;
  }
  .center-label2 {
    width: 30%;
    margin-left: 60px;
  }
  .arrows {
    display: none;
  }
  .cal-dropdown1 {
    width: 100%;
  }
  .cal-container .cal-dropdown2 {
    width: 100%;
  }
  .cal-row .form-group button {
    width: 100%;
    margin-left: 0px;
  }
  .cal-row .form-group .center-label {
    width: 100%;
  }
  .cal-row .form-group label {
    font-size: 20px;
    font-weight: 600;
  }
}
/*ex-Small*/
@media only screen and (max-width: 575px) {
  .cal-container h1 {
    margin-top: 20px;
    font-size: 26px;
    margin-bottom: -5px;
  }
  .center-para h1 {
    font-size: 30px;
  }
  .cal-container3 p {
    font-size: 14px;
  }
  .cal-container3 h3 {
    font-size: 20px;
  }
  .cal-container3 h4 {
    font-size: 18px;
  }
  .center-label1 {
    width: 30%;
    margin-left: 40px;
  }
  .center-label2 {
    width: 30%;
    margin-left: 40px;
  }
  .cal-dropdown1 {
    width: 100%;
  }
  .cal-container .cal-dropdown2 {
    width: 100%;
  }
  .cal-row .form-group .center-label,
  .cal-row .form-group .center-label2 {
    margin-left: 40px;
  }
  .cal-row .form-group button {
    margin-left: 25px;
  }
}
/*Ex-Small*/
@media only screen and (max-width: 520px) {
  .center-para h1 {
    font-size: 30px;
  }
  .center-para h4 {
    font-size: 20px;
  }
  .cal-container3 p {
    padding-left: 5px;
    font-size: 10px;
    line-height: 12px;
  }
  .cal-container3 h3 {
    padding-left: 10px;
    font-size: 16px;
  }
  .cal-container3 h4 {
    padding-left: 10px;
    font-size: 14px;
  }
  .flag {
    width: 70px;
  }
}

@media only screen and (max-width: 375px) {
  .contact-card {
    padding: 0 10px;
  }
  .flag {
    width: 50px;
  }
  .cal-container3 h3 {
    margin-top: 5px;
    padding-left: 5px;
  }
  .converter p {
    margin-left: -10px;
  }
  .cal-container3 h4 {
    margin-top: 5px;
  }

  .cal-row .form-group label {
    font-size: 17px;
  }
  .cal-row .form-group input {
    font-size: 22px;
  }

  .cal-container2 {
    padding-left: 10px;
    padding-right: 30px;
  }
  .center-para h1 {
    font-size: 26px;
  }
  .center-para h4 {
    font-size: 18px;
  }
  .center-para p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 366px) {
  .flag {
    /* width: 27px; */
  }
  .cal-container3 h3 {
    margin-top: 5px;
    padding-left: 2px;
  }
  .cal-container3 p {
    padding-left: 2px;
    font-size: 9px;
  }
  .converter p {
    margin-left: 0px;
  }
  .cal-container3 h4 {
    font-size: 11px;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 576px) {
  .loader {
    width: 100%;
    height: 260px;
    margin-left: 10px;
  }
}
