.comparision-card-table p {
    /* font-family: 'Montserrat', sans-serif !important; */
}
.margin-Top-20{
    margin-top: 20px
}
.margin-Left-10{
    margin-left: 10px
}
.comparision-card-table {
    width: 100%; 
    margin-bottom: 30px;
    box-shadow: 3px 5px 11px 3px #e2e2e2e3
}
.comparision-card-table-main-row{
    padding-top: 20px;
    padding: 30px; 
}
.comparision-card-table-row-1{
    height: 80px ;
}
.comparision-card-table-brand-img{
    width: 180px; 
    height: 90px;
}

.comparision-card-table-website-link{
    cursor: pointer;
    border-bottom: 1px solid;
    font-weight: 700;
    margin-bottom: 0;
    transform: scale(1);
    transition: 500ms;
}
.comparision-card-table-website-link:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    font-weight: 700;
    margin-bottom: 0;
    transform: scale(1);
    transition: 500ms;
    color: #f90d26 !important
}
.comparision-card-table-small-text{
    color: #a3a3a3;
    margin-bottom: 0;
    font-weight: 500;
}

.comparision-card-table-extra-small-text{
    color: black; 
    margin-bottom: 0; 
    font-size: 12px; 
    font-weight: 600; 
    width: 40px;
    text-align: center; 
    line-height: 1; 
    text-transform:capitalize;
}

.comparision-card-table-medium-text{
    color: black; 
    font-size: 28px; 
    font-weight: 700; 
    margin-bottom: 0;
}

.comparision-card-table-img-transfer-time{
    width: 40px;
}
.comparision-card-table-img-check{
    width: 20px;
}
.comparision-card-table-img-location{
    width: 40px; 
    height: 35px; 
    cursor: pointer;
}
.comparision-card-table-text-location{
    color: black; 
    margin-bottom: 0; 
    font-size: 10px; 
    font-weight: 600
}

@media(max-width: 1250px){
    .comparision-card-table-brand-img{
        width: 200px; 
        height: 80px;
    }
}

@media(max-width: 1000px){
    .comparision-card-table-brand-img{
        width: 180px; 
        height: 70px;
    }
    .comparision-card-table-row-1{
        height: 70px ;
    }
    .comparision-card-table-small-text{
       font-size: 12px;
    }
    .comparision-card-table-website-link{
        font-size: 12px;
    }
    .comparision-card-table-medium-text{
        color: black; 
        font-size: 24px; 
        font-weight: 700; 
        margin-bottom: 0;
    }
}

@media(max-width: 900px){
    .comparision-card-table-brand-img{
        width: 180px; 
        height: 70px;
    }
    .comparision-card-table-row-1{
        height: 70px ;
    }
    .comparision-card-table-small-text{
       font-size: 12px;
    }
    .comparision-card-table-website-link{
        font-size: 12px;
    }
    .comparision-card-table-medium-text{
        font-size: 24px; 
       
    }
    
    .comparision-card-table-extra-small-text{
        font-size: 10px; 
    }
}

@media(max-width: 767px){
    .margin-Top-10{
        margin-top: 20px;
    }
}

@media(max-width: 400px){
    .comparision-card-table-brand-img{
        width: 150px; 
        height: 60px;
    }
    .comparision-card-table-row-1{
        height: 60px ;
    }
    .comparision-card-table-small-text{
       font-size: 10px;
    }
    .comparision-card-table-website-link{
        font-size: 10px;
    }
    .comparision-card-table-medium-text{
        font-size: 20px; 
       
    }
    
    .comparision-card-table-extra-small-text{
        font-size: 10px; 
    }
}


@media (min-width: 300px) and (max-width: 576px){
   
    .comparision-card-table-main-row{
        padding-top: 20px;
        padding: 15px; 
    }
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xs-7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-xs-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-xs-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-xs-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}