.countdown-timer-wrapper {
    opacity: 0.8;
    border-radius: 5px;
    background-color: #000000;
    margin: 0% auto 5px auto;
    max-width: 140px;
  }

  .countdown-timer-wrapper h5 {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 10px;
    text-shadow: none;
  }

  .countdown-timer-wrapper .timer {
    padding-top: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
  }

  .countdown-timer-wrapper .timer .timer-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .countdown-timer-wrapper .text {
    font-size: 14px;
    color: #FFFFFF;
  }
