* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.main_con {
  height: 250px;
}
.dashboard_tags{
  font-size: 14px;
  height: 27px;
 background-color: #E8E8E8;
 padding-left: 20px;
 padding-top: 5px;
 font-weight: bold;
 margin: 10px 0px 0px -16px;
 width: 110%;
}
.admin_main_column{
  background-color: #F4F4F4;
  height: 220px;
  width: 110%;
  margin-left: -16px;
}
.measurement{
  line-height: 6px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 170px;
  margin-top: -66px;
}
.measurement p{
  margin-top: -5px;
}
.admin_main_column .container0 .measurement .Inbound{
  display: block;
  margin-left: -12px;
  width: 10px;
}
.admin_main_column .container0 .measurement .Outbound{
  display: block;
  margin-left: -12px;
}
.main_con .admin_main_column .measurement4 .Inbound{
  display: block;
  margin-left: -10px;
  width: 10px;
}
.main_con .admin_main_column .measurement4 .Outbound{
  display: block;
  margin-left: -10px;
}
.measurement2{
  margin-left: 160px;
  margin-top: -88px;
  line-height: 1px;
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  height: 50px;
  width: 100px;
}
.main_con .admin_main_column .measurement2 .red_triangle{
  margin-left: -20px;
  display: block;
}
.measurement2 h6{
  font-size: 26px;
  color: #E8E8E8;
  margin-top: -20px;
}
.measurement3{
  line-height: 1px;
  font-size: 11px;
  font-weight: bold;
  margin-left: 166px;
  margin-top: -23px;
}
.measurement4{
  line-height: 1px;
  font-size: 9px;
  font-weight: bold;
  margin-left: 196px;
  margin-top: -147px;
}
.measurement4 p{
  margin-top: -5px;
}

.container0 {
  position: absolute;
  height: 160px;
  width: 160px;
  cursor: pointer;
  top: 55%;
  left: 35%;
  margin: -80px 0 0 -80px;
}
#container6 #Targated{
  padding-top: 40px;
}
.container5 {
  position: absolute;
  height: 160px;
  width: 160px;
  cursor: pointer;
  top: 22%;
  left: 18%;
}

.container0 .progress-circle-back {
  fill: none;
  stroke: #d2d2d2;
  stroke-width: 20px;
}

.container0 .progress-circle-prog {
  fill: none;
  stroke: #f40019;
  stroke-width: 20px;
  stroke-dasharray: 320 999;
  stroke-dashoffset: -120px;
  transition: stroke-dasharray 0.7s linear 0s;
    -webkit-transition: stroke-dasharray 0.7s linear 0s;
}

.container0 .progress-text {
  width: 100%;
  position: absolute;
  top: 60px;
  text-align: center;
  font-size: 2em;
}
.container5 .progress-circle-back {
  fill: none;
  stroke: #d2d2d2;
  stroke-width: 10px;
}

.container5 .progress-circle-prog {
  fill: none;
  stroke: #f40019;
  stroke-width: 10px;
  stroke-dasharray: 123 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
    -webkit-transition: stroke-dasharray 0.7s linear 0s;
}
.container5 .progress-text {
  width: 100%;
  position: absolute;
  top: 45px;
  text-align: center;
  font-size: 2em;
}
#container4 .progress .progress-bar{
    background-color: #f40019;
}
#container4{
  padding-top: 30px;
}
#container4 .progress{
  margin-bottom: -14px;
}
#container6 .progress .progress-bar{
  background-color: #f40019; 
}
#container4 .progress text{
  margin-right: 10px;
  padding-left: 12px;
}
#container6 .progress{
  border-radius: 0%;
  width: 90%; 
  margin-left: 16px; 
}
  
#container6 p{
  font-size: 11px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 2px;
}
#container4 .progress{
background-color: transparent;
}
#container4 .progress .gray{
    background-color: #7D7D7D;
}
#container4 .progress .gray1{
    background-color: #979797;
}
#container4 .progress .gray2{
    background-color: #adadad;
}
#container6 .progress .gray2{
  background-color: #adadad;
}
#container4 .progress .gray3{
    background-color: #c5c5c5;
}
#container4 .progress .gray4{
    background-color: #dadada;
}
.container5 .progress-text h1{
    color: #C2C2C2;
    font-weight: bold;
    font-size: 55px;
}
.container5 .progress-text p{
    font-size: 11px;
    color: #4F4F4F;
    margin-top: -22px;
}

@import "https://code.highcharts.com/css/highcharts.css";

#container2 {
  height: 220px;
  max-width: 260px;
  margin-left: -100px;
 
}
.highcharts-container svg{
  width: 330;
  height: 310;
}
#container7 .highcharts-container .highcharts-root{
  width: 240;
  height: 310;
}
#container7{
  margin-top: -230px;
  margin-left: -18px;
}
.history_labels p{
  font-size: 11px;
  font-weight: bold;
  padding-left: 10px;
}
#label_100{
  padding-top: 33px;
}
.highcharts-yaxis-labels{
  display: none;
}
#container2 .highcharts-axis-labels {
  display: none;
}
.highcharts-legend-item {
  display: none;
}
.highcharts-background {
  display: none;
}
.highcharts-plot-background {
  display: none;
}
.highcharts-plot-border {
  display: none;
}
.highcharts-button-box {
  display: none;
}
.highcharts-legend-box {
  display: none;
}
.highcharts-credits {
  display: none;
}
.highcharts-title {
  display: none;
}
.highcharts-xaxis-labels {
  display: none;
}
.highcharts-color-1 text{
    display: none;
}
/* Link the series colors to axis colors */
.highcharts-color-0 {
  fill: #f40019;
}

.highcharts-axis.highcharts-color-0 text {
  display: none;
}
.highcharts-color-1 {
  fill: #c3c3c3;
}

.highcharts-axis.highcharts-color-1 text {
  display: none;
}

/* area-measurement */
.highcharts-button-symbol{
  display: none;
}
.highcharts-subtitle{
  display: none;
}
.highcharts-axis-title{
  display: none;
}
caption {
	padding-bottom: 15px;
	font-family: 'Verdana';
	font-size: 1.2em;
	color:#555;
}
.highcharts-series-1 path{
  fill: #c3c3c3;
}
.highcharts-series-0 path{
  fill: #F40019;
}
#container3{
  margin-top: -243px;
  width: 100%;
  height: 244px; 
}
#container3 .highcharts-container {
  margin-left: -32px;

}
.history_label p{
  font-size: 11px;
  font-weight: bold;
  padding: 0px 0px 0px 12px;
}
#label_500{
  padding-top: 16px;
}
.history_label0 p{
  font-size: 8px;
  font-weight: bold;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.history_label0 #p1{
  margin-left: -140px;
  margin-top: -192px;
}
.history_label0 #p2{
  margin-left: -79px;
  margin-top: 20px;
}
.history_label0 #p3{
  margin-left: -17px;
  margin-top: 21px;
}
.history_label0 #p4{
  margin-left: 47px;
  margin-top: 22px;
}
.history_label0 #p5{
  margin-left: 110px;
  margin-top: 20px;
}
.history_label0 #p6{
  margin-left: 169px;
  margin-top: 18px;
}
table {
	font-size: 12pt;          
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
    text-align: center;
    width: 100%;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #FCF9F9;
}

th {
	font-weight: 600;
    padding: 10px;
}


@media only screen and (max-width: 992px){
  .dashboard_tags{
   width: 105%;
  }
  .admin_main_column{
    width: 105%;
  }
}