.red{
  color: #F40019;
  font-size: 20px;
}
.gray{
  color: #969696;
  font-size: 20px;
}
.row .Dashboard_reviews_column .arrows_img img{
  display: block;
}
.divScroll .row .col-xl-5{
  padding-left: 10px;
  padding-right: 0px;
}
.arrows_img img{
  width: 20px;
  margin-left: 255px;
  margin-top: -48px;
  margin-bottom: 32px;
}
.Dashboard_reviews_column h1{
  letter-spacing: -1px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #5C5C5C;
}
.Dashboard_reviews_column{
  background-color: #F0F0F0;
  height: 240px;
  padding: 6%;
  margin-top: 10px;   
}
.Dashboard_reviews_div_img{
  width: 100%;
  height: 60px;
}
.Dashboard_reviews_see_details {
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  float: right;
  padding: 3px 20px;
  font-weight: bold;
  width: 50%;
  height: 39px;
  margin-top: 44px;
}
.row .Dashboard_reviews_column .Dashboard_reviews_div_img img{
    display: block;
}
.Dashboard_reviews_see_details:hover {
  background-color: #969696;
}
#r_num{
  margin-top: 18px;
}
.Dashboard_reviews_review{
  font-size: 9px;
  
}
.Dashboard_reviews_three_twenty {
  font-weight: bold;
  font-size: 14px;
}
#DashboardReviewsComponent {
  display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
  /* flex-wrap: wrap; */
  
}
.reveiw-div {
  
  /* bottom: 0; */
  width: 100%;
  height: 240px;
  background-color: #EBEBEB;
  padding: 20px;
  margin: 10px;
}
.reveiw-div .dropdown {
  list-style-type: none;
  background-color: #DDDDDD !important;
  padding: 10px !important;
  border-radius: 0 !important;
  background-image: url('../img/dashboard1/dropdown.png');
  background-repeat: no-repeat;
  background-position: 190px 10px;
}
.reveiw-div .dropdown li {
  padding: 3px 10px;
}
.reveiw-div .dropdown .dropdown-menu li:hover {
  background-color: #F40019;
}
.reveiw-div .dropdown {
  margin-bottom: 5px !important;
}
.reveiw-div textarea {
  width: 100%;
  background-color: #DDDDDD;
  padding: 10px;
  border: none;
  margin-top:0 0px;
}
.reveiw-div .btn {
  float: right;
  background-color: #DDDDDD !important;
}

/* 
.reveiw-div ul:before { 
  display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 1em solid;
    border-right: 1em solid red;
    border-bottom: 0;
    border-left: 0.3em solid red;
    right: 20px;
    top: 20px;
    position: absolute;
}
.reveiw-div ul:after { 
  display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 1em solid;
    border-right: 1em solid blue;
    border-bottom: 0;
    border-left: 0.3em solid blue;
    right: 30px;
    top: 20px;
    /* position: absolute;
} */





@media only screen and (min-width: 768px) and (max-width: 990px){
.Dashboard_reviews_column h1{
 font-size: 25px;
}
.Dashboard_reviews_see_details{ 
font-size: 12px;
padding: 3px 12px;
width: 45%;
height: 36px;
}
.red{
  font-size: 16px;
}
.gray{
  font-size: 16px;
}
.arrows_img img{
  width: 20px;
  margin-left: 90%;
  margin-top: -46px;
  margin-bottom: 28px;
 }
}

@media only screen and (max-width: 895px){
  .arrows_img img{
    margin-top: -60px;
    margin-bottom: 46px;
   }
}

@media only screen and (max-width: 842px){
.Dashboard_reviews_div_img img{
  width: 180px;
}
.arrows_img img{
  margin-bottom: 41px;
 }
}

@media only screen and (max-width: 786px){
  .Dashboard_reviews_see_details{ 
    font-size: 12px;
    padding: 3px 12px;
    width: 47%;
    height: 36px;
    }
}
/* Small scale */
@media only screen and (max-width: 767px){
  .arrows_img img{
    margin-left: 92%;
   }
}

@media only screen and (max-width: 364px){
  .Dashboard_reviews_column h1{
   font-size: 25px;
  }
  .Dashboard_reviews_see_details{ 
  font-size: 12px;
  padding: 3px 12px;
  width: 45%;
  height: 36px;
  }
  .red{
    font-size: 16px;
  }
  .gray{
    font-size: 16px;
  }
  }