.feedback_maindivider{
    background-color: #EBEBEB;
    width: 96%;
    height: 420px;
    margin-top: 12px;
}
.feedback_maindivider input{
    width: 95%;
    border: none;
    height: 32px;
    padding-left: 20px;
    background-color: #F8F8F8;
    
}
#title_input{
    margin-top: 40px;
    margin-left: 25px;
}
#title_input input{
    box-shadow: 2px 2px 2px 1px #DDDDDD;
}
#title_input_query{
    margin-top: 30px;
    margin-left: 25px;
   
}
#title_input_query input{
    height: 200px;
    box-shadow: 2px 0px 2px 0px #DDDDDD;
}
#title_input input::placeholder{
    color: black;
 }
#title_input_query input::placeholder{
   color: black;
}
#feedback_button{
    width: 92%;
    height: 68px;
    background-color: #F8F8F8;
    margin-left: 25px;
    box-shadow: 2px 2px 2px 1px #DDDDDD;
}
#feedback_button button{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    background-color: gray;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 21px;
    transition: 500ms;
}
#feedback_button button:hover{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
    background-color: #f6051d;
    transition: 500ms;
    border-bottom: 1px solid;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 21px;
}
#title_input_query input[type=text]{
    border: none;
    padding-bottom: 140px;
    border-bottom: 1px solid #CFCDCD;
}

@media only screen and (max-width: 990px){
    #feedback_button{
        width: 91%;
    }
}
@media only screen and (max-width: 695px){
    #feedback_button{
        width: 90%;
    }
}
@media only screen and (max-width: 430px){
    #feedback_button{
        width: 89%;
    }
}
@media only screen and (max-width: 375px){
    #feedback_button{
        width: 88%;
    }
}
@media only screen and (max-width: 335px){
    #feedback_button{
        width: 87%;
    }
}

