@font-face {
  font-family: Lato-Black;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato-Regular.ttf");
}
.Lato_Black{
  font-family: Lato-Black;
}
.Lato_Regular{
  font-family: Lato-Regular;
}
body p, body li, body a, body span, body label, body input, .dashboardButton1, .dashboardButton2, table, .card .card-body .card-subtitle, .pSmall2 {
  font-family: Lato-Regular;
}
body h1, body h2, body h3, body h4, body h5, body h6, body button,
.registrationDivMain .form-group .fields label {
  font-family: Lato-Black;
}

.divWhite .input-group .form-control,
.divWhite .input-group select option {
  font-family: Lato-Black;
}