.canvasjs-chart-credit {
  display: none;
}

/* <!--bar chart--> */
.chart {
  margin-top: 10px;
  margin-bottom: 20px;
}
.second_divider {
  background-color: #d0d0d0;
  height: 440px;
  margin-left: 30px;
  margin-top: -2px;
  box-shadow: 2px 5px #e6e6e6;
}
.second_divider hr {
  border-top: 1px solid #f6f6f6;
}

.second_divider p {
  color: #f6f6f6;
  font-size: 14px;
  line-height: 12px;
}
.right {
  color: #f6f6f6;
  float: right;
  margin-top: -30px;
}
#right_now {
  margin-top: 10px;
  font-size: 11px;
}
#ten {
  font-size: 46px;
  color: #f6f6f6;
  margin-top: -20px;
  font-weight: 100;
  margin-bottom: 18px;
}
.lessthan {
  color: #f6f6f6;
  float: right;
  margin-top: -27px;
}
#realtime {
  padding-left: 100px;
  margin-top: 35px;
  font-size: 11px;
}

/* <!--bar chart end--> */
.chart_details h6 {
  font-size: 13px;
  margin-top: 2px;
}
.chart_details h5 {
  font-family: lato-Regular;
}
.chart_details p {
  font-size: 11px;
  margin-top: 10px;
  line-height: 2px;
  color: gray;
}
#red_text {
  color: red;
}
#green_text {
  color: green;
}
#chartContainer {
  width: 90%;
  height: 400px;
}
.divScroll .line_chart select {
  font-size: 14px;
  line-height: 2px;
  color: gray;
  padding: 5px;
  margin: 5px;
}
.line_chart {
  height: 100%;
  justify-content: center;
  display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
  align-items: center;
  background-color: #ffffff;
  margin-top: -5px;
  box-shadow: 2px 3px 5px 1px #e6e6e6;
}
.line_chart hr {
  margin-top: 15%;
  margin-bottom: 0px;
}
.canvasjs-chart-canvas {
  border: 1px solid #000;
}
