/* |||||||||||||||||||||FIRST NAV STARTS||||||||||||||||||||| */

/* .body {
  background-color: lightpink;
} */

.div1 {
  width: 100%;
  height: 106px;
  background-color: #e5e5e5;
}

.navFirstMainDiv {
  width: 100%;
  height: 36px;
  background-color: rgba(93, 93, 93, 0.5);
}

.navigationForRouter .navFirst {
  width: 80%;
  height: 36px;
  color: #ffffff;
  border: none;
  margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 14px;
}

.navFirst .divRight .dropdown .dropdown-menu {
  left: unset !important;
  right: 0;
  margin-top: -10px;
}

.navFirst .divRight .dropdown .dropdown-item:active {
  color: #ffffff !important;
  background-color: red;
}

.navFirst .divLeft {
  float: left;
  width: 50%;
  height: 36px;
  line-height: 36px;
}

.navFirst .divLeft a,
.navFirst .divRight a {
  color: #ffffff;
}

.navFirst .divLeft span {
  font-size: 13px;
}

.bs-example {
  float: left;
}

.bs-example .dropdown a {
  color: #ffffff;
  /* cursor: pointer; */
}

.bs-example .dropdown .dropdown-menu a {
  color: #000000;
}

.bs-example .dropdown .dropdown-toggle::after {
  border: 0px solid transparent !important;
}

.bs-example .dropdown {
  width: 140%;
  height: auto;
  background-image: url("../img/home/dropdown.png");
  background-repeat: no-repeat;
  background-position: 87% 57%;
}

.navFirst .divLeft .span1,
.navFirst .divLeft .span2 {
  padding: 0px 0px 0px 15px;
}

.navFirst .divRight {
  float: right;
  width: 130px;
  height: 36px;
  line-height: 36px;
}

.navFirst .divRight span img {
  width: 24px;
  border-radius: 50px;
  margin: 0px 0px 4px 8px;
}

.navSecond {
  width: 80%;
  height: 70px;
  color: #ffffff;
  margin: 0 auto;
}

.navSecond img {
  float: left;
}

.nav-link {
  color: #ffffff;
  text-decoration: blue;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid red;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
}



@media only screen and (min-width: 300px) and (max-width: 991px) {
  nav .navbar-collapse {
    opacity: 0.9;
    background-color: #f40019;
    position: relative;
    z-index: 300;
    padding: 20px 0px;
    font-weight: 600;
  }
  .navbar-nav .nav-link {
    margin-left: 20px;
  }
}

/* ||||||||||||||||||||||||||||||||||MEDIA QUERIES STARTS|||||||||||||||||||||||||||||||||| */
@media only screen and (min-width: 1200px) {
  .div1 {
    background-position: 0% 93%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*---------HEADER STARTS---------*/
  /*---------HEADER ENDS---------*/
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navFirst .divRight {
    width: 130px;
  }
  .divRed h1 {
    width: 475px;
    padding-right: 0%;
  }
}
@media only screen and (max-width: 576px) {
  .navigationForRouter .navFirst {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .navFirst .divRight {
    width: 114px;
  }
  .navFirst .divRight span {
    float: right;
  }
}

@media only screen and (min-width: 1400px) {
  .navigationForRouter .navbar-light .navbar-nav .nav-link {
    background-color: transparent;
  }
}

.navigationForRouter .navbar-light .navbar-nav .nav-link {
  color: #212529 !important;
  font-size: 14px;
}
