/* |||||||||||||||||||||COMMON STARTS||||||||||||||||||||| */
.textBlack {
  color: #000000 !important;
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jca {
  justify-content: space-around;
}
.aic {
  align-items: center;
}
.aib {
  align-items: space-between;
}
.aia {
  align-items: space-around;
}
.f-wrap {
  flex-wrap: wrap;
}
/* |||||||||||||||||||||COMMON ENDS||||||||||||||||||||| */
/* |||||||||||||||||||||HOME PAGE STARTS||||||||||||||||||||| */
/* |||||||||||||||||||||FIRST NAV STARTS||||||||||||||||||||| */
html {
  scroll-behavior: smooth;
}
html body .ReactDiv {
  background-color: #ffffff;
}
body h1,
body h2,
body h5 {
  font-family: Lato-Black;
}
input:focus,
button:focus {
  outline: none;
  border: none;
}
@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
.Lato-Black {
  font-family: Lato-Black;
}
.Lato-Regular {
  font-family: Lato-Regular;
}
.container1 {
  width: 86%;
  max-width: 1120px;
  margin: 0px auto 0px auto;
}
.ReactDiv-main-div {
  background-color: #fff;
}
.whyChooseUs .container1 p {
  color: #7a7a7a;
  font-size: 15px;
  text-align: left;
}
/* ---------HEADER STARTS--------- */
.div1Index {
  background-image: url("../img/home/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navFirst {
  width: 80%;
  height: 36px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
}
.navFirst .divLeft {
  float: left;
  width: 40%;
  height: 36px;
  line-height: 36px;
}
.navFirst .divLeft span {
  font-size: 13px;
}
.bs-example {
  float: left;
}
.bs-example .dropdown a {
  color: #ffffff;
}
.bs-example .dropdown .dropdown-menu a {
  color: #000000;
}
.bs-example .dropdown .dropdown-toggle::after {
  border: 0px solid transparent !important;
}
.bs-example .dropdown {
  width: 140%;
  height: auto;
  background-image: url("../img/home/dropdown.png");
  background-repeat: no-repeat;
  background-position: 87% 57%;
}
.navFirst .divLeft .span1,
.navFirst .divLeft .span2 {
  padding: 0px 0px 0px 15px;
}
.navFirst .divRight {
  float: right;
  width: 60%;
  height: 36px;
  line-height: 36px;
}
.navFirst .divRight a {
  float: right;
}
.navFirst .divRight span img {
  width: 24px;
  border-radius: 50px;
  margin: 0px 0px 4px 8px;
}
.navFirst .divLeft a,
.navFirst .divRight a {
  color: #ffffff;
}
.divRight .nav-link:hover {
  border-bottom: 2px solid transparent;
}
.navSecond {
  width: 80%;
  height: 70px;
  color: #ffffff;
  margin: 0 auto;
}
@media(max-width: 576px){
  .navSecond{
    width: 100%
  }
  .navFirst{
    width: 100%;
  }
}
.navSecond img {
  float: left;
}
.nav-link {
  color: #ffffff;
  text-decoration: blue;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-out;
}
.nav-link:hover {
  border-bottom: 2px solid red;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 14px;
}
@media only screen and (max-width: 991px) {
  .navbar-light .navbar-toggler-icon {
    background-image: url("../img/header/burgerMenu.png");
  }
}
.navbar-light .navbar-toggler {
  border: 1px solid #fff;
}
@media only screen and (max-width: 576px) {
  .navbar-toggler {
    padding: 0.15rem 0.45rem;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
  }
}
/* ---------HEADER ENDS--------- */
/* ---------REMITTANCE STARTS--------- */
.remittance {
  padding-bottom: 90px;
}
.container2 {
  width: 90%;
  max-width: 1120px;
  margin: 0px auto -45px auto;
}
.headerHome {
  padding: 60px 0px 40px 0px;
}
.divRed {
  width: 430px;
  height: 410px;
  background-color: rgba(232, 5, 28, 0.9);
}
.divRed h1 {
  float: left;
  width: 550px;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #ffffff;
  font-size: 41px;
  line-height: 47px;
  letter-spacing: -1px;
  padding-right: 8%;
  margin: 25% 0% 0% 10%;
}
.divRedWhiteLine {
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #ffffff;
  margin: -30px 0px 0px 100px;
}
.divWhite {
  width: 310px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 45px 25px;
  margin: 50px 0px 0px 20px;
  box-shadow: 0px -5px 16px -4px grey;
}
.divWhite .input-group .form-control {
  color: #000000;
}
.divWhite .input-group .input-group-prepend {
  margin-bottom: 0.5rem;
}
.divWhite .input-group .input-group-prepend .input-group-text {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0px;
  background-color: transparent;
}
.divWhite .input-group .custom-select {
  font-size: 0.8rem;
  border: 0;
  border-bottom: 1px solid #727272;
  border-radius: 0px;
  background-color: transparent;
  background-image: url("../img/home/dropdown2.png");
  background-size: 10%;
}
.divWhite .input-group .custom-input {
  font-size: 0.8rem;
  border: 0;
  border-bottom: 1px solid #727272;
  border-radius: 0px;
  background-color: transparent;
  /* background-image: url("../img/home/dropdown2.png"); */
  background-size: 10%;
  padding: 0px 12px;
  height: 33.19px;
  flex: 1 1 auto;
  width: 1%;

}
.divWhite .input-group .form-control {
  font-size: 0.8rem;
  border: 0;
  border-bottom: 1px solid #727272;
  border-radius: 0px;
  background-color: transparent;
}
.divWhite form button {
  width: 100%;
  height: 35px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bolder;
  border: none;
  background-color: #e8051c;
  margin-top: 0.6rem;
}
.whiteRed {
  width: 130px;
  height: 230px;
  background-color: #ffffff;
  margin-top: 120px;
}
.whiteRed .default-ticker-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #d5d5d5;
}
.whiteRed .default-ticker-view p {
  opacity: 0.3;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #727272;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 20px 10px;
}
.vertical-carousel .carousel-root {
  height: 230px;
}
@media only screen and (max-width: 576px) {
  .vertical-carousel {
    display: none;
  }
}
.whiteRed .carousel,
.whiteRed .carousel-sl {
  height: 230px;
}
.whiteRedA {
  width: 130px;
  height: 115px;
  background-color: #ffffff;
  padding: 35px 10px;
}
div.carousel__slider-tray-wrapper {
  height: 230px !important;
  padding: 0 !important;
}
.dummy {
  width: 130px;
  height: 230px;
  border: 1px solid green;
  background-color: darksalmon;
}
.dummy2 {
  width: 130px;
  height: 230px;
  border: 3px solid red;
  overflow: hidden;
}
.ocard1 {
  width: 130px;
  height: 230px;
  background-color: red;
}
.ocard2 {
  width: 130px;
  height: 230px;
  background-color: blue;
}
.ocard3 {
  width: 130px;
  height: 230px;
  background-color: green;
}
.dummy3 {
  width: 90%;
  height: 40px;
  border-bottom: pink;
}
.whiteRedA h3 {
  color: #e7e7e7;
  /* font-size: 24px; */
  font-size: 23px;
  font-family: arial;
  font-weight: 700;
  letter-spacing: -2px;
  padding: 0px;
  margin: -10px 0px 0px -8px;
}
.whiteRedB h3 {
  color: #ff6272;
  /* font-size: 24px; */
  font-size: 21px;
  font-family: arial;
  font-weight: 700;
  letter-spacing: -3px;
  padding: 0px;
  margin: -10px 0px 0px -8px;
}
.whiteRedA h4 {
  font-weight: bold;
}
.whiteRedB {
  width: 130px;
  height: 115px;
  background-color: #e8051c;
  padding: 35px 10px;
}
.whiteRedB h4 {
  color: #ffffff;
  font-weight: bold;
}
.headerHome .whiteRed .whiteRedA .pSmall1,
.headerHome .whiteRed .whiteRedB .pSmall1 {
  font-size: 11px;
  margin-top: -10px;
  font-weight: bold;
}
.headerHome .whiteRed .whiteRedB .pSmall2 {
  color: #ffffff;
  font-size: 11px;
  margin-top: -10px;
  font-weight: bold;
}
.lineRed {
  width: 30%;
  height: 3px;
  background-color: #e8051c;
  margin: auto;
}
.lineWhite {
  width: 30%;
  height: 3px;
  background-color: #ffffff;
  margin: auto;
}
.dropdown1 {
  width: 100%;
  height: 100px;
  padding: 60px 0px;
  margin: 0 auto;
}
.dropdown1 h6 {
  text-align: center;
  margin: 0px;
}
.dropdown1:first-child {
  margin-top: 3%;
}
.dropdown1 a {
  color: #000000;
}
.dropdown1 a:hover {
  color: #000000;
}
.dropdown2 {
  width: 100%;
  height: 175px;
  padding: 5px 0px;
  margin: 0 auto;
}
.dropdown2 h1 {
  color: #dfdfdf;
  font-weight: bold;
  letter-spacing: -3px;
}
.dropdown2 h2 {
  color: #f40019;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: -5px;
  margin-bottom: 13px;
}
.dropdown2 h1,
.dropdown2 h5,
.dropdown2 h2 {
  text-align: center;
  text-indent: -10px;
}
.dropdown2 h5 {
  margin-top: -9px;
}
.dropdown2 h2 {
  margin-top: -23px;
}
.img {
  width: 25px;
  margin: 0 auto;
}
.latestNewsUpdates .container1 p,
.testimonial .container1 p,
.whyCHooseUs .container1 p,
.services .container1 p,
.partners .container1 p {
  color: #7a7a7a;
  font-size: 15px;
  text-align: left;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .slider-wrapper.axis-horizontal
  .slider
  .slide {
  background-image: unset;
  background-repeat: unset;
  background-position: unset;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel .slide {
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel.carousel-slider
  .control-arrow {
  top: 400px;
  opacity: 1;
  width: 60px;
  height: 80px;
  background-color: #000;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel .slide {
  background-color: unset;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel.carousel-slider
  .control-arrow:hover {
  background: rgba(0, 0, 0, 1);
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-prev.control-arrow {
  background-image: url("../img/home/prevL.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-prev.control-arrow:hover {
  background-image: url("../img/home/prevL.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-next.control-arrow {
  background-image: url("../img/home/nextL.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-next.control-arrow:hover {
  background-image: url("../img/home/nextL.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .bottom-part {
  width: 100%;
  height: 80px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel {
  height: 480px;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-disabled.control-arrow {
  display: block;
}
.rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel
  .control-next.control-arrow {
  left: 60px;
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .dropdown2 {
    height: 130px;
  }
  .dropdown2 h2 {
    margin-top: -15px;
    font-size: 36px;
    letter-spacing: -3px;
  }
}
/* ---------REMITTANCE ENDS--------- */
/* ---------WHYCHOOSEUS whyChooseUs--------- */
.whyChooseUs {
  background-image: url("../img/home/dottedMap.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1520px) {
  .whyChooseUs {
    background-image: url("../img/home/dottedMap2.png");
  }
}
@media screen and (max-width: 1260px) {
  .whyChooseUs {
    background-image: url("../img/home/dottedMap3.png");
  }
}
@media screen and (max-width: 1000px) {
  .whyChooseUs {
    background-image: none;
  }
}
@media only screen and (max-width: 576px) {
  .divTextBackground {
    background-position: center -40px !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 500px) {
  .whyChooseUsFistDropdown2 {
    margin: 5px auto 0% auto;
  }
}
@media screen and (min-width: 300px) and (max-width: 420px) {
  .whyChooseUsFistDropdown2 {
    margin: 15px auto 0% auto;
  }
}
.divTextBackground {
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-image: url("../img/home/textBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.readMore {
  float: left;
  color: #c7c7c7;
  font-size: 22px;
  font-weight: bold;
}
.readMore:hover {
  color: #9d9d9d;
}
.picDiv1 {
  position: relative;
  width: 288px;
  height: 400px;
  margin: 25px auto 0px auto;
}
.picDivb img {
  width: 100%;
  height: 100%;
}
.picDiva {
  position: absolute;
  width: 265px;
  height: 370px;
  background-color: red;
  margin: 30px 0px 0px 25px;
}
.picDivb {
  position: absolute;
  width: 270px;
  height: 378px;
}
/* ---------WHYCHOOSEUS ENDS--------- */
/* ---------SERVICES STARTS--------- */
.services {
  background-image: url("../img/home/partnerWave.png");
  background-repeat: no-repeat;
  background-position: 45% 0%;
}
@media only screen and (min-width: 991px) and (max-width: 1140px) {
  .services {
    background-position: 45% -5%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
  .services {
    background-position: 45% -9%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .services {
    background: none;
  }
}
.rowServices {
  margin-top: -80px;
}
.services .container1 .rowServices h1 {
  font-size: 120px;
  font-weight: bold;
  color: #ededed;
  letter-spacing: -7px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 360px 0px 0px -85%;
  animation-fill-mode: unset !important;
}
@media only screen and (min-width: 1350px) {
  .services .container1 .rowServices h1 {
    font-size: 140px;
    margin: 330px 0px 0px -85%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .services .container1 .rowServices h1 {
    font-size: 90px;
    letter-spacing: -5px;
    margin: 330px 0px 0px -50%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .services .container1 .rowServices h1 {
    display: none;
  }
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .services .container1 .rowServices h1 {
    display: none;
  }
}
.services .container1 .rowServices h2 {
  /* font-size: 180px; */
  font-size: 160px;
  font-weight: bold;
  color: #dedede;
  letter-spacing: -7px;
  margin: -70px 0 0 5px;
}
.services .container1 .row p {
  display: inline-block;
}
.carousel {
  overflow: unset;
}
.services .container1 .rowServices .img1 {
  margin: -25px 0px 0px 13px;
}
.services .container1 .row .button1 {
  position: relative;
  width: 130px;
  height: 50px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: bold;
  background-color: #f40019;
  z-index: 3;
  margin: -20px 0px 30px 25px;
}
.services .container1 .row .img2 {
  float: right;
  display: block;
}
.services .container1 .rowPartners img {
  margin: 0;
}
.services
  .container1
  .rowServices
  .carousel
  .carousel-inner
  .carousel-item
  .row {
  padding: 30px 0px 0px 0px;
}
.services
  .container1
  .rowServices
  .carousel
  .carousel-inner
  .carousel-item
  .sliderRow1 {
  background-repeat: no-repeat;
  /*     background-size: 24%;
 */
  background-size: 34%;
  background-position: 70% -10%;
  padding-bottom: 50px;
}
.services
  .container1
  .rowServices
  .carousel
  .carousel-inner
  .carousel-item
  .sliderRow2 {
  background-repeat: no-repeat;
  background-size: 34%;
  background-position: 70% -10%;
  padding-bottom: 50px;
}
.rowServices .carousel-controls {
  position: relative;
  float: right;
  width: 38px;
  height: 80px;
}
.rowServices .carousel-control-next {
  position: absolute;
  /* float: left; */
  width: 38px;
  height: 38px;
  margin: 138px 0px 0px 0px;
}
.rowServices .carousel-control-prev {
  position: absolute;
  /* float: left; */
  width: 38px;
  height: 38px;
  margin: 102px 0px 0px 0px;
}
.rowServices .carousel-control-prev-icon {
  position: relative;
  z-index: 200;
  width: 38px;
  height: 38px;
  background-image: url("../img/home/prev2.png") !important;
  background-size: cover;
}
.rowServices .carousel-control-next-icon {
  position: relative;
  z-index: 200;
  width: 38px;
  height: 38px;
  background-image: url("../img/home/next2.png") !important;
  background-size: cover;
}
.Number01 {
  width: 45px;
  height: auto;
  color: #ffffff;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 100px 0px 0px 20px;
}
.Number01 h4 {
  font-size: 12px;
  font-weight: lighter;
  font-family: Lato-Bold;
  margin: 0px 0px 0px -7px;
}
.Number01 h6 {
  font-size: 18px;
}
.services .container1 .row h5 {
  color: #ffffff;
  font-weight: bold;
  margin: 40px 0px 0px 20px;
}
.services .container1 .rowServices .sliderRow1 p {
  height: 110px;
  overflow: hidden;
  color: #000000;
  line-height: 18px;
  margin: 15px 0% 5% 20px;
}
.services .container1 .rowServices .sliderRow2 p {
  height: 126px;
  overflow: hidden;
  color: #7a7a7a;
  line-height: 18px;
  margin: 15px 0% 5% 20px;
}
.rowPartners .diva {
  width: 160px;
  height: 110px;
  overflow: hidden;
  margin: 5px;
  background-color: transparent;
}
@media only screen and (max-width: 1250px) {
  .Number01 {
    color: #f50b23;
  }
  .services .container1 .row h5 {
    color: #f50b23;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .services .container1 .rowServices .sliderRow1 p {
    margin: 15px 10% 0px -10px;
  }
}
@media only screen and (max-width: 992px) {
  .Number01,
  .Number01 h4,
  .Number01 h6 {
    color: #f40019 !important;
  }
  .rowPartners .diva {
    width: 120px;
    height: 110px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .Number01 {
    margin: 50px 0px 0px -30px;
  }
  .services .container1 .rowServices .sliderRow1 h5 {
    margin: 20px 0px 0px -30px;
  }
  .services .container1 .rowServices .sliderRow1 p {
    margin: 15px 0% 0px -30px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .services .container1 .rowServices .sliderRow1 p {
    margin: 15px 0% 5% 0px;
  }
  .rowPartners .diva {
    width: 120px;
    height: 100px;
  }
}
@media only screen and (max-width: 1350px) {
  .Number01 h4 {
    margin: 0px;
  }
}
@media only screen and (min-width: 1350px) {
  .services .container1 .rowServices .img1 {
    margin: -38px 0px 0px 15px;
  }
  .services
    .container1
    .rowServices
    .carousel
    .carousel-inner
    .carousel-item
    .sliderRow1,
  .services
    .container1
    .rowServices
    .carousel
    .carousel-inner
    .carousel-item
    .sliderRow2 {
    background-repeat: no-repeat;
    background-size: 34%;
    background-position: 72% 100%;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1350px) {
  .rowServices {
    background-image: none;
  }
  .services
    .container1
    .rowServices
    .carousel
    .carousel-inner
    .carousel-item
    .row {
    padding: 40px 0px 0px 0px;
  }
  .services .container1 .rowServices h2 {
    font-size: 120px;
    font-weight: bold;
    color: #dedede;
    letter-spacing: -7px;
    margin-top: -30px;
  }
  .button1 {
    position: relative;
    width: 130px;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: bold;
    background-color: #f40019;
    margin: 37% 0% 0% 6%;
  }
  .services .container1 .rowPartners h1 {
    font-size: 130px;
    font-weight: bold;
    color: #ededed;
    letter-spacing: -7px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    margin: 270px 0px 0px -120px;
  }
  /* |||||||||||||||||||||SERVICES ENDS||||||||||||||||||||| */
  /* |||||||||||||||||||||PARTNERS STARTS||||||||||||||||||||| */
}
@media only screen and (max-width: 1250px) {
  .services.container1
    .rowServices
    .carousel.carousel-inner
    .carousel-item
    .sliderRow1 {
    background-image: none;
  }
  .services.container1
    .rowServices
    .carousel.carousel-inner
    .carousel-item
    .sliderRow2 {
    background-image: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1350px) {
  .services .container1 .rowServices .img1 {
    width: 98%;
  }
}
@media only screen and (max-width: 991px) {
  .services
    .container1
    .rowServices
    .carousel
    .carousel-inner
    .carousel-item
    .sliderRow2 {
    background-image: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .services .container1 .rowServices .img1 {
    width: 92%;
    margin: -25px 0px 0px 13px;
  }
  .services .container1 .rowServices h2 {
    font-size: 80px;
    font-weight: bold;
    color: #dedede;
    letter-spacing: -5px;
    margin-left: 15px;
    margin-bottom: 10px;

  }
}
/* |||||||||||||||||||||SERVICES ENDS||||||||||||||||||||| */
/* |||||||||||||||||||||PARTNERS STARTS||||||||||||||||||||| */
.partners {
  background-image: url("../img/home/partner.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 0% 100%;
}
@media only screen and (max-width: 576px) {
  .partners .container1 .row .img-col::before {
    top: 20px;
    right: -80px;
    width: 0px !important;
  }
  .partners .container1 p {
    padding-top: 20px;
  }
  .partners .container1 .row .img1 {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 992px) {
  .partners {
    background-image: none;
  }
}
@media screen and (min-width: 1350px) {
  .partners {
    background-image: none;
  }
}
@media screen and (max-width: 1130px) {
  .partners {
    background-size: 35%;
    background-position: 0% 80%;
  }
}
@media screen and (max-width: 1030px) {
  .partners {
    background-size: 30%;
    background-position: 0% 70%;
  }
}
.rowPartners {
  margin-top: -20px;
  padding-bottom: 40px;
}
.rowPartners .latest-news-paragraph-col {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .rowPartners {
    padding-bottom: 0px;
  }
  .rowPartners .latest-news-paragraph-col {
    padding: 0;
  }
  .partners .container1 p {
    padding-top: 20px !important;
  }
}
.partners .container1 .row img {
  position: relative;
  float: right;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.services .container1 p,
.partners .container1 p {
  padding-top: 0px;
}
.partners .container1 .row .img-col::before {
  position: absolute;
  display: none;
  content: "";
  /* width: 160px; */
  width: 120px;
  height: 5px;
  top: 30px;
  /* right: -115px; */
  right: -35px;
  z-index: 4;
  background-color: #f40019;
}
.partners .container1 .row .carousel img {
  float: unset;
  width: 100%;
  height: 110px;
  -o-object-fit: contain;
  object-fit: contain;
}
.partners .container1 .row h1 {
  font-size: 130px;
  font-weight: bold;
  color: #ededed;
  letter-spacing: -7px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: -10px -50px 0px 0px;
}
@media screen and (max-width: 1350px) {
  .services .container1 .rowPartners h1 {
    font-size: 90px;
    letter-spacing: -4px;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin: 75px 0px 0px 0px;
  }
}
.rowServices .partners .container1 .row p {
  color: #000000;
  font-size: 16px;
  text-align: left;
  margin-top: 15%;
}
.slider {
  width: 380px;
  height: 300px;
}
.diva,
.divb,
.divc,
.divd,
.dive,
.divf,
.divg,
.divh,
.divi,
.divj,
.divk,
.divl {
  display: inline-block;
  padding: 1% 0%;
  margin: 0px;
}
.partners .rowPartners .carousel-controls {
  float: right;
  width: 120px;
  height: 50px;
  margin: 200px 8% 0px 0px;
}
.partners .rowPartners .carousel-control-next {
  float: right;
  margin-right: 25px;
}
.partners .rowPartners .carousel-control-prev {
  float: right;
}
.carousel-indicators {
  /* float: right; */
}
.carousel-indicators li {
  width: 18px !important;
  height: 5px !important;
  background-color: #f40019 !important;
  margin-right: 0px !important;
}
.partners .rowPartners .carousel-control-prev-icon {
  background-image: url("../img/prev.png") !important;
}
.partners .rowPartners .carousel-control-next-icon {
  background-image: url("../img/next.png") !important;
}
.partners .rowPartners .carousel-indicators {
  width: 85px;
}


.btn-see-more{
  margin-top: 20px;
  float: right;
  border: none;
  font-size: 1.1em;
  background-color: #363636;
  color: #ffffff !important;
  padding: 6px 20px !important;
  cursor: pointer;
 transition: 500ms;

}
.btn-see-more:hover{
  background-color: #f40019;
  color: white !important;
 transition: 500ms;
} 

/* .our-network-div{
  filter: grey; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1); 
} */

/* Disable grayscale on hover */
/* .diva .our-network-div:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); 
  filter: none;
} */



/* |||||||||||||||||||||PARTNERS ENDS||||||||||||||||||||| */
/* |||||||||||||||||||||LATEST NEWS UPDATES STARTS||||||||||||||||||||| */
.latestNewsUpdates {
  background-image: url("../img/home/newsAndUpdates.png");
  background-repeat: no-repeat;
  background-position: 40% 0%;
  padding-bottom: 4%;
}
.latestNewsUpdatesPicture-Div {
  width: 100%;
  height: auto;
}
.latestNewsUpdatesPicture-Div img {
  width: 100%;
}
.rowLatestNewsUpdates .dropdown2 .blackHeading h2 {
  color: #000000;
}
.rowLatestNewsUpdates .img {
  text-align: right;
  margin-right: 132px;
}
.rowLatestNewsUpdates .dropdown2 {
  height: 210px;
}
.rowLatestNewsUpdates p {
  text-align: right;
  padding-left: 22%;
}
.rowLatestNewsUpdates .dropdown2 h1 {
  text-align: right;
  margin-right: 130px;
}
.rowLatestNewsUpdates .dropdown2 h2 {
  text-align: right;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
  float: right;
  /* opacity: 0.9; */
  width: 600px;
  height: 420px;
  z-index: 2;
  position: relative;
  margin-right: -70px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-slider {
  background-color: rgba(244, 0, 25, 0.9);
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-root {
  height: 74%;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .div.slider-wrapper {
  height: unset;
}
.latestNewsUpdates .container1 .rowLatestNewsUpdates h3 {
  font-size: 100px;
  font-weight: bold;
  color: #ededed;
  letter-spacing: -7px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: 130px 0px 0px 0px;
}
@media only screen and (min-width: 1101px) and (max-width: 1220px) {
  .latestNewsUpdatesPicture-Div {
    margin: 30% 0px 0px 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .latestNewsUpdatesPicture-Div {
    margin: 60% 0px 0px 0px;
  }
}
@media only screen and (min-width: 1069px) and (max-width: 1210px) {
  .latestNewsUpdates .container1 .rowLatestNewsUpdates h3 {
    font-size: 80px;
    letter-spacing: -6px;
    margin: 180px 150px 0px 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1070px) {
  .latestNewsUpdates .container1 .rowLatestNewsUpdates h3 {
    font-size: 70px;
    letter-spacing: -4px;
    margin: 180px 120px 0px -68px;
  }
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
  padding: 40px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: -3px;
  text-align: right;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 p {
  color: #ffffff;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 .news1Line-div {
  width: 100%;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 .news1Line {
  float: right;
  width: 240px;
  height: 6px;
  background-color: #ffffff;
  margin: 30px 0px 20px 220px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-item {
  text-align: right;
  height: 330px;
  padding: 70px 70px 0px 70px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-controls {
  width: 100px;
  height: 90px;
  background-color: #000000;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-next {
  opacity: 1;
  /* float: left; */
  width: 30px;
  height: 30px;
  margin: 360px 520px 0px 0px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-prev {
  opacity: 1;
  /* float: left; */
  width: 30px;
  height: 30px;
  margin: 360px 0px 0px 15px;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
  background-image: url("../img/home/prevL.png") !important;
  background-size: cover;
}
.rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-image: url("../img/home/nextL.png") !important;
  background-size: cover;
}
@media only screen and (min-width: 780px) and (max-width: 992px) {
  .rowLatestNewsUpdates p {
    text-align: center;
    padding: 2% 10%;
  }
  .rowLatestNewsUpdates .news1 p {
    padding: 0px;
  }
  .rowLatestNewsUpdates .dropdown2 h1 {
    text-align: center;
    margin: 0px auto 10px auto;
  }
  .rowLatestNewsUpdates .dropdown2 h2 {
    text-align: center;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
    float: none;
    width: 600px;
    height: 390px;
    z-index: 2;
    position: relative;
    margin: 0px auto;
  }
  .rowLatestNewsUpdates .img {
    text-align: center;
    margin: 0px auto;
  }
}
@media only screen and (min-width: 300px) and (max-width: 779px) {
  .latestNewsUpdates {
    background-image: none;
  }
  .rowLatestNewsUpdates p {
    text-align: center;
    padding: 2% 10%;
  }
  .rowLatestNewsUpdates .news1 p {
    padding: 0px;
  }
  .rowLatestNewsUpdates .dropdown2 h1 {
    text-align: center;
    margin: 0 auto;
  }
  .rowLatestNewsUpdates .dropdown2 h2 {
    text-align: center;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
    float: none;
    width: 100%;
    /*height: 420px;rrrr
    background-color: green;
    z-index: 2;
    position: relative;
    margin: 0px auto; */
  }
  .rowLatestNewsUpdates .img {
    text-align: center;
    margin: 0px auto;
  }
}
@media only screen and (max-width: 991px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel {
    height: 380px;
    margin-top: 30px;
  }
  .rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel.carousel-slider
  .control-arrow {
  top: 300px;
  opacity: 1;
  width: 60px;
  height: 80px;
  background-color: #000;
}
}
@media only screen and (max-width: 767px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel {
    height: 380px;
    margin-top: 50px;
  }
  .rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel.carousel-slider
  .control-arrow {
  top: 300px;
  opacity: 1;
  width: 60px;
  height: 80px;
  background-color: #000;
}
}
@media only screen and (max-width: 576px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel {
    height: 360px;
    margin-top: 0px;
  }
  .rowLatestNewsUpdates
  .latestNewsUpdatesRedDiv
  .carousel.carousel-slider
  .control-arrow {
  top: 300px;
  opacity: 1;
  width: 60px;
  height: 80px;
  background-color: #000;
}
  .rowLatestNewsUpdates
    .latestNewsUpdatesRedDiv
    .carousel
    .control-next.control-arrow {
    left: 40px;
  }
  .app-stores {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;

  }
  .footer-links {
    display: flex;
    justify-content: center;
  }
  .row2 {
    padding-top: 40px !important;
  }
  .rowLatestNewsUpdates .col-Latest-news-updates {
    padding: 0;
  }
  .copyrights {
    margin-top: -50px !important;
  }
  .copyrights .container1 {
    margin-bottom: 0;
  }
  .rowPartners .carousel .slider {
    height: unset;
  }
}
@media only screen and (max-width: 768px) {
  .copyrights .container1 {
    margin-bottom: 0;
  }
}
/* |||||||||||||||||||||LATEST NEWS UPDATES ENDS||||||||||||||||||||| */
/* |||||||||||||||||||||TESTIMONIAL STARTS||||||||||||||||||||| */
.testimonial {
  background-image: url("../img/home/newsAndUpdatesprev.png"),
    url("../img/home/testimonal.png") !important;
  background-size: 130% 70%, cover;
  background-position: -270px 200px, 0cpx 0px;
  background-repeat: no-repeat;
  padding-bottom: 3%;
}
.rowTestimonal2 .row1 {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  padding: 0;
}
.rowTestimonal2 .row1 .diva {
  padding: 0;
}
.rowTestimonal2 .row1 .divb {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 0;
}
.rowTestimonal2 .row1 .divc {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  padding: 0;
}
.rowTestimonal2 .row1 .divc1 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.rowTestimonal3 {
  padding-right: 60px;
}
@media only screen and (max-width: 1200px) {
  .rowTestimonal3 {
    padding-right: 0px;
  }
  .rowTestimonal3 .row1 .divc {
    display: none !important;
  }
}
.rowTestimonal3 .row1 {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  padding: 0;
}
.rowTestimonal3 .row1 .diva {
  padding: 0;
}
.rowTestimonal3 .row1 .divb {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 0;
}
.rowTestimonal3 .row1 .divc {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  padding: 0;
}
.rowTestimonal3 .row1 .divc1 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .testimonial {
    background-image: url("../img/home/testimonal.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 84%;
    padding-bottom: 3%;
  }
}
@media only screen and (min-width: 1603px) {
  .testimonial {
    background-position: 0% 40%;
  }
}
@media only screen and (min-width: 2100px) {
  .testimonial {
    background-position: 0% 45%;
  }
}
@media only screen and (max-width: 7991px) {
  /* .testimonial {
    background-image: none !important;
  } */
}
.testimonial .container1 .rowTestimonial1 p {
  bottom: 0px;
  color: gray;
  text-align: left;
  margin-top: 160px;
  margin-left: -2%;
}
@media only screen and (min-width: 1121px) and (max-width: 1220px) {
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 165px;
    margin-left: 2%;
  }
}
@media only screen and (min-width: 1019px) and (max-width: 1120px) {
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 165px;
    margin-left: 6%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1020px) {
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 155px;
    margin-left: 12%;
  }
}
.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7,
.d8,
.d9,
.d10,
.d11,
.d12,
.d13,
.d14 {
  width: 100%;
  /* float: left; */
  background-color: pink;
  border-radius: 10px;
}
.rowTestimonial1,
.rowtestimonial2,
.rowtestimonial3 {
  color: #ffffff;
}
.rowTestimonial2 .col-xl-6,
.rowTestimonial2 .col-lg-6,
.rowTestimonial2 .col-md-6,
.rowTestimonial2 .col-sm-6,
.rowTestimonial2 .col-6 {
  padding: 0px;
}
.rowTestimonial3 .col-xl-6,
.rowTestimonial3 .col-lg-6,
.rowTestimonial3 .col-md-6,
.rowTestimonial3 .col-sm-6,
.rowTestimonial3 .col-6 {
  padding: 0px;
}
.testimonial .container1 h3,
.testimonial .container1 p {
  color: #ffffff;
  text-align: center;
}
.testimonial .container1 p {
  padding: 0% 0%;
}
.box1 {
  width: 340px;
  height: 330px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.box1a {
  width: 340px;
  height: 330px;
  background-color: rgba(225, 0, 0, 0.7);
  padding: 30% 10%;
  margin-left: -340px;
  transition: 0.4s all;
}
.box1:hover .box1a {
  margin-left: 0px;
}
.box2 {
  width: 183px;
  height: 165px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.box2a {
  width: 183px;
  height: 165px;
  background-color: rgba(225, 0, 0, 0.7);
  padding: 20% 10%;
  margin-left: -183px;
  transition: 0.4s all;
}
.box2:hover .box2a {
  margin-left: 0px;
}
.box2 p {
  font-size: 13px;
  line-height: 14px;
}
.box3 {
  width: 290px;
  height: 330px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.box3a {
  width: 310px;
  height: 330px;
  background-color: rgba(225, 0, 0, 0.7);
  padding: 30% 10%;
  margin-left: -310px;
  transition: 0.4s all;
}
.box3:hover .box3a {
  margin-left: 0px;
}
.box1,
.box2,
.box3 {
  cursor: default;
}
/* #man1 {
    background-image: url("../img/man1.png");
}
#man2 {
    background-image: url("../img/man2.png");
}
#man3 {
    background-image: url("../img/man3.png");
}
#man4 {
    background-image: url("../img/man4.png");
}
#man5 {
    background-image: url("../img/man5.png");
}
#man6 {
    background-image: url("../img/man6.png");
}
#man7 {
    background-image: url("../img/man7.png");
}
#man8 {
    background-image: url("../img/man8.png");
}
#man9 {
    background-image: url("../img/man9.png");
}
#man10 {
    background-image: url("../img/man10.png");
}
#man11 {
    background-image: url("../img/man11.png");
}
#man12 {
    background-image: url("../img/man12.png");
} */
.testimonialRedLine {
  width: 60%;
  height: 2px;
  background-color: #f40019;
  margin: 25% auto 0% auto;
}
@media only screen and (max-width: 576px) {
  .box1a {
    display: none;
  }
  .box2a {
    display: none;
  }
  .box3a {
    display: none;
  }
  .rowLatestNewsUpdates
    .latestNewsUpdatesRedDiv
    .carousel.carousel-slider
    .control-arrow {
    width: 40px;
    height: 60px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 991px) {
  .testimonial .container1 .row .col-lg-6,
  .testimonial .container1 .row .col-md-6,
  .testimonial .container1 .row .col-sm-6,
  .testimonial .container1 .row .col-6 {
    padding: 0px;
  }
  .box1a {
    margin-left: -410px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////TESTIMONAL ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 1099px) and (max-width: 1180px) {
  .testimonial .container1 .rowTestimonial1 .dropdown2 h2 {
    margin-left: -5%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1100px) {
  .testimonial .container1 .rowTestimonial1 .dropdown2 h2 {
    margin-left: -12%;
  }
}
@media only screen and (min-width: 103px) and (max-width: 992px) {
  .testimonial .container1 .rowTestimonial1 .dropdown2 h2 {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 576px) {
  .testimonial {
    background-image: none !important;
  }
  .rowTestimonal2 .row1,
  .rowTestimonal3 .row1 {
    justify-content: center;
  }
  .services .container1 .rowServices {
    margin-left: 0;
    margin-right: 0;
  }
  .services .container1 .rowServices h2 {
    font-size: 70px !important;
    letter-spacing: -3px !important;
    padding-bottom: 16px !important;
  }
  .services .container1 .row h5 {
    margin: 0;
  }
  .services .container1 .row .Number01 {
    margin: 0px;
  }
  .services .container1 .rowServices .sliderRow2 p {
    margin: 15px 0 5% 0;
  }
  .services
    .container1
    .rowServices
    .carousel
    .carousel-inner
    .carousel-item
    .row {
    padding: 20px 0px 0px 0px;
  }
  .rowServices .carousel-control-prev {
    margin: 40px 0 0 0;
  }
  .rowServices .carousel-control-next {
    margin: 78px 0 0 0;
  }
  .services .container1 .rowServices .img1 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial .container1 .rowTestimonial1 .dropdown2 {
    height: 100px;
  }
  .testimonial .container1 .rowTestimonial1 .dropdown2 h2 {
    font-size: 45px;
    letter-spacing: -3px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////HOME PAGE ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////ARTICLE STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.article {
  background-image: url("../img/article/articleBackImg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0% 0%;
}
.article .container1 {
  margin: 0px auto 0px auto;
}
.article .container1 .articleRow1 h2 {
  position: absolute;
  color: #000000;
  letter-spacing: -1px;
  margin: 39% 0px 0px 50px;
}
.article .container1 .articleRow1 {
  height: 450px;
}
.article .container1 .articleRow1 h1 {
  position: relative;
  color: #000000;
  font-size: 60px;
  letter-spacing: -4px;
  font-weight: 700;
  z-index: 2;
  margin: 0px 0px -13px 50px;
}
.article .container1 .articleRow1 img {
  position: absolute;
  width: 95%;
  z-index: 1;
}
.article .container1 .articleRow1 .articleRedLine {
  position: absolute;
  width: 5px;
  height: 150px;
  background-color: #f40019;
  z-index: 2;
  margin: 27% 0px 0px 15px;
}
.article .container1 .articleRow1 .News01 {
  color: #ffffff;
  margin: 120px -20px 0px 0px;
}
.article .container1 .articleRow1 .News01 h4 {
  font-size: 12px;
  font-weight: lighter;
  margin: 0px;
}
.article .container1 .articleRow1 .News01 h6 {
  font-size: 18px;
}
.article .container1 .articleRow1 .News01 h5 {
  font-weight: bold;
}
.article .container1 .articleRow1 .News01 p {
  color: #ffffff;
  text-align: unset;
  line-height: 20px;
  padding-right: 12%;
  margin: 30px 0px 0px 0px;
}
.article .container1 .articleRow2 {
  padding: 4% 0% 0% 0%;
}
.article .container1 .articleRow2 h1 {
  color: #f40019;
  font-size: 60px;
  letter-spacing: -2px;
  font-weight: 700;
}
.article .container1 .articleRow2 p,
.article .container1 .articleRow3 p {
  font-size: 16px;
}
.article .container1 .articleRow2 .picDiv1 {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0px auto 20px auto;
}
.article .container1 .articleRow2 .picDivb img {
  width: 100%;
  height: 100%;
}
.article .container1 .articleRow2 .picDiva {
  position: absolute;
  /*float: right;*/
  width: 270px;
  height: 320px;
  background-color: red;
  margin: 30px 0px 0px 25px;
}
.article .container1 .articleRow2 .picDivb {
  position: absolute;
  /*float: left;*/
  width: 275px;
  height: 328px;
}
.article .container1 .articleRow3 {
  padding-bottom: 0%;
}
.Footer {
  background-color: #fff;
}
@media only screen and (min-width: 1581px) {
  .article .container1 .articleRow1 h2 {
    color: #ffffff;
  }
  .article .container1 .articleRow1 h1 {
    position: relative;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: -4px;
    font-weight: 700;
    z-index: 2;
    margin: 0px 0px -13px 50px;
  }
  .article {
    background: none;
  }
  .articleRow1 {
    background-color: #f90d26;
  }
}
@media only screen and (min-width: 1380px) and (max-width: 1580px) {
  .article {
    background-size: 84%;
    background-position: 40% 0%;
  }
}
@media only screen and (min-width: 1021px) and (max-width: 1140px) {
  .article .container1 .articleRow1 {
    height: 420px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 0%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1020px) {
  .article .container1 .articleRow1 {
    height: 370px;
  }
  .article .container1 .articleRow1 .News01 {
    margin: 80px -20px 0px -15px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 5%;
    margin: 10px 0px 0px 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .article .container1 .articleRow1 {
    height: 390px;
  }
  .article .container1 .articleRow2 {
    height: auto;
    margin: 35% 0px 0px 0px;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 95%;
    z-index: 4;
    background-color: #f40019;
    padding: 5%;
    margin: 25% 0px 0px 0px;
  }
  .article {
    background-image: none;
  }
  .article .container1 .articleRow1 .articleRedLine {
    height: 140px;
    margin: 23% 0px 0px 15px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 0%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 578px) {
  .article .container1 .articleRow1 {
    height: 280px;
  }
  .article {
    background-image: none;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 95%;
    z-index: 4;
    background-color: #f40019;
    padding: 5%;
    margin: 27% 0px 0px 0px;
  }
  .article .container1 .articleRow1 .articleRedLine {
    height: 110px;
    margin: 20% 0px 0px 10px;
  }
  .article .container1 .articleRow1 h2 {
    font-size: 25px;
    margin: 42% 0px 0px 30px;
  }
  .article .container1 .articleRow2 {
    margin: 54% 0px 0px 0px;
  }
  .article .container1 .articleRow2 p {
    line-height: 18px;
  }
  .article .container1 .articleRow3 p {
    line-height: 18px;
  }
  .article .container1 .articleRow2 h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .article .container1 .articleRow1 .News01 p {
    margin: 10px 0px 0px 0px;
  }
  .article .container1 .articleRow2 {
    margin: 65% 0px 0px 0px;
  }
}
@media only screen and (max-width: 360px) {
  .article .container1 .articleRow2 {
    margin: 75% 0px 0px 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 430px) {
  .article .container1 .articleRow1 h2 {
    font-size: 25px;
    margin: 42% 0px 0px 20px;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 95%;
    z-index: 4;
    background-color: #f40019;
    padding: 5%;
    margin: 28% 0px 0px 0px;
  }
}
@media only screen and (max-width: 370px) {
  .article .container1 .articleRow2 .picDiv1 {
    width: 230px;
    height: 330px;
    margin: 0px auto 0px auto;
  }
  .article .container1 .articleRow2 .picDiva {
    width: 200px;
    height: 260px;
  }
  .article .container1 .articleRow2 .picDivb {
    width: 210px;
    height: 273px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////ARTICLE ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////NEWS STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/* .news {
  height: 830px;
  background-image: url('../img/news/newsBackImg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4% 0%;
}
.news .container1 {
  margin: 0px auto 0px auto;
}
.news .container1 .newsRow1 {
  height: 450px;
}
.news .container1 .newsRow1  h1 {
  position: relative;
  color: #000000;
  font-size: 60px;
  letter-spacing: -4px;
  font-weight: 700;
  z-index: 2;
  margin: 0px 0px -13px 50px;
}
.news .container1 .newsRow1 img {
  position: absolute;
  width: 95%;
  z-index: 1;
}
.news .container1 .newsRow1 .newsRedLine {
  position: absolute;
  width: 5px;
  height: 150px;
  background-color: #F40019;
  z-index: 2;
  margin: -8% 0px 0px 86%;
}
.news .container1 .newsRow1 h2 {
  position: absolute;
  color: #000000;
  letter-spacing: -2px;
  padding-right: 20%;
  margin: 90% 0px 0px 50px;
}
.news .container1 .newsRow1 .News01 {
  color: #000000;
  margin: 60px -20px 0px 0px;
}
.news .container1 .newsRow1 .News01 h4 {
  font-size: 12px;
  margin: 0px;
}
.news .container1 .newsRow1 h3 {
  color: #F90D26;
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: 700;
}
.news .container1 .newsRow1 .News01 h6 {
  font-size: 18px;
}
.news .container1 .newsRow1 .News01 h5 {
  font-weight: bold;
}
.news .container1 .newsRow1 .News01 p {
  color: #7A7A7A;
  text-align: justify;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
}
.news .container1 .newsRow1 p {
  font-size: 16px;
}
.news .container1 .newsRow1 .spanHeading {
  float: right;
  color: #C4C4C4;
  font-size: 18px;
  font-weight: bold;
  margin: 4% 0% 0% 0%;
} */
@media only screen and (min-width: 1600px) {
  .navbar-light .navbar-nav .nav-link {
    /* background-color: #e8051c; */
    color: black !important;
    /* font-weight: 700; */
  }
  .navFirst .divLeft a, .navFirst .divRight a{
    color: black !important;

  }
  .about-us-header .navbar-light .navbar-nav .nav-link {
    background-color: transparent;
  }
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  nav .navbar-collapse {
    opacity: 0.9;
    background-color: #f40019;
    position: relative;
    z-index: 300;
    padding: 20px 0px;
  }
  .navbar-nav .nav-link {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 920px) {
  .news {
    height: 900px;
  }
}
@media only screen and (max-width: 992px) {
  .news .container1 .newsRow1 .News01 p {
    padding-right: 5%;
  }
  .news .container1 .newsRow1 .spanHeading {
    padding-right: 5%;
  }
  .news .container1 .newsRow1 h3 {
    padding-right: 5%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .news {
    height: 1400px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 110% -20px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    padding-right: 2%;
    margin: 86% 0px 0px 10px;
  }
  .news .container1 .newsRow1 .News01 p {
    padding-right: 3%;
  }
}
@media only screen and (min-width: 479px) and (max-width: 576px) {
  .news {
    height: 1280px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 110% -20px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    padding-right: 2%;
    font-size: 24px;
    letter-spacing: -1px;
    margin: 86% 0px 0px 10px;
  }
  .news .container1 .newsRow1 h3 {
    font-size: 35px;
  }
  .news .container1 .newsRow1 .News01 p {
    padding-right: 3%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .news {
    height: 1400px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 130% -20px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    font-size: 21px;
    letter-spacing: -1px;
    padding-right: 0px;
    margin: 86% 0px 0px 0px;
  }
  .news .container1 .newsRow1 h3 {
    font-size: 30px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////NEWS ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/* ||||||||||||||||||||||||||||||||||MEDIA QUERIES STARTS|||||||||||||||||||||||||||||||||| */
@media only screen and (min-width: 1200px) {
  .div1Index {
    background-position: 0% 100%;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  /*---------HEADER STARTS---------*/
  .div1Index {
    background-image: url("../img/home/bg.png");
    background-repeat: no-repeat;
    background-position: 0% 93%;
    /* max-width: 1120px; */
  }
  .divRed {
    width: 400px;
    height: 380px;
  }
  .divRed h1 {
    width: 540px;
    font-size: 39px;
    padding-right: 8%;
    margin: 22% 0% 0% 10%;
  }
  .divWhite {
    margin: 9% auto 9% auto;
  }
  /*---------HEADER ENDS---------*/
  /*---------WHY CHOOSE US STARTS---------*/
  .container1 {
    width: 90%;
    margin: 20px auto 20px auto;
  }
  .whyChooseUs .container1 p {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .divTextBackground {
    min-height: 440px;
  }
  .picDiv1 {
    position: relative;
    width: 268px;
    height: 380px;
    margin: 25px auto 0px auto;
  }
  .picDiva {
    position: absolute;
    /*float: right;*/
    width: 245px;
    height: 350px;
    background-color: red;
    margin: 30px 0px 0px 25px;
  }
  .picDivb {
    position: absolute;
    /*float: left;*/
    width: 250px;
    height: 358px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////WHY CHOOSE US ENDS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
}

@media only screen and (min-width: 992px) and (max-width: 1099px) {
  .divRed {
    width: 300px;
    height: 250px;
    margin: 9% 0% 0% 0%;
  }
  .divRed h1 {
    width: 420px;
    font-size: 27px;
    font-weight: bold;
    -webkit-text-stroke: 0.7px #ffffff;
    line-height: 34px;
    letter-spacing: 0px;
    padding-right: 22%;
    margin: 20% 0% 0% 10%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .divRed {
    width: 350px;
    height: 270px;
    margin: 9% 0% 0% 0%;
  }
  .divRed h1 {
    width: 420px;
    font-size: 27px;
    font-weight: bold;
    -webkit-text-stroke: 0.7px #ffffff;
    line-height: 34px;
    letter-spacing: 0px;
    padding-right: 22%;
    margin: 20% 0% 0% 10%;
  }
  .divWhite {
    width: 270px;
    height: 280px;
    padding: 25px;
    margin: 9% 0% 9% 20%;
  }
  .container1 {
    width: 100%;
    margin: 0px auto 20px auto;
  }
  .dropdown2 {
    height: 160px;
  }
  .divTextBackground {
    min-height: 380px;
  }
  .picDiv1 {
    position: relative;
    width: 218px;
    height: 330px;
    margin: 25px auto 0px auto;
  }
  .picDiva {
    position: absolute;
    width: 195px;
    height: 300px;
    background-color: red;
    margin: 30px 0px 0px 25px;
  }
  .picDivb {
    position: absolute;
    width: 200px;
    height: 308px;
  }
  .services .container1 .row .img2 {
    float: right;
    display: none;
  }
  .services .container1 .row p {
    line-height: 16px;
  }
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .navFirst .divRight {
    width: 60%;
  }
  .divRed h1 {
    width: 470px;
    font-size: 36px;
    padding-right: 0%;
  }
  .divWhite {
    margin: 20px auto 20px auto;
  }
  .whiteRed {
    margin: 50px auto 20px auto;
  }
  .dropdown2 {
    height: 160px;
  }
  .divTextBackground {
    height: auto;
    min-height: 100px;
    background-image: none;
  }
  .picDiv1 {
    position: relative;
    width: 200px;
    height: 310px;
    margin: 8% auto 0% auto;
  }
  .picDiva {
    position: absolute;
    width: 175px;
    height: 280px;
    background-color: red;
    margin: 30px 0px 0px 25px;
  }
  .picDivb {
    position: absolute;
    width: 180px;
    height: 288px;
  }
  .container1 {
    width: 100%;
    margin: 20px auto 20px auto;
  }
  .whyChooseUs .container1 p {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .services .container1 .row .img2 {
    display: none;
  }
  .slider {
    width: 100%;
    height: 240px;
    margin: 0 auto;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////LATEST NEWS UPDATES STARTS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
  .rowLatestNewsUpdates .img {
    text-align: right;
    margin: 0 auto;
  }
  .rowLatestNewsUpdates p {
    text-align: center;
    padding: 2% 10%;
  }
  .rowLatestNewsUpdates .news1 p {
    padding: 0px;
  }
  .rowLatestNewsUpdates .dropdown2 h1 {
    text-align: center;
    margin: 0px auto 10px auto;
  }
  .rowLatestNewsUpdates .dropdown2 h2 {
    text-align: center;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
    float: none;
    width: 100%;
    height: 380px;
    background-color: #f40019;
    z-index: 2;
    position: relative;
    margin: 0 auto;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-item {
    height: 310px;
    padding: 50px 50px 0px 40px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
    width: 100%;
    height: 260px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 p {
    text-align: right;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-controls {
    width: 100px;
    height: 70px;
    position: relative;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-next {
    position: absolute;
    margin: 20px 15px 0px 0px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-prev {
    position: absolute;
    margin: 20px 0px 0px 15px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////LATEST NEWS UPDATES ENDS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
  .rowTestimonial3 {
    opacity: 0.1;
  }
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 0px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////TESTIMONIAL STARTS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
  .box1 {
    width: 290px;
    height: 280px;
  }
  .box1a {
    width: 290px;
    height: 280px;
    padding-top: 20%;
    margin-left: -320px;
  }
  .box2 {
    width: 140px;
    height: 140px;
  }
  .box2a {
    width: 140px;
    height: 140px;
    padding-top: 0%;
    margin-left: -180px;
  }
  .box2:hover .box2a {
    margin-left: 0px;
  }
  .box2 p {
    font-size: 13px;
    line-height: 14px;
  }
  .box3 {
    height: 280px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////TESTIMONIAL ENDS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
}
@media only screen and (max-width: 350px) {
  .whiteRedB h3 {
    font-size: 20px;
    margin: -28px 0px 10px -8px;
  }
}
@media only screen and (max-width: 992px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -2px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 .news1Line {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
    padding: 30px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 h1 {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 .news1Line {
    width: 160px;
    height: 4px;
    margin: 10px 0px 10px 220px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 p {
    line-height: 20px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .navFirst .divRight {
    width: 60%;
  }
  .navFirst .divRight span {
    float: left;
  }
  .headerHome {
    padding: 40px 0px 10px 0px;
  }
  .divRed {
    display: none;
  }
  .divWhite {
    width: 100%;
    max-width: 450px;
    height: 260px;
    padding: 50px 25px;
    box-shadow: 0px 0px 20px 5px gray;
    margin: 10px auto 0px auto;
  }
  .whiteRed {
    margin: 20px auto 20px auto;
  }
  .whiteRed {
    width: 100%;
    max-width: 450px;
    height: 100px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 5px gray;
  }
  .whiteRedA {
    float: left;
    width: 50%;
    height: 100px;
    background-color: #ffffff;
    padding: 25px 10px;
  }
  .whiteRedA h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .whiteRedB {
    float: left;
    width: 50%;
    height: 100px;
    background-color: #e8051c;
    padding: 25px 10px;
  }
  .whiteRedA h3 {
    margin: -28px 0px 10px -8px;
  }
  .whiteRedB h3 {
    margin: -28px 0px 10px -8px;
  }
  .whiteRedB h4 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  .remittance {
    padding-bottom: 60px;
  }
  .pSmall1 {
    font-size: 9px;
    margin-top: -10px;
    font-weight: bold;
  }
  .pSmall2 {
    color: #ffffff;
    font-size: 9px;
    margin-top: -10px;
    font-weight: bold;
  }
  .lineRed {
    width: 40px;
    height: 2px;
    background-color: #e8051c;
    margin-top: -10px;
    margin-left: 30%;
  }
  .lineWhite {
    width: 40px;
    height: 2px;
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: 30%;
  }
  .rowLatestNewsUpdates .dropdown2 {
    height: 170px;
  }
  .rowLatestNewsUpdates .dropdown2 h2 {
    font-size: 46px;
    letter-spacing: -3px;
  }
  .divTextBackground {
    min-height: 400px;
  }
  .picDiv1 {
    position: relative;
    width: 250px;
    height: 320px;
    margin: 8% auto 0% auto;
  }
  .picDiva {
    position: absolute;
    /*float: right;*/
    width: 225px;
    height: 310px;
    background-color: red;
    margin: 30px 0px 0px 25px;
  }
  .picDivb {
    position: absolute;
    /*float: left;*/
    width: 230px;
    height: 318px;
  }
  .Number01 h4 {
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
  }
  .Number01 h6 {
    font-size: 18px;
  }
  .services .container1 .rowServices h2 {
    font-size: 90px;
    letter-spacing: -6px;
  }
  .services .container1 .rowServices .img1 {
    margin-top: 0px;
    margin: -30px 0px 0px 0px;
  }
  .services .container1 .row .img2 {
    margin-top: 20px;
  }
  .button1 {
    position: relative;
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: bold;
    background-color: #f40019;
    margin: 36% 0% 0% 6%;
  }
  .rowLatestNewsUpdates .img {
    text-align: center;
    margin: 0 auto;
  }
  .rowLatestNewsUpdates p {
    text-align: center;
    padding: 5% 0%;
  }
  .rowLatestNewsUpdates .news1 p {
    padding: 0px;
  }
  .rowLatestNewsUpdates .dropdown2 h1 {
    text-align: center;
    margin: 0px auto 10px auto;
  }
  .rowLatestNewsUpdates .dropdown2 h2 {
    text-align: center;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 h1 {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
    padding: 20px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 .news1Line {
    float: right;
    width: 180px;
    height: 4px;
    background-color: #ffffff;
    margin: 10px 0px 10px 220px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
    float: none;
    width: 100%;
    height: 310px;
    background-color: #f40019;
    z-index: 2;
    position: relative;
    margin: 0 auto;
  }
  .slider {
    height: 290px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-item {
    height: 250px;
    padding: 20px 20px 0px 10px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
    width: 100%;
    height: 230px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 p {
    text-align: right;
    font-size: 12px;
    line-height: 16px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-controls {
    position: relative;
    width: 100px;
    height: 60px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-next {
    position: absolute;
    margin: 15px 15px 0px 0px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-control-prev {
    position: absolute;
    margin: 15px 0px 0px 15px;
  }
  .testimonial .container1 .rowTestimonial1 p {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 p {
    text-align: right;
    font-size: 11px;
    line-height: 16px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 h1 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .news1 {
    padding: 10px;
  }
}

@media only screen and (min-width: 460px) and (max-width: 576px) {
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////TESTIMONIAL STARTS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
  .box1 {
    width: 225px;
    height: 225px;
  }
  .box1a {
    width: 225px;
    height: 225px;
    padding-top: 20%;
    margin-left: -235px;
  }
  .box2 {
    width: 110px;
    height: 110px;
  }
  .box2a {
    width: 110px;
    height: 110px;
    padding-top: 0%;
    margin-left: -140px;
  }
  .box2:hover .box2a {
    margin-left: 0px;
  }
  .box2 p {
    font-size: 13px;
    line-height: 14px;
  }
  .box3 {
    width: 220px;
    height: 220px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////TESTIMONIAL ENDS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
}
/* ||||||||||||||||||||||||||||||||||MEDIA QUERIES|||||||||||||||||||||||||||||||||| */
@media only screen and (max-width: 460px) {
  .diva,
  .divb,
  .divc,
  .divd,
  .dive,
  .divf,
  .divg,
  .divh,
  .divi,
  .divj,
  .divk,
  .divl {
    padding: 1% 2%;
  }
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv .carousel-controls {
    margin: 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .headerHome .whiteRed .whiteRedA .pSmall1,
  .headerHome .whiteRed .whiteRedB .pSmall2 {
    text-align: center;
  }
}
@media only screen and (max-width: 520px) {
  /* |||||||||||||||||||||TESTIMONIAL STARTS||||||||||||||||||||| */
  .testimonial .container1 .row .col-lg-6,
  .testimonial .container1 .row .col-md-6,
  .testimonial .container1 .row .col-sm-6,
  .testimonial .container1 .row .col-6 {
    padding: 0px;
  }
  .box1 {
    width: 160px;
    height: 160px;
  }
  .box1a {
    width: 180px;
    height: 180px;
    padding-top: 20%;
    margin-left: -180px;
  }
  .box2 {
    width: 80px;
    height: 80px;
  }
  .box2a {
    width: 80px;
    height: 80px;
    padding-top: 0%;
    margin-left: -80px;
  }
  .box2:hover .box2a {
    margin-left: 0px;
  }
  .box2 p {
    font-size: 13px;
    line-height: 14px;
  }
  .box3 {
    width: 160px;
    height: 160px;
  }
  /*//////////////////////////////////////////////////////////////////////////*/
  /*/////////////////////////////////////TESTIMONIAL ENDS/////////////////////////////////////*/
  /*//////////////////////////////////////////////////////////////////////////*/
}
@media only screen and (max-width: 350px) {
  .slider {
    width: 100%;
    height: 380px;
  }
  .diva,
  .divb,
  .divc,
  .divd,
  .dive,
  .divf,
  .divg,
  .divh,
  .divi,
  .divj,
  .divk,
  .divl {
    padding: 1% 2%;
  }
}
/*---------HEADER STARTS---------*/
@media only screen and (max-width: 350px) {
  .navSecond img {
    float: left;
    width: 100px;
  }
}
/*---------HEADER ENDS---------*/
@media only screen and (max-width: 400px) {
  .rowLatestNewsUpdates .dropdown2 {
    height: 140px;
  }
}
@media only screen and (max-width: 310px) {
  .rowLatestNewsUpdates .latestNewsUpdatesRedDiv {
    display: none;
  }
}
/* ||||||||||||||||||||||||||||||||||MEDIA QUERIES ENDS|||||||||||||||||||||||||||||||||| */

.rating-card-btn{
  background:#a0a0a0;
  color:white; 
  margin:0px 0px 8px;
  padding:10px 16px;
  font-size:18; 
  border: 0; 
  border-radius: 2px; 
}

.rating-card-btn:hover{
  background:#f40019;
  color:white; 
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

