/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////PRIVACY STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
*{
	margin: 0px;
	padding: 0px;
}
.privacy {
	padding: 4% 0% 0% 0%;
}
.privacy .container1 h1 {
	font-size: 80px;
	font-weight: bold;
	color: #EDEDED;
	line-height: 30px;
	letter-spacing: -6px;
	z-index: 1;
	margin: 0px 0px -15px 80px;
}
.privacy .container1 img {
	position: relative;
	width: 100%;
	z-index: 2;
}
.privacy .container1 .privacyRedLine {
	position: relative;
	width: 5px;
	height: 160px;
	background-color: #F40019;
	z-index: 2;
	margin: -100px 0px 0px 15px;
}
.privacy .container1 .privacyContent {
	width: 84%;
	max-width: 1120px;
	margin: 0 auto;
}
.privacy .container1 h2 {
	font-size: 50px;
	font-weight: bold;
	color: #F90D26;
	letter-spacing: 0px;
}
.privacy .container1 h4 {
	font-size: 32px;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0px;
	margin: -10px 0px 30px 0px;
}
.privacy .container1 h6 {
	font-weight: bold;
	color: #000000;
}
.privacy .container1 p {
	color: #7A7A7A;
	text-align: justify;
	margin: -5px 0px 30px 0px;
}
@media only screen and (min-width: 767px) and (max-width: 900px) {
	.privacy .container1 h1 {
		font-size: 70px;
		margin: 0px 0px -13px 50px;
	}
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
	.privacy .container1 .privacyContent {
		width: 100%;
		max-width: 1120px;
		margin: 0 auto;
	}
	.privacy .container1 h1 {
		font-size: 52px;
		letter-spacing: -5px;
		margin: 0px 0px -9px 30px;
	}
	.privacy .container1 .privacyRedLine {
		width: 4px;
		height: 100px;
		margin: -70px 0px 0px 15px;
	}
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
	.privacy .container1 .privacyContent {
		width: 100%;
		max-width: 1120px;
		margin: 0 auto;
	}
	.privacy .container1 h1 {
		font-size: 52px;
		letter-spacing: -4px;
		text-align: center;
		margin: 0px 0px -9px 0px;
	}
	.privacy .container1 .privacyRedLine {
		width: 4px;
		height: 90px;
		margin: -70px 0px 0px 10px;
	}
	.privacy .container1 h2 {
		font-size: 34px;
	}
	.privacy .container1 h4 {
		font-size: 22px;
	}
}
@media only screen and (max-width: 400px) {
	.privacy .container1 .privacyContent {
		width: 100%;
		max-width: 1120px;
		margin: 0 auto;
	}
	.privacy .container1 h1 {
		font-size: 40px;
		text-align: center;
		letter-spacing: -2px;
		margin: 0px 0px -8px 0px;
	}
	.privacy .container1 .privacyRedLine {
		width: 3px;
		height: 60px;
		margin: -45px 0px 0px 10px;
	}
	.privacy .container1 h2 {
		font-size: 28px;
	}
	.privacy .container1 h4 {
		font-size: 18px;
	}
	.privacy .container1 p {
		line-height: 20px;
	}
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////PRIVACY ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/