/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard PROMOTIONS (UD) STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.dashboard1 .divB #DashboardPromotionsUD {
	display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
.dashboard1 .divB .divScroll .card {
	box-shadow: 3px 3px 0px 0px #EEEEEE;
	margin: 5px;
}
.dashboard1 .divB .divScroll .card img {
	display: block;
}
.dashboard1 .divB .divScroll .card .card-body .card-title {
	color: #F6051D;
	font-size: 18px;
}
.dashboard1 .divB .divScroll .card .card-body .card-subtitle {
	color: #000000 !important;
	font-size: 12px;
	font-weight: 600;
}
.dashboard1 .divB .divScroll .card .card-body .card-text {
	width: 100%;
	color: #A2A2A2;
	font-size: 12px;
	margin-bottom: 7px;
}
.dashboard1 .divB .divScroll .card .card-body .btn {
	font-weight: 600;
	border: none;
	border-radius: 0px;
	background-color: #F6051D;
	padding: 3px 10px;
}
.dashboard1 .divB .divScroll .card .card-body .expireDate {
	display: inline;
	float: right;
	color: #A2A2A2;
	font-size: 12px;
	margin: 15px 0px 0px 0px;
}

@media only screen and (max-width: 400px) {
	
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard PROMOTIONS (UD) ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/