/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////COMPANY OVERVIEW STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
.companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span1{
  display: inline;
  float: left;
  width: 250px !important;
  margin-left: 1% !important;
}
.companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span2 p{
    color: #000000;
    font-size: 15px !important;
    padding-right: 15px;
    margin-bottom: 0px;
    line-height: 12px;
}
.companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 .picDivb img{
    width: 100%;
    min-height: 800px;
}
.companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span1 h6{
    font-size: 16px !important;
    margin-bottom: 0.2rem;
}
.companyOverview .container1 .companyOverviewContent .row {
  padding: 4% 0%;
}
.companyOverview {
  background-repeat: no-repeat;
  background-size: contain;
}
.companyOverview .container1 .companyOverviewContent h2 {
  font-size: 70px;
  font-weight: bold;
  color: #e5e5e5;
  letter-spacing: -4px;
}
.companyOverview .container1 .companyOverviewContent p {
  color: #7a7a7a;
  text-align: justify;
}
.companyOverview .container1 .companyOverviewContent .picDivb {
  width: 95%;
  height: auto;
}
.companyOverview .container1 .companyOverviewContent .first-img:before {
  z-index: 0;
  content: "";
  position: absolute;
  width: 380px;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  height: 910px;
  background: #f90d26;
  margin: -240px 0px 0 -350px;
}
.companyOverview .container1 .companyOverviewContent .picDivb img {
  position: relative;
  width: 100%;
  z-index: 1;
}
.companyOverview .container1 .CompanyOverviewRedLine {
  position: relative;
  width: 5px;
  height: 160px;
  background-color: #f40019;
  z-index: 2;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: -200px 0px 50px 0px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  .divHeading {
  width: 240px;
  height: 75px;
  background-color: #f3f2f2;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3 {
  margin-top: 130px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  .divHeading
  h1 {
  width: 190px;
  font-size: 140px;
  color: #e5e5e5;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -8px;
  border-bottom: 5px solid #f40019;
  padding-bottom: 15px;
  margin: 0% 0% 0% 10%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  .picDivb {
  width: 100%;
  height: auto;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  .picDivb
  img {
  width: 100%;
}

.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul {
  margin-top: 150px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  ul {
  margin-top: 0px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  ul
  li {
  margin-top: 0px;
  padding-top: 0px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li {
  float: left;
  width: 120%;
  padding: 5px 0px;
  background-color: #f0f0f0;
  list-style-type: none;
  margin: 20px 0px 0px 0px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li.keyFeature
  .span2
  p
  li,
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li.documents
  .span2
  p
  li {
  list-style-type: disc;
  margin-top: 0px !important;
  padding-top: 0px;
}

.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  .span1 {
  display: inline;
  float: left;
  width: 170px;
  margin-left: 3%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  .span1
  h6 {
  font-size: 20px;
  margin-bottom: 0.2rem;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  .span2 {
  display: inline;
  width: 40%;
  float: right;
  margin-right: 18%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow2
  ul
  li
  .span2
  p {
  color: #000000;
  font-size: 18px;
  padding-right: 15px;
  margin-bottom: 0px;
}

.transfer_row-main-div {
  width: 100%;
  min-height: 100px;
  background-color: #f6f6f6;
  padding: 40px 50px 20px 50px;
  margin: 0 auto;
}
.transfer_row-main-div .transfer_row h1 {
  color: #5c5c5c;
  font-size: 35px;
}
.reviews-main-div {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
}
.all-stars-div {
  padding: 7px 0 0 0;
}
.transfer_row-main-div .review {
  width: 10%;
  padding: 0 20px;
}
.our-network-rating-cards-main-div .review {
  padding: unset;
}
.review span {
  display: block;
  font-size: 8px;
}
.write_review {
  color: #005aff;
  font-weight: bold;
  letter-spacing: 0.4px;
  font-size: 10px;
  -webkit-text-stroke: 0.5px #005aff;
  margin: 10px 0 0 10px;
}
.write_review a {
  color: unset;
  text-decoration: none;
}
.three-twenty {
  font-weight: bold;
  font-size: 11px;
  margin-top: 0px;
}

.buttonGoto {
  width: 270px;
  color: #fff;
  font-size: 17px;
  border: 2px solid #3c3c3c;  
  background-color: #3c3c3c;
  padding: 8px 0px;
  transition: 500ms;
}

.buttonGoto:hover {
  width: 270px;
  /* color: black; */
  border: 2px solid black;  
  font-size: 16px;
  background-color: #f90d26;
  padding: 8px 0px;
  transition: 500ms;
}
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .buttonGoto {
    width: 100%;
  }
}

.transfer_row .div10 {
  float: right;
  width: 270px;
  height: 100px;
}
.transfer_row .divA {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}
.transfer_row .divA input {
  width: 85px;
  height: 30px;
  color: #ffffff;
  text-indent: 15px;
  background-color: #e5e5e5;
  border: 1px solid #a5a5a5;
}
::placeholder {
  color: #ffffff;
}
.transfer_row .divA label {
  color: #6e6e6e;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.transfer_row .divB {
  width: 100%;
  height: 50px;
}
input {
  width: 100px;
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  .transfer_row .div10 {
    width: 100%;
  }
  .transfer_row input {
    width: 30%;
  }
}

.GOTO:hover {
  background-color: #969696;
}

.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow1
  .contentDiv {
  padding: 0 50px;
}
/* ----- companyOverviewContentRow3 Starts ----- */
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3Div1 {
  width: 7%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3Div2 {
  width: 93%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3Div2
  .mapMainDiv {
  width: 100%;
  margin-top: 8px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3
  h1 {
  color: #d9d9d9;
  width: 470px;
  font-size: 45px;
  font-weight: 700;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 203px 0px 0px -190px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3
  img {
  width: 100%;
}
/* ----- companyOverviewContentRow3 Ends ----- */
/* ----- divBottom Starts ----- */
.divBottom {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  padding: 0% 0% 4% 0%;
}
.divBottom .companyOverviewContentRow4 {
  padding: 4% 0%;
}
.divBottom .companyOverviewContentRow4 .carousel .slide {
  background-color: transparent;
  text-align: left;
}
.divBottom .companyOverviewContentRow4 .carousel {
  display: none;
}
.divBottom .companyOverviewContentRow4 .carousel-slider {
  display: block;
}
.divBottom .companyOverviewContentRow4 .divHeading h1 {
  font-size: 140px;
  color: #e5e5e5;
  font-weight: bold;
  letter-spacing: -8px;
  margin: 0% 0% 9% 10%;
}
.divBottom
  .companyOverviewContentRow4
  .carousel.carousel-slider
  .control-arrow {
  width: 30px;
  height: 30px;
  background-color: #262626;
}
.divBottom
  .companyOverviewContentRow4
  .carousel
  .control-disabled.control-arrow {
  display: unset;
  opacity: 1;
}

.divBottom .companyOverviewContentRow4 .carousel {
  height: 320px;
}

.divBottom .companyOverviewContentRow4 .carousel .control-prev {
  background-image: url("../img/CompanyOverview/prev.png");
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 270px 0 0 970px;
}
.divBottom .companyOverviewContentRow4 .carousel .control-next {
  background-image: url("../img/CompanyOverview/next.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 7px 0px;
  margin: 270px 90px 0 0px;
}
@media only screen and (max-width: 1280px) {
  .divBottom .companyOverviewContentRow4 .carousel .control-prev {
    margin: 130px 0 0 100px;
  }
  .divBottom .companyOverviewContentRow4 .carousel .control-next {
    margin: 130px 90px 0 0;
  }
}
@media only screen and (max-width: 1180px) {
  .divBottom .companyOverviewContentRow4 .carousel .control-prev {
    margin: 130px 0 0 90px;
  }
  .divBottom .companyOverviewContentRow4 .carousel .control-next {
    margin: 130px 90px 0 0;
  }
}
@media only screen and (max-width: 991px) {
  .divBottom .companyOverviewContentRow4 .carousel .control-prev {
    margin: 130px 0 0 10px;
  }
  .divBottom .companyOverviewContentRow4 .carousel .control-next {
    margin: 130px 10px 0 0;
  }
  .divBottom .companyOverviewContentRow4 .john-row .mr-john {
    padding: 20px 80px 0 0;
  }
  .divBottom .companyOverviewContentRow4 .john-row .inverted-coma2,
  .divBottom .companyOverviewContentRow4 .john-row .inverted-coma {
    display: none;
  }
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0px;
  display: inline-block;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
}

.divBottom .companyOverviewContentRow4 .john-row .inverted-coma {
  width: 50px;
  margin-top: -40px;
}
.divBottom .companyOverviewContentRow4 .john-row .inverted-coma2 {
  width: 50px;
  padding-top: 180px;
  margin-left: -50px;
}
.divBottom .companyOverviewContentRow4 .john-row .john-detail h5 {
  padding-top: 0px;
}
.divBottom .companyOverviewContentRow4 .john-row .pic1 {
  position: relative;
  width: 77%;
  height: auto;
  margin: -20% auto 0% 25%;
}
.divBottom .companyOverviewContentRow4 .john-row .pic-i {
  position: absolute;
  width: 46%;
  height: 250px;
  background-color: #e8051c;
  margin: -3% 0px 0px 38%;
}
.divBottom .companyOverviewContentRow4 .john-row .pic-j {
  position: absolute;
  width: 80%;
  height: 250px;
}
.divBottom .companyOverviewContentRow4 .john-row .john-img {
  width: 101%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.divBottom .companyOverviewContentRow4 .john-row #para2 {
  color: #000;
  font-size: 14px;
}
.divBottom .companyOverviewContentRow4 .john-row .mr-john {
  background-color: transparent;
  margin-top: 60px;
  height: auto;
}
.divBottom .companyOverviewContentRow4 .john-row {
  padding: 0% 0%;
  margin-bottom: 50px;
}
.carousels {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #000;
  margin-left: 87%;
  margin-top: -5%;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background-image: url("../img/CompanyOverview/bg-slider.png");
  background-repeat: no-repeat;
  background-position: center;
}
.reviewsCarousels .carousel-control-prev {
  margin-top: 0;
  margin-left: 6%;
}
.reviewsCarousels .carousel-control-next {
  margin-top: 0;
}

.carousels .carousel-control-prev {
  position: absolute;
  opacity: 1;
  width: 50%;
}

.carousels .carousel-control-next {
  position: absolute;
  opacity: 1;
  width: 50%;
  margin-right: 2%;
}
.divBottom .companyOverviewContentRow5 .container1 .row {
  padding: 10px 0px;
}
.divBlack {
  width: 100%;
  background-color: #000000;
  border-radius: 120px;
  padding: 4% 0%;
  margin: 5% 0% 0% 0%;
}
.companyOverviewContentRow5 .container1 .divBlack p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  padding-left: 10%;
  margin-top: 2%;
}
.divBlack h3 {
  width: 96%;
  height: 40px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  background-color: #f90d26;
  border-radius: 50px;
  margin: 4% 0% 0% 0%;
}
/* ----- divBottom Ends ----- */
/* iframe map starts*/
.mapouter {
  position: relative;
  text-align: right;
  height: 450px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 100%;
}
/* iframe map ends*/

/* ----- companyOverviewContentRow3 Starts ----- */
@media only screen and (min-width: 1901px) {
  .companyOverview {
    background-image: none;
  }
}
@media only screen and (min-width: 1671px) and (max-width: 1900px) {
  .companyOverview {
    background-size: 90%;
    background-position: 80% 1%;
  }
}
@media only screen and (min-width: 1330px) and (max-width: 1670px) {
  .companyOverview {
    background-size: 90%;
    background-position: 40% 1%;
  }
}
@media only screen and (min-width: 1181px) and (max-width: 1330px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 35px;
    margin: 200% 0px 0px -190px;
  }
}
@media only screen and (min-width: 1051px) and (max-width: 1180px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 95%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 35px;
    margin: 260% 0px 0px -220px;
  }
}
@media only screen and (min-width: 889px) and (max-width: 1050px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 95%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 25px;
    margin: 140% 0px 0px -220px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 890px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 0%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 100%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    display: none;
    font-size: 0px;
    margin: 0px;
  }
}
/* ----- companyOverviewContentRow3 Ends ----- */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  .divBottom .companyOverviewContentRow4 .pic1 {
    display: none;
  }
  .divBottom .companyOverviewContentRow4 .pic-i {
    position: absolute;
    width: 46%;
    height: 230px;
    background-color: #e8051c;
    margin: -5% 0px 0px 50%;
  }
  .divBottom .companyOverviewContentRow4 .pic-j {
    position: absolute;
    width: 90%;
    height: auto;
  }
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .divBottom .companyOverviewContentRow4 .mr-john img {
    display: none;
  }
  .divBottom .companyOverviewContentRow4 .john-row {
    height: 400px;
  }
  .carousels {
    margin-left: 75%;
    margin-top: -13%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 1090px) {
  .divBottom .companyOverviewContentRow5 .container1 .divBlack h3 {
    width: 96%;
    height: 40px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    background-color: #f90d26;
    border-radius: 50px;
    margin: 10% 0% 0% 0%;
  }
}
@media only screen and (min-width: 220px) and (max-width: 768px) {
  .divBottom .companyOverviewContentRow5 .container1 .divBlack {
    width: 100%;
    background-color: #000000;
    border-radius: 120px;
    padding: 0% 0%;
  }
  .divBottom .companyOverviewContentRow5 .container1 .divBlack p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    padding-left: 10%;
    margin-top: 4%;
  }
  .divBottom .companyOverviewContentRow5 .container1 .divBlack h3 {
    width: 80%;
    margin: 0% auto 4% auto;
  }
}
@media only screen and (min-width: 1189px) and (max-width: 1320px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .picDivb {
  }
}
@media only screen and (min-width: 1099px) and (max-width: 1190px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .picDivb {
    margin: 70% 0% 0% 0%;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 .picDivb img{
    width: 100%;
    min-height: 630px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .picDivb {
    margin: 90% 0% 0% 0%;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 .picDivb img{
    width: 100%;
    min-height: 600px;
}
}
@media only screen and (min-width: 899px) and (max-width: 1090px) {
  .companyOverview .container1 .companyOverviewContent .row .col-Text {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 992px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .picDivb {
    width: 70%;
    height: auto;
    margin: 6% auto 4% auto;
  }
  .companyOverview {
    background-image: none;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb img {
    width: 100%;
    display: none;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span1{
    display: inline;
    float: left;
    width: 170px !important;
    margin-left: 1% !important;
  }
  .companyOverview .container1 .companyOverviewContent .first-img:before {
    display: none;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li {
    width: 100%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2 {
    width: 62%;
    margin-right: 0%;
  }
}
@media only screen and (width: 992px) {
  .companyOverview .container1 .companyOverviewContent .picDivb {
    display: none;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li {
    width: 120%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 900px) {
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul {
    margin-top: 80px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .divHeading
    h1 {
    width: 130px;
    font-size: 100px;
    margin: 0% 0% 0% 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li {
    width: 100%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2 {
    width: 55%;
    margin-right: 0%;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    width: 130px;
    font-size: 100px;
    /* margin: 0% 0% -15% 5%; */
  }
  /* companyOverviewContentRow4 */
}
@media only screen and (max-width: 610px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul {
    margin-top: 50px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .divHeading
    h1 {
    width: 130px;
    font-size: 80px;
    letter-spacing: -5px;
    padding-bottom: 15px;
    margin: 0% 0% 0% 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li {
    width: 100%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span1 {
    width: 140px;
    margin-left: 1%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span1
    h6 {
    font-size: 17px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2 {
    width: 55%;
    margin-right: 0%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2
    p {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0px;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    width: 130px;
    font-size: 80px;
    letter-spacing: -5px;
    padding-bottom: 15px;
    /* margin: 0% 0% -15% 5%; */
  }
  /* companyOverviewContentRow4 */
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span1{
    display: inline;
    float: left;
    width: 120px !important;
    margin-left: 1% !important;
  }
}
@media only screen and (max-width: 768px) {
  .divBottom .companyOverviewContentRow4 .john-row .mr-john {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 650px) {
  .divBottom .companyOverviewContentRow4 .john-row .mr-john {
    padding: 20px 40px 0 0;
  }
}
@media only screen and (max-width: 555px) {
  .divBottom .companyOverviewContentRow4 .john-row .mr-john {
    margin: -60px 0 0 0;
    padding: 0 15px;
  }

  .divBottom .companyOverviewContentRow4 .john-row .mr-john p {
    font-size: 13px;
    line-height: 15px;
  }

  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    background-size: 100% 260px;
    background-position: 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul {
    margin-top: 100px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .divHeading {
    width: 0px;
    height: 0px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .divHeading
    h1 {
    font-size: 60px;
    letter-spacing: -4px;
    padding-bottom: 10px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span1
    h6 {
    padding-left: 15px;
    font-size: 14px!important;

  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2 {
    width: 100%;
    padding-left: 4px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    ul
    li
    .span2
    p {
    padding-left: 15px;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow2
    .picDivb {
    width: 100%;
    height: auto;
    margin: 6% auto 4% auto;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    font-size: 60px;
    letter-spacing: -4px;
    padding-bottom: 10px;
    /* margin-bottom: -30%; */
  }
  .divBottom .companyOverviewContentRow4 .divHeading h1 {
    font-size: 140px;
    color: #d9d9d9;
    font-weight: bold;
    letter-spacing: -8px;
    margin: 0% 0% 5% 3%;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span1{
    display: inline;
    float: left;
    width: 250px !important;
    margin-left: 1% !important;
  }
  .companyOverview .container1 .companyOverviewContent .companyOverviewContentRow2 ul li .span2 p{
    color: #000000;
    font-size: 15px !important;
    padding-right: 15px;
    margin-bottom: 0px;
    line-height: 12px;
}
.j-center-480{
  justify-content: center;
}
  /* companyOverviewContentRow4 */
}
@media only screen and (max-width: 400px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb img {
    width: 100%;
    height: 100%;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb {
    width: 170px;
    height: 260px;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 30px;
    letter-spacing: -2px;
  }
  .companyOverview .container1 .companyOverviewContent p {
    line-height: 19px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////COMPANY OVERVIEW ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
