.forget {
    width: 600px;
}
.forget a {
  color: #727272;
}
.forget a:hover {
  text-decoration: none;
}
.forget .registration  {
    background-image: none;
}
.forget .registration .registrationDivMain {
    background-image: none;
}
.forget .registration .registrationDivMain .form {
    padding: 60px 80px 60px 80px;
}
.registration .forgetDivMain .form {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: #F3F3F3;
    background-image: url(../img/registration/backImg.png);
    z-index: 2;
    padding: 40px 80px 90px 80px;
      margin: 0 auto;
  }
  .forget .container01 .form form .row h1 {
    color: #DADADA;
    font-size: 55px;
    padding: 0px 0px 20px 15px;
  }
  @media only screen and (max-width: 576px) {
    .forget .registrationDivMain .form {
      padding: 20px 30px 50px 30px;
    }
    .forget .container01 .form form .row h1 {
      font-size: 35px;
    }
  }

  .alert-danger {
    margin: 10px 0px 0px 15px;
  }