/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////COMPANY OVERVIEW STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
.red {
  color: #f40019;
}
.gray {
  color: #969696;
}

.transfer_row {
  background-color: #f5f5f5;
  padding: 3%;
  margin-top: 40px;
}
.transfer_row h1 {
  letter-spacing: -1px;
  font-weight: bold;
  color: #4f4f4f;
}

.input_control {
  width: 50%;
}

.companyOverview .container1 .companyOverviewContent .row {
  padding: 4% 0%;
}
.companyOverviewContentRow2 {
  padding: 4% 0%;
}
.companyOverview {
  background-image: url("../img/CompanyOverview/CompanyOverviewBackImg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .companyOverview {
    background-size: 220%;
    background-position: 107px -4%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .companyOverview {
    background-image: none;
  }
}
.companyOverview .container1 .companyOverviewContent h2 {
  
  font-size: 70px;
  font-weight: bold;
  color: #d9d9d9;
  letter-spacing: -4px;
}
.companyOverview .container1 .companyOverviewContent p {
  color: #7a7a7a;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
}
.companyOverview .container1 .companyOverviewContent .picDivb {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  .companyOverview .container1 .companyOverviewContent .picDivb {
    width: 50%;
    margin: 0 auto;
  }
}
.companyOverview .container1 .companyOverviewContent .picDivb img {
  width: 100%;
}
.companyOverview .container1 .CompanyOverviewRedLine {
  position: relative;
  width: 5px;
  height: 160px;
  background-color: #f40019;
  z-index: 2;
  transform: rotate(90deg);
  
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: -200px 0px 50px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  .companyOverview .container1 .companyOverviewContentRow2 img {
    display: none;
  }
}
.companyOverview .container1 .companyOverviewContentRow2 .divHeading {
  width: 240px;
  height: 75px;
  background-color: #f3f2f2;
}
.companyOverview .container1 .companyOverviewContentRow2 .divHeading h1 {
  width: 190px;
  font-size: 140px;
  color: #d9d9d9;
  font-weight: bold;
  letter-spacing: -8px;
  border-bottom: 5px solid #f40019;
  padding-bottom: 15px;
  margin: 0% 0% 0% 10%;
}
@media only screen and (min-width: 991px) and (max-width: 1100px) {
  .companyOverview .container1 .companyOverviewContentRow2 .divHeading h1 {
    font-size: 110px;
  }
}
.companyOverview .container1.companyOverviewContentRow2 .picDivb {
  width: 100%;
  height: auto;
}
.companyOverview .container1 .companyOverviewContentRow2 .picDivb img {
  width: 100%;
}
/* .companyOverview .container1 .companyOverviewContentRow2 ul {
	margin-top: 150px;
} */
.companyOverview .container1 .companyOverviewContentRow2 ul li {
  float: left;
  width: 120%;
  padding: 5px 0px;
  background-color: #f0f0f0;
  list-style-type: none;
  margin: 20px 0px 0px 0px;
}
.companyOverview .container1 .companyOverviewContentRow2 ul li .span1 {
  display: inline;
  float: left;
  width: 250px;
  
  margin-left: 1%;
}
.companyOverview .container1 .companyOverviewContentRow2 ul li .span1 h6 {
  font-size: 20px;
  margin-bottom: 0.2rem;
}
.companyOverview .container1 .companyOverviewContentRow2 ul li .span2 {
  display: inline;
  width: 40%;
  float: right;
  
  margin-right: 20%;
}
.companyOverview .container1 .companyOverviewContentRow2 ul li .span2 p {
  color: #000000;
  font-size: 18px;
  padding-right: 15px;
  margin-bottom: 0px;
}
/* ----- companyOverviewContentRow3 Starts ----- */
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3Div1 {
  width: 7%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3Div2 {
  width: 93%;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3
  h1 {
  color: #d9d9d9;
  width: 470px;
  font-size: 45px;
  font-weight: 700;
  transform: rotate(-90deg);
  
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  margin: 203px 0px 0px -190px;
}
.companyOverview
  .container1
  .companyOverviewContent
  .companyOverviewContentRow3
  img {
  width: 100%;
}
/* ----- companyOverviewContentRow3 Ends ----- */
/* ----- divBottom Starts ----- */
.divBottom .companyOverviewContentRow4 {
  padding: 0% 0%;
}
.divBottom .companyOverviewContentRow4 .divHeading h1 {
  font-size: 140px;
  color: #d9d9d9;
  font-weight: bold;
  letter-spacing: -8px;
  margin: 0% 0% 0% 10%;
}
.john-row .inverted-coma {
  width: 50px !important;
}
.divBottom
  .companyOverviewContentRow4
  .carousel-inner
  .john-row
  .inverted-coma {
  width: 50px !important;
  margin-top: -40px;
}
.divBottom
  .companyOverviewContentRow4
  .carousel-inner
  .john-row
  .inverted-coma2 {
  width: 50px !important;
  padding-top: 180px;
  margin-left: -50px;
}
.divBottom
  .companyOverviewContentRow4
  .carousel-inner
  .john-row
  .john-detail
  h5 {
  padding-top: 40px;
}
.divBottom .companyOverviewContentRow4 .carousel-inner .john-row .pic1 {
  position: relative;
  width: 77%;
  height: auto;
  margin: -20% auto 0% 25%;
}
.divBottom .companyOverviewContentRow4 .carousel-inner .john-row .pic-i {
  position: absolute;
  width: 46%;
  height: 250px;
  background-color: #e8051c;
  margin: -5% 0px 0px 51%;
}
.divBottom .companyOverviewContentRow4 .carousel-inner .john-row .pic-j {
  position: absolute;
  width: 90%;
  height: auto;
  background-color: lightgreen;
}
.divBottom .companyOverviewContentRow4 .carousel-inner .john-row .john-img {
  width: 101%;
  height: 110%;
}
.divBottom .companyOverviewContentRow4 .carousel-inner .john-row #para2 {
  color: #000;
  font-size: 14px;
}
/* .divBottom .companyOverviewContentRow4 .carousel-inner .john-row .mr-john {
	background-color: #F0F0F0;
	margin-top: 60px;
	height: auto;
} */
/* .divBottom .companyOverviewContentRow4 .carousel-inner .john-row {
	padding-bottom: 10%;
	margin-bottom: 50px;	
} */
.carousels {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #000;
  margin-left: 87%;
  margin-top: -5%;
}
.carousels .carousel-control-prev {
  position: absolute;
  opacity: 1;
  width: 50%;
}
.carousels .carousel-control-next {
  position: absolute;
  opacity: 1;
  width: 50%;
  margin-right: 2%;
}
.divBottom .companyOverviewContentRow5 .container1 .row {
  padding: 10px 0px;
}
.divBlack {
  width: 100%;
  background-color: #000000;
  border-radius: 120px;
  padding: 4% 0%;
  margin: 5% 0% 0% 0%;
}
.companyOverviewContentRow5 .container1 .divBlack p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  padding-left: 10%;
  margin-top: 2%;
}
.divBlack h3 {
  width: 96%;
  height: 40px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  background-color: #f90d26;
  border-radius: 50px;
  margin: 4% 0% 0% 0%;
}
.locate h1 {
  transform: rotate(-90deg);
  
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-size: 48px;
  color: #b3b3b3;
  letter-spacing: -3px;
  font-weight: bold;
  height: 60px;
  width: 450px;
  margin-top: 180px;
  margin-left: -185px;
}

.location {
  position: absolute;
  top: 50%;
  left: 18%;
  width: 8%;
  height: auto;
}
.location2 {
  position: absolute;
  top: 14%;
  left: 77%;
  width: 8%;
  height: auto;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 440px;
  width: 100%;
  margin: 0px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 440px;
  width: 100%;
}
.gmap_canvas iframe {
  width: 100%;
  height: 440px;
  float: left;
}

/* ----- divBottom Ends ----- */
/* ----- companyOverviewContentRow3 Starts ----- */

/*Medium*/
@media only screen and (max-width: 991px) {
  .locate h1 {
    transform: rotate(0deg);
    
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
    font-size: 40px;
    letter-spacing: -3px;
    font-weight: bold;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .transfer_row {
    background-color: #f5f5f5;
    padding: 4%;
    margin-top: 40px;
  }
  .div10 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .div10 {
    margin-top: 37px;
  }
}
@media only screen and (max-width: 465px) {
  .locate h1 {
    font-size: 30px;
    letter-spacing: -1px;
  }
}

@media only screen and (min-width: 1901px) {
  .companyOverview {
    background-image: none;
  }
}
@media only screen and (min-width: 1671px) and (max-width: 1900px) {
  .companyOverview {
    background-size: 90%;
    background-position: 80% 1%;
  }
}
@media only screen and (min-width: 1330px) and (max-width: 1670px) {
  .companyOverview {
    background-size: 90%;
    background-position: 40% 1%;
  }
}
@media only screen and (min-width: 1181px) and (max-width: 1330px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 35px;
    margin: 200% 0px 0px -190px;
  }
}
@media only screen and (min-width: 1051px) and (max-width: 1180px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 95%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 35px;
    margin: 260% 0px 0px -220px;
  }
}
@media only screen and (min-width: 889px) and (max-width: 1050px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 5%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 95%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    font-size: 25px;
    margin: 140% 0px 0px -220px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 890px) {
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div1 {
    width: 0%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3Div2 {
    width: 100%;
  }
  .companyOverview
    .container1
    .companyOverviewContent
    .companyOverviewContentRow3
    h1 {
    display: none;
    font-size: 0px;
    margin: 0px;
  }
}
/* ----- companyOverviewContentRow3 Ends ----- */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  .divBottom .companyOverviewContentRow4 .carousel-inner .pic1 {
    display: none;
  }
  .divBottom .companyOverviewContentRow4 .carousel-inner .pic-i {
    position: absolute;
    width: 46%;
    height: 230px;
    background-color: #e8051c;
    margin: -5% 0px 0px 50%;
  }
  .divBottom .companyOverviewContentRow4 .carousel-inner .pic-j {
    position: absolute;
    width: 90%;
    height: auto;
    background-color: lightgreen;
  }
}
@media only screen and (min-width: 200px) and (max-width: 576px) {
  .divBottom .companyOverviewContentRow4 .carousel-inner .mr-john img {
    display: none;
  }
  .divBottom .companyOverviewContentRow4 .carousel-inner .john-row {
    height: 400px;
  }
  .carousels {
    margin-left: 75%;
    margin-top: -13%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 995px) {
  .divBottom .companyOverviewContentRow5 .container1 .divBlack h3 {
    width: 96%;
    height: 40px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    background-color: #f90d26;
    border-radius: 50px;
    margin: 10% 0% 0% 0%;
 }
}
@media only screen and (min-width: 220px) and (max-width: 768px) {
  .divBottom .companyOverviewContentRow5 .container1 .divBlack {
    width: 100%;
    background-color: #000000;
    border-radius: 120px;
    padding: 0% 0%;
  }
  .divBottom .companyOverviewContentRow5 .container1 .divBlack p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    padding-left: 10%;
    margin-top: 4%;
  }
  .divBottom .companyOverviewContentRow5 .container1 .divBlack h3 {
    width: 80%;
    margin: 0% auto 4% auto;
  }
}
@media only screen and (min-width: 1189px) and (max-width: 1320px) {
  .companyOverview .container1 .companyOverviewContentRow2 .picDivb {
    margin: 30% 0% 0% 0%;
  }
}
@media only screen and (min-width: 1099px) and (max-width: 1190px) {
  .companyOverview .container1 .companyOverviewContentRow2 .picDivb {
    margin: 70% 0% 0% 0%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .companyOverview .container1 .companyOverviewContentRow2 .picDivb {
    margin: 90% 0% 0% 0%;
  }
}
@media only screen and (min-width: 899px) and (max-width: 1090px) {
  .companyOverview .container1 .companyOverviewContent .row .col-Text {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 992px) {
  .companyOverview .container1 .companyOverviewContentRow2 .picDivb {
    width: 70%;
    height: auto;
    margin: 6% auto 4% auto;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb img {
    width: 100%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li {
    width: 100%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 {
    width: 62%;
    margin-right: 0%;
  }
}
@media only screen and (width: 992px) {
  .companyOverview .container1 .companyOverviewContent .picDivb {
    display: none;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li {
    width: 120%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 900px) {
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul {
    margin-top: 80px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 .divHeading h1 {
    width: 130px;
    font-size: 100px;
    margin: 0% 0% 0% 5%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li {
    width: 100%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 {
    width: 55%;
    margin-right: 0%;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    width: 130px;
    font-size: 100px;
    margin: 0% 0% -15% 5%;
  }
  /* companyOverviewContentRow4 */
}
@media only screen and (max-width: 610px) {
  .companyOverview .container1 .companyOverviewContentRow2 ul {
    margin-top: 50px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 .divHeading h1 {
    width: 130px;
    font-size: 80px;
    letter-spacing: -5px;
    padding-bottom: 15px;
    margin: 0% 0% 0% 5%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li {
    width: 100%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span1 {
    width: 140px;
    margin-left: 1%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span1 h6 {
    font-size: 17px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 {
    width: 55%;
    margin-right: 0%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 p {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0px;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    width: 130px;
    font-size: 80px;
    letter-spacing: -5px;
    padding-bottom: 15px;
    margin: 0% 0% -15% 5%;
  }
  /* companyOverviewContentRow4 */
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
}
@media only screen and (max-width: 480px) {
  .companyOverview .container1 .companyOverviewContentRow2 ul {
    margin-top: 100px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 .divHeading {
    width: 0px;
    height: 0px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 .divHeading h1 {
    font-size: 60px;
    letter-spacing: -4px;
    padding-bottom: 10px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span1 h6 {
    padding-left: 15px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 {
    width: 100%;
  }
  .companyOverview .container1 .companyOverviewContentRow2 ul li .span2 p {
    padding-left: 15px;
  }
  .companyOverview .container1 .companyOverviewContentRow2 .picDivb {
    width: 100%;
    height: auto;
    margin: 6% auto 4% auto;
  }
  /* companyOverviewContentRow4 */
  .divBottom .companyOverviewContentRow4 .container1 .divHeading h1 {
    font-size: 60px;
    letter-spacing: -4px;
    padding-bottom: 10px;
    margin-bottom: -30%;
  }
  /* companyOverviewContentRow4 */
}
@media only screen and (max-width: 400px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb img {
    width: 100%;
    height: 100%;
  }
  .companyOverview .container1 .companyOverviewContent .picDivb {
    width: 170px;
    height: 260px;
  }
  .companyOverview .container1 .companyOverviewContent h2 {
    font-size: 30px;
    letter-spacing: -2px;
  }
  .companyOverview .container1 .companyOverviewContent p {
    line-height: 19px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////COMPANY OVERVIEW ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
