/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard HISTORY STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.dashboard1 .divB .divScroll .questions {
	width: 98%;
}
.dashboard1 .divB .divScroll .questions .question {
	width: 100%;
	background-color: #ADADAD;
	margin: 25px 0px 0px 0px;
}
.dashboard1 .divB .divScroll .questions .question h6 {
	display: inline-block;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	padding: 10px 30px;
	margin: 0px;
}
.quesionH6Second {
	padding: 10px 30px 0px 240px !important;
}
@media only screen and (max-width: 990px) {
	.quesionH6Second {
		padding: 10px 30px 0px 220px !important;
	}
}
@media only screen and (max-width: 970px) {
	.quesionH6Second {
		padding: 10px 30px 0px 190px !important;
	}
}
@media only screen and (max-width: 940px) {
	.quesionH6Second {
		padding: 10px 30px 0px 150px !important;
	}
}
@media only screen and (max-width: 900px) {
	.quesionH6Second {
		padding: 10px 30px 0px 100px !important;
	}
}
@media only screen and (max-width: 830px) {
	.quesionH6Second {
		padding: 10px 30px 0px 70px !important;
	}
}
@media only screen and (max-width: 790px) {
	.quesionH6Second {
		padding: 10px 30px 0px 30px !important;
	}
}
@media only screen and (max-width: 740px) {
	.quesionH6Second {
		padding: 10px 30px 0px 0px !important;
	}
}
@media only screen and (max-width: 710px) {
	.dashboard1 .divB .divScroll .questions .question h6 {
		font-size: 13px;
	}
	.quesionH6Second {
		padding: 10px 30px 0px 40px !important;
	}
}
@media only screen and (max-width: 630px) {
	.quesionH6Second {
		padding: 10px 30px 0px 0px !important;
	}
}
@media only screen and (max-width: 576px) {
	.dashboard1 .divB .divScroll .questions .question h6 {
		font-size: 13px;
	}
	.quesionH6Second {
		padding: 10px 30px 0px 5px !important;
	}
	.dashboard1 .divB .divScroll {
		width: 100%;
		height: 520px;
		overflow: auto;
		padding: 12px 0px 20px 0px;
		margin: 0px;
	}
}
.dashboard1 .divB .divScroll .questions .question .plus img {
	display: inline-block;
	width: 50%;
	margin: 10px 0px 0px 0px;
}
.dashboard1 .divB .divScroll .questions .question p {
	line-height: 20px;
	background-color: #F3F3F3;
	padding: 15px 30px 20px 30px;
}
.plus {
	float: right;
	color: #ACABAB;
	display: inline;
	font-size: 30px;
	font-weight: 900;
	cursor: pointer;
	margin: -7px -10px 0px 0px;
}

@media only screen and (max-width: 520px) {
	.dashboard1 .divB .divScroll .questions .question h6 {
		font-size: 12px;
		font-weight: 600;
	}
	.plus {
		margin: -7px -10px 0px 0px;
	}
	.dashboard1 .divB .divScroll .questions .question h6 {
		padding: 10px 5px;
		margin: 0px;
	}
	.dashboard1 .divB .divScroll .questions .question .plus img {
		width: 30%;
	}
}
@media only screen and (max-width: 400px) {
	.quesionH6Second {
		width: 70%;
		padding: 10px 0px 0px 5px !important;
	}
	.plus {
		margin: -45px -10px 0px 0px;
	}
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard HISTORY ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/