.registration {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../img/registration/registrationBackImg.png);
  background-repeat: no-repeat;
  background-position: 3% -100%;  
  /* height: calc(100vh - 106px); */
  /* height: 100%; */
}
@media only screen and (min-width: 1340px) {
  .registration {
    background-size: cover;
    background-position: 0% 0%;
  }
}
@media only screen and (min-width: 1876px) and (max-width: 3264px) {
  .registration {
    background-image: url(../img/registration/registrationBackImg.png);
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1377px) and (max-width: 1875px) {
  .registration {
    background-image: url(../img/registration/registrationBackImg.png);
    background-repeat: no-repeat;
  }
}
.registration .container01 {
  width: 100%;
  height: auto;
  max-width: 1320px;
  margin: 0 auto;
}
.registration .registrationDivMain {
  width: 100%;
  height: auto;
  background-image: url(../img/registration/redLineImg.png);
  padding-bottom: 130px;
  margin-top: 6%;
}
.registration .registrationDivMain .form {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: auto;
  background-color: #f3f3f3;
  background-image: url(../img/registration/backImg.png);
  background-position: 0 30px;
  background-repeat: no-repeat;
  z-index: 2;
  padding: 30px 80px 70px 80px;
  margin: 0 auto;
}
.registration .registrationDivMain .form img {
  width: 200px;
  height: 200px;
  border: 1px solid #929292;
  padding: 5px;
  margin: 10px 10px 0px 0;
}
.registration .container01 .form form .row h1 {
  color: #e5e5e5;
  font-size: 55px;
  letter-spacing: -3px;
  padding: 30px 0px 40px 15px;
}
@media only screen and (max-width: 576px) {
  .registration .registrationDivMain .form {
    padding: 20px 30px 30px 30px;
  }
  .registration .container01 .form form .row h1 {
    font-size: 35px;
  }
}
.registration .container01 .form form .form-group .forget {
  text-indent: 20px;
}
.registration .container01 .form form .form-group .fields {
  width: 100%;
  border: none;
  border-bottom: 1px solid #737373;
}
.registration .container01 .form form .form-group .fields .col-form-label {
  display: inline-block;
  width: 100%;
  color: #929292;
  font-size: 18px;
}
.registration .container01 .form form .form-group .fields .form-control {
  display: inline-block;
  width: 100%;
  color: #000000;
}
.registration .container01 .form form .form-group .fields .form-control::placeholder {
  opacity: .3;
}
.registration .container01 .registrationDivMain .form .form-group {
  padding: 0px;
}
.registration .container01 .registrationDivMain .form .form-group .form-control {
  width: none;
  border: none;
  border-radius: 0px;
  background-color: transparent;
}
.registration .container01 .registrationDivMain .form .form-group h4 {
  color: #929292;
  font-size: 28px;
}
.registration .container01 .registrationDivMain .form .form-group .form-check .form-check-label { 
  color: #727272;
  font-size: 14px; 
  margin-left: 10px;
}
.registration .container01 .registrationDivMain .form .form-group button {
  /* width: 50%; */
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 22px;
  font-weight: bolder;
  border: none;
  border-radius: 0px;
  background-color: #f90d26;
  padding:0px 20px;
  margin-top: 0.6rem;
  text-transform: uppercase;
}
.registration .container01 .form form .row .h1Account {
  margin-top: 20px;
}

.registration .form-control {
  padding: 0.375rem 0rem;
}