/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard TRACKING STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.dashboard1 .divB .divContent .rowSteps {
  width: 100%;
  overflow: auto;
  padding: 35px 5px 20px 20px;
}
.dashboard1 .divB .divContent .rowSteps .step1 {
  height: 48px;
  background-image: url("../img/dashboard1/divNext1.png");
  z-index: 4;
}
.dashboard1 .divB .divContent .rowSteps .step2 {
  height: 48px;
  background-image: url("../img/dashboard1/divNext2.png");
  z-index: 3;
  margin-left: -13px;
}
.dashboard1 .divB .divContent .rowSteps .step3 {
  height: 48px;
  background-image: url("../img/dashboard1/divNext3.png");
  z-index: 2;
  margin-left: -13px;
}
.dashboard1 .divB .divContent .rowSteps .step4 {
  height: 48px;
  background-image: url("../img/dashboard1/divNext4.png");
  z-index: 1;
  margin-left: -13px;
}
.dashboard1 .divB .divContent .rowSteps .step1 .step1Heading,
.dashboard1 .divB .divContent .rowSteps .step2 .step1Heading,
.dashboard1 .divB .divContent .rowSteps .step3 .step1Heading,
.dashboard1 .divB .divContent .rowSteps .step4 .step1Heading {
  text-indent: 30px;
}
.dashboard1 .divB .divContent .rowSteps .step1Heading {
  width: 174px;
  height: 48px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  margin: 0px;
}
@media only screen and (max-width: 920px) {
  .dashboard1 .divB .divContent .rowSteps .step1Heading {
    width: 110px;
    height: 32px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    margin: 0px;
  }
  .dashboard1 .divB .divContent .rowSteps .step1,
  .dashboard1 .divB .divContent .rowSteps .step2,
  .dashboard1 .divB .divContent .rowSteps .step3,
  .dashboard1 .divB .divContent .rowSteps .step4 {
    height: 32px;
    background-size: contain;
  }
}
.dashboard1 .divB .divContent .rowSteps .step1Title {
  position: absolute;
  color: #000000;
  font-weight: 600;
  margin: -18px 0px 0px 0px;
}
.divB .divContent .container {
  width: 530px;
  margin: 0 auto;
}
.map {
  width: 560px;
  height: 100%;

  margin: 0 auto;
}
.jsmaps svg {
  width: 500px;
  height: 500px;
}
.jsmaps-text {
  height: 100%;
  display: none !important;
}

.jsmaps circle {
  height: 100%;
  display: none !important;
}

#uae-map {
  height: 100%;
  height: 100%;
  width: auto !important;
}
path {
  fill: #707070;
  opacity: 1;
}
@media only screen and (max-width: 400px) {
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard TRACKING ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
