/*---------NEWS PAGE Start---------*/
html {
  scroll-behavior: smooth;
}
/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////news start/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.newsK {
  width: 100%;
  height: auto;
  padding: 0px;
}
.newsK .newsDivTop {
  background-image: url("../img/group.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newsK .newsDivTop .row {
  margin: 0px;
}
.newsK h1 {
  color: #fff;
  text-align: center;
  font-size: 75px;
  letter-spacing: -5px;
  font-weight: bold;
  padding: 15% 0% 7% 0%;
  -webkit-text-stroke: 0.2rem white;
  letter-spacing: 0px;
}
.divNews {
  position: relative;
  cursor: pointer;
  width: 320px;
  height: 200px;
  background-color: pink;
  margin: 0 auto;
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .divNews {
    position: relative;
    width: 300px;
    height: 180px;
    margin: 0 auto;
  }
  .newsPartB .row .divNews .blackBelt {
    height: 60px;
  }
  .newsPartB .row .divNews .blackBelt h3 {
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1100px) {
  .divNews {
    width: 250px;
    height: 170px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 920px) {
  .divNews {
    width: 150px;
    height: 50px;
    margin-top: 30%;
  }
  .newsPartB .row .divNews h2 {
    font-size: 30px;
    letter-spacing: -2px;
    padding: 4% 0% 0% 0%;
  }
  .newsPartB .row .divNews .blackBelt {
    height: 50px;
    margin-top: 0%;
  }
  .newsPartB .row .divNews .blackBelt h3 {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: -1px;
  }
}
@media only screen and (min-width: 710px) and (max-width: 920px) {
  .divNews {
    width: 200px;
    height: 120px;
  }
  .newsPartB .row .divNews h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
  .newsPartB .row .divNews .blackBelt {
    height: 40px;
    margin-top: 36%;
  }
  .newsPartB .row .divNews .blackBelt h3 {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}
@media only screen and (min-width: 499px) and (max-width: 710px) {
  .divNews {
    width: 110px;
    height: 40px;
    margin-top: 30%;
  }
  .newsPartB .row .divNews h2 {
    font-size: 20px;
    letter-spacing: -2px;
    padding: 8% 0% 0% 0%;
  }
  .newsPartB .row .divNews .blackBelt {
    height: 40px;
    margin-top: 0%;
  }
  .newsPartB .row .divNews .blackBelt h3 {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .divNews {
    width: 85px;
    height: 40px;
    margin-top: 60%;
  }
  .newsPartB .row .divNews h2 {
    font-size: 20px;
    letter-spacing: -2px;
    padding: 8% 0% 0% 0%;
  }
  .newsPartB .row .divNews .blackBelt {
    height: 40px;
    margin-top: 0%;
  }
  .newsPartB .row .divNews .blackBelt h3 {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}
@media only screen and (max-width: 299px) {
  * {
    display: none;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartB start/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.divNews h2 {
  color: #fff;
  text-align: center;
  font-size: 65px;
  letter-spacing: -5px;
  font-weight: bold;
  padding: 17% 0% 0% 0%;
}

#newsa {
  background-image: url("../img/learn/newsa.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#newsb {
  background-image: url("../img/learn/newsb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#articlesa {
  background-image: url("../img/learn/articlesa.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#articlesb {
  background-image: url("../img/learn/articlesb.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#blogsa {
  background-image: url("../img/learn/blogsa.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#blogsb {
  background-image: url("../img/learn/blogsb.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.blackBelt {
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  background-color: #000000;
  margin-top: 37%;
}
.divNews .blackBelt h3 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -3px;
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartB end/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartTwo start/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.newsPartTwo {
  padding: 4% 0 0 0;
}
.newsPartThree {
  padding: 0 0 0 0;
}
.newsPartFour {
  padding: 4% 0 0 0;
}
.newsPartTwo .container1 .row .col-xl-4,
.newsPartTwo .container1 .row .col-lg-4,
.newsPartTwo .container1 .row .col-md-4,
.newsPartTwo .container1 .row .col-sm-4,
.newsPartTwo .container1 .row .col-12 {
  padding: 0px 5px 10px 5px;
}
.cardNews {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f2f2f2;
  padding: 8% 8% 13% 8%;
}
.cardNews .spanHeading {
  float: left;
  color: #c4c4c4;
  font-size: 14px;
  font-weight: bold;
}
.cardNews .spanDate {
  float: right;
  color: #c4c4c4;
  font-size: 11px;
  font-weight: bold;
}
.cardNews .cardNewsTitle {
  padding-top: 13%;
  font-size: 14px;
  font-weight: 600;
}
.cardNews .cardNewsP {
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  height: 92px;
  overflow: hidden;
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartTwo end/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartThree start/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.newsPartThree .container1 .row {
  padding: 7% 0% 0% 0%;
}

.newsPartThree .container1 .row .default-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 0 50px 0px;
  border-radius: 7px;
  background-color: #f7f7f7;
}
.newsPartThree .container1 .row .default-div h4 {
  color: #a8a8a8;
}

/* ---------ADDED FOR ARTICLES---------*/
.card-deck .card {
  margin: 0px 5px;
}
@media (min-width: 576px) {
  .card-deck .card {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 1px;
    width: 380px;
  }
}
.card .card-body .card-text {
  float: right;
}
.card .card-body .card-text .text-muted {
  color: #c4c4c4 !important;
  font-size: 16px;
  font-weight: bold;
}
.card .card-body .card-title {
  color: #c4c4c4;
}
/* ---------ADDED FOR ARTICLES---------*/

/*/////////////////////////////////////newsPartThree end/////////////////////////////////////*/

/*/////////////////////////////////////newsPartFour start/////////////////////////////////////*/

.newsPartFour .row {
  width: 90%;
  position: relative;
  padding: 0px 20px 40px 20px;
  margin: 0% 0px 12% 40px;
  background-color: white;
}
@media only screen and (min-width: 1049px) and (max-width: 1180px) {
  .newsPartFour .mr-john {
    margin: 80px 0px 80px 0px;
  }
  .newsPartFour .john-detail #para2 {
    width: 100%;
  }
}
@media only screen and (min-width: 979px) and (max-width: 1050px) {
  .newsPartFour .container1 .mr-john {
    margin: 80px 0px 80px 0px;
  }
  .newsPartFour .john-detail #para2 {
    width: 100%;
  }
  .newsPartFour .container1 .pic1 {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 20px auto 0px 30px;
  }
  .newsPartFour .container1 .pic-i {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #e8051c;
    margin: 10px 0px 0px 20px;
  }
  .newsPartFour .container1 .pic-j {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .newsPartFour .container1 .pic-j img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .newsPartFour .row {
    width: 100%;
    margin: 0% 0px 12% 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 980px) {
  .newsPartFour .container1 .mr-john {
    padding: 30px 10px 20px 10px;
    margin: 50px 0px 110px 0px;
  }
  .newsPartFour .container1 .john-detail .spanHeading {
    font-size: 17px;
  }
  .newsPartFour .container1 .john-detail .spanDate {
    font-size: 17px;
  }
  .newsPartFour .container1 .john-detail .cardNewsTitle {
    padding: 8% 0% 0% 0%;
    font-size: 17px;
    font-weight: 600;
  }
  .newsPartFour .container1 .john-detail #para2 {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
  }
  .newsPartFour .container1 .pic1 {
    width: 280px;
    height: 350px;
    margin: -60px auto 0px 60px;
  }
  .newsPartFour .container1 .pic-i {
    width: 260px;
    height: 340px;
    margin: 10px 0px 0px 20px;
  }
  .newsPartFour .container1 .pic-j {
    width: 260px;
    height: 340px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .newsPartFour .container1 .mr-john {
    width: 100%;
    padding: 30px 10px 20px 10px;
    margin: 40px 0px 0px 0px;
  }
  .newsPartFour .container1 .john-detail .spanHeading {
    font-size: 15px;
  }
  .newsPartFour .container1 .john-detail .spanDate {
    font-size: 15px;
  }
  .newsPartFour .container1 .john-detail .cardNewsTitle {
    padding: 8% 0% 0% 0%;
    font-size: 15px;
    font-weight: 600;
  }
  .newsPartFour .container1 .pic-1,
  .newsPartFour .container1 .pic-i,
  .newsPartFour .container1 .pic-j {
    display: none;
  }
  .newsPartFour .container1 .john-detail #para2 {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .newsPartFour .container1 .mr-john {
    overflow: hidden;
  }
}
.newsPartFour .john-detail .spanHeading {
  float: left;
  color: #c4c4c4;
  font-size: 19px;
  font-weight: bold;
}
.newsPartFour .john-detail .spanDate {
  float: right;
  color: #c4c4c4;
  font-size: 19px;
  font-weight: bold;
}
.newsPartFour .john-detail .cardNewsTitle {
  color: #414141;
  font-size: 19px;
  font-weight: 600;
  padding: 8% 0% 0% 0%;
}
.newsPartFour .john-detail #para2 {
  color: #414141;
  font-size: 17px;
}
.newsPartFour .pic1 {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 20px auto 0px 30px;
}
.newsPartFour .pic-i {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #e8051c;
  margin: 10px 0px 0px 20px;
}
.newsPartFour .pic-i-mirror {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #e8051c;
  margin: 10px 0px 0px -20px;
}

.newsPartFour .pic-j {
  position: absolute;
  width: 200px;
  height: 200px;
}
.newsPartFour .pic-j img {
  width: 100%;
  height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////newsPartFour end/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////news ends/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/

/*---------MEDIA QUERIES STARTS---------*/

@media only screen and (min-width: 1101px) and (max-width: 1199px) {
  /*---------NEWS page Start---------*/
  .newsK h1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 876px) and (max-width: 992px) {
  /*---------NEWS page Start---------*/
  .newsK h1 {
    font-size: 55px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 875px) {
  /*---------NEWS page Start---------*/
  .newsK h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /*---------NEWS page Start---------*/
  .newsK h1 {
    font-size: 45px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 576px) {
  /*---------NEWS page Start---------*/
  .newsK h1 {
    font-size: 32px;
    letter-spacing: 2px;
  }
}
