/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard PROMOTIONS (UD)2 STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.dashboard1 .divB .divScroll .cardBig {
	margin: 0px auto;
}
.dashboard1 .divB .divScroll .cardBig .card {
	text-align: center;
	box-shadow: 3px 3px 0px 0px #EEEEEE;
	margin: 0px auto;
}
.dashboard1 .divB .divScroll .cardBig .card .cross {
	position: absolute;
	width: 27px;
	height: 27px;
	color: white;
	cursor: pointer;
 	user-select: none; /* Standard syntax */
	border-radius: 20px;
	background-color: black;
	margin: -10px 0px 0px -10px;
}
.dashboard1 .divB .divScroll .cardBig .card img {
	display: block;
}
.dashboard1 .divB .divScroll .cardBig .card .card-body .card-title {
	color: #F6051D;
	font-size: 26px;
}
.dashboard1 .divB .divScroll .cardBig .card .card-body .card-subtitle {
	color: #000000 !important;
	font-size: 17px;
	font-weight: 600;
}
.dashboard1 .divB .divScroll .cardBig .card .card-body .card-text {
	color: #A2A2A2;
	font-size: 12px;
	margin-bottom: 7px;
}
.dashboard1 .divB .divScroll .cardBig .card .card-body .btn {
	width: 90%;
	font-size: 22px;
	font-weight: 600;
	border: none;
	border-radius: 0px;
	background-color: #F6051D;
	padding: 4px;
	margin: 10px 0px 0px 0px;
}
.dashboard1 .divB .divScroll .cardBig .card .card-body .promotionCode {
	font-size: 17px;
	margin: 12px;
}

@media only screen and (max-width: 400px) {
	
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard PROMOTIONS (UD)2 ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/