/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////service STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
.service {
  padding: 4% 0% 0% 0%;
}
.service .container1 .h1Service {
  font-size: 80px;
  font-weight: bold;
  color: #ededed;
  letter-spacing: -6px;
  z-index: 2;
  margin: 0px 0px -15px 80px;
}
.service .container1 h1 {
  position: relative;
  line-height: 30px;
  z-index: 1;
}
.service .container1 img {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-top: 30px;
}
.service .container1 .serviceRedLine {
  position: relative;
  width: 5px;
  height: 160px;
  background-color: #f40019;
  z-index: 2;
  margin: -100px 0px 0px 15px;
}

.service .container1 .serviceContent .row {
  padding: 4% 0%;
}

.service .container1 .serviceContent h2 {
  font-size: 70px;
  font-weight: bold;
  color: #b3b3b3;
  letter-spacing: -4px;
}

.service .container1 .serviceContent p {
  color: #858585;
  text-align: justify;
}

.service .container1 .serviceContent .picDiv1 {
  position: relative;
  width: 290px;
  height: 390px;

  margin: 0px auto 20px auto;
}

.service .container1 .serviceContent .picDivb img {
  width: 100%;
  height: 100%;
}

.service .container1 .serviceContent .picDiva {
  position: absolute;
  /*float: right;*/
  width: 80px;
  height: 330px;
  background-color: #f90d26;
  margin: -20px 0px 0px 210px;
}

.service .container1 .serviceContent .picDivb {
  position: absolute;
  /*float: left;*/
  width: 260px;
  height: 390px;
}

/* .service .container1 .serviceContent .row .col-xl-8,
.service .container1 .serviceContent .row .col-lg-8,
.service .container1 .serviceContent .row .col-md-12,
.service .container1 .serviceContent .row .col-sm-12,
.service .container1 .serviceContent .row .col-12 {
	padding-left: 30px;
} */

.row2col1 {
  display: none;
}

.companyOverviewContent .companyOverviewContentRow1 {
  /* height: 720px; */
  height: 600px;
}
@media only screen and (max-width: 991px) {
  .companyOverviewContent .companyOverviewContentRow1 .img-col {
    display: none;
  }
}
@media only screen and (min-width: 899px) and (max-width: 1090px) {
  .service .container1 .serviceContent .row .col-Text {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 992px) {
  .row2col1 {
    display: block;
  }
  .row2col2 {
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  .service .container1 h1 {
    font-size: 70px;
    margin: 0px 0px -13px 50px;
  }
  .service .container1 .serviceContent h2 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .service .container1 h1 {
    font-size: 52px;
    letter-spacing: -5px;
    margin: 0px 0px -9px 30px;
  }
  .service .container1 .serviceRedLine {
    width: 4px;
    height: 100px;
    margin: -70px 0px 0px 15px;
  }
  .service .container1 .serviceContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
}

@media only screen and (min-width: 399px) and (max-width: 576px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .service .container1 h1 {
    font-size: 48px;
    letter-spacing: -2px;
    text-align: center;
    margin: 0px 0px -9px 0px;
  }
  .service .container1 .serviceRedLine {
    width: 4px;
    height: 90px;
    margin: -70px 0px 0px 10px;
  }
  .service .container1 .serviceContent h2 {
    font-size: 40px;
    letter-spacing: -3px;
  }
}

@media only screen and (max-width: 400px) {
  .cookies .container1 .cookiesContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .service .container1 h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 35px;
    margin: 0px 0px -8px 0px;
  }
  .service .container1 .serviceRedLine {
    width: 3px;
    height: 60px;
    margin: -45px 0px 0px 10px;
  }
  .service .container1 .serviceContent .picDiv1 {
    width: 185px;
    height: 260px;
    margin: 0px auto 20px auto;
  }
  .service .container1 .serviceContent .picDivb img {
    width: 100%;
    height: 100%;
  }
  .service .container1 .serviceContent .picDiva {
    width: 50px;
    height: 230px;
    margin: -10px 0px 0px 135px;
  }
  .service .container1 .serviceContent .picDivb {
    width: 170px;
    height: 260px;
  }
  .service .container1 .serviceContent h2 {
    font-size: 35px;
    letter-spacing: -3px;
  }
  .service .container1 .serviceContent p {
    line-height: 19px;
  }
}

/*//////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////service ENDS/////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/
