/*---------About Us PAGE Start---------*/

.container1 {
  width: 90%;
  max-width: 1120px;
  margin: 20px auto 20px auto;
}
.our-mission p {
  color: #7a7a7a;
}
.our-vision p {
  color: #7a7a7a;
}
.about-us {
  background-image: url("../img/aboutUs/group.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px;
  height: 500px;
  width: 100%;
}
.about-us-wrapper .container1 {
  width: 90%;
  padding: 50px 0 120px;
  /* margin: 20px auto 20px auto; */
}

.about-us h1 {
  color: #fff;
  text-align: center;
  font-size: 75px;
  padding-top: 15%;
  letter-spacing: -5px;
  font-weight: bold;
  -webkit-text-stroke: 0.2rem white;
  letter-spacing: 0px;
}
.about-second-container h1 {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  color: #f0f0f0;
  letter-spacing: -3px;
  font-weight: bold;
  height: 60px;
  width: 470px;
  margin-top: -340px;
  margin-left: 905px;
  font-size: 100px;
}

.about-second-container h2 {
  margin-top: 50px;
  color: #f40019;
  font-weight: bold;
  font-size: 70px;
  letter-spacing: -3px;
}

.about-second-container h5 {
  color: #000;
  font-size: 35px;
  font-weight: 800;
}

.about-para {
  text-align: justify;
  margin-top: -300px;
  color: #7a7a7a;
}

.about-para2 {
  text-align: justify;
  margin-top: -100px;
  color: #7a7a7a;
}

.horizontal-red-line {
  margin: 12px 0px 12px 0px;
  height: 5px;
  background-color: #f40019;
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .horizontal-red-line {
    margin: 6px 0px 12px 0px;
    height: 3px;
  }
  .about-us-wrapper .container1 {
    width: 90%;
    padding: 80px 0 120px;
    /* margin: 20px auto 20px auto; */
  }
}

.about-us-imgs {
  margin-left: 35px;
}

.img1 {
  position: relative;
  float: left;
}

.img3 {
  /*position: relative;*/
  float: right;
}

.img2 {
  position: absolute;
  padding: 60px 0px 0px 180px;
}

.about-third-container {
  background-image: url("../img/aboutUs/group-25.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px;
  height: 700px;
  width: 100%;
}

.about-third-container .row .col-xl-5,
.about-third-container .row .col-lg-5,
.f-container .row .col-md-5,
.about-third-container .row .col-sm-10,
.about-third-container .row .col-10 {
  padding: 40px 60px 0px 60px;
}

.red-background {
  background-image: url("../img/aboutUs/group-26.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 850px;
  color: #fff;
  margin-top: 10%;
  margin-left: 52%;
}

.red-background h6 {
  margin-top: -10px;
}

.red-background h4 {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 30px;
}

.red-background-content p {
  height: 143px;
  font-size: 14px;
  overflow: hidden;
}

@media only screen and (max-width: 1115px) {
  .red-background-content p {
    height: 110px;
  }
}
@media only screen and (max-width: 576px) {
  .red-background-content p {
    height: 105px;
  }
}
.more-info {
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  padding: 3px 20px;
  font-weight: bold;
  margin-top: 0px;
  width: 170px;
  height: 50px;
  font-size: 24px;
}

.more-info:hover {
  background-color: #969696;
}

.our-mission h1 {
  padding-top: 60px;
  font-size: 60px;
  font-weight: bold;
  color: #e5e5e5;
}
.our-mission .horizontal-red-line,
.our-vision .horizontal-red-line {
  margin: 25px 0px 12px 0px;
}
@media only screen and (max-width: 991px) {
  .our-mission .horizontal-red-line,
  .our-vision .horizontal-red-line {
    width: 130px;
    height: 3px;
    margin: 10px 0px 12px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .our-mission .horizontal-red-line,
  .our-vision .horizontal-red-line {
    width: 100px;
    height: 3px;
    margin: -7px 0px 12px 0px;
  }
  .about-us-wrapper .container1 {
    width: 90%;
    padding: 130px 0 120px;
    /* margin: 20px auto 20px auto; */
  }
}

.mission {
  float: right;
  width: 100%;
}

.our-vision h1 {
  padding-top: 60px;
  margin-top: 30px;
  font-size: 60px;
  font-weight: bold;
  color: #dedede;
}

.vision {
  margin-top: 60px;
  float: left;
  width: 100%;
}

.red-row {
  background-color: red;
  text-align: center;
  color: #fff;
  height: 180px;
  padding-top: 60px;
  margin-top: 40px;
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .red-row {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .red-row {
    padding-top: 30px;
  }
}

.red-row h1 {
  font-weight: bold;
  font-size: 50px;
}

.inverted-coma {
  margin-top: -40px;
}

.john-detail h5 {
  padding-top: 40px;
}

.pic1 {
  position: relative;
  width: 77%;
  height: 135%;
  margin: -20% auto 0% 25%;
}

.pic-i {
  position: absolute;
  width: 46%;
  height: 100%;
  background-color: #e8051c;
  margin: -6% 0px 0px 54%;
}

.pic-j {
  position: absolute;
  width: 90%;
  height: 95%;
}

.john-img {
  width: 101%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}

#para2 {
  color: #000;
  font-size: 14px;
}

.mr-john {
  background-color: #f0f0f0;
  margin-top: 60px;
  height: 200px;
}

.carousel-inner .carousel-item .john-row {
  margin-bottom: 50px;
}

.carousels {
  width: 55px;
  height: 30px;
  background-color: #000;
  margin-left: 87%;
  margin-top: -1.5%;
}

.carousels .carousel-control-prev {
  opacity: 1;
  margin-top: 0px;
  margin-left: 8%;
}

.carousels .carousel-control-next {
  opacity: 1;
  margin-top: 0px;
  margin-right: 2%;
}

.aboutrow_6 .carousel .inverted-coma,
.aboutrow_6 .carousel .inverted-coma2 {
  width: 50px;
}

.aboutrow_6 .carousel .inverted-coma2 {
  margin-top: 170px;
}

/*---------MEDIA QUERIES STARTS---------*/

@media only screen and (min-width: 1943px) and (max-width: 5000px) {
  .about-us {
    height: 850px;
  }
  .red-background {
    width: 110%;
    height: 550px;
  }
  .red-background p {
    font-size: 25px;
  }
  .red-background h4 {
    font-size: 60px;
  }
  .red-background h6 {
    font-size: 45px;
  }
  .about-third-container {
    height: 900px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1466px) and (max-width: 1942px) {
  .about-us {
    height: 750px;
  }
  .red-background {
    width: 160%;
    height: 440px;
  }
  .red-background p {
    font-size: 19px;
  }
  .about-third-container {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1943px) and (max-width: 1970px) {
  .about-second-container {
    margin-top: -60px;
  }
}

@media only screen and (min-width: 1851px) and (max-width: 1942px) {
  .about-second-container {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 1751px) and (max-width: 1850px) {
  .about-second-container {
    margin-top: -60px;
  }
}

@media only screen and (min-width: 1643px) and (max-width: 1750px) {
  .about-second-container {
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1519px) and (max-width: 1642px) {
  .about-second-container {
    margin-top: -130px;
  }
}

@media only screen and (min-width: 1466px) and (max-width: 1518px) {
  .about-second-container {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 1290px) and (max-width: 1465px) {
  .about-us {
    height: 700px;
  }
  .about-second-container {
    margin-top: -140px;
  }
}
@media only screen and (max-width: 780px) {
  .about-us {
    height: 430px;
  }
}

@media only screen and (min-width: 1246px) and (max-width: 1285px) {
  /*---------About Us STARTS---------*/
  .about-second-container h1 {
    margin-top: -390px;
    margin-left: 875px;
  }
  .about-para {
    margin-top: -290px;
  }
  .about-para2 {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 1245px) {
  /*---------About Us STARTS---------*/
  .about-second-container h1 {
    font-size: 90px;
    margin-top: -370px;
    margin-left: 850px;
  }
  .about-us-imgs {
    margin-left: 55px;
  }
  .about-para {
    margin-top: -290px;
  }
  .about-para2 {
    margin-top: -90px;
  }
  .red-background h4 {
    letter-spacing: -1px;
    font-size: 20px;
  }
  .more-info {
    padding: 3px 10px;
    margin-top: -3px;
    width: 140px;
    height: 45px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1219px) {
  /*---------About Us STARTS---------*/
  .about-second-container h1 {
    font-size: 90px;
    margin-top: -355px;
    margin-left: 835px;
    margin-top: -90px;
  }
  .about-us-imgs {
    margin-left: 58px;
  }
  .about-para {
    margin-top: -300px;
  }
  .about-para2 {
    margin-top: -70px;
  }
}

/*large*/

@media only screen and (max-width: 1199px) {
  /*---------About Us page Start---------*/
  .about-us h1 {
    font-size: 65px;
    margin-top: -90px;
  }
  .about-second-container {
    padding-left: 0px;
  }
  .about-second-container h2 {
    margin-top: -20px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-para {
    margin-top: -190px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    margin-top: -210px;
    margin-left: 512px;
  }
  .img2 img {
    width: 170px;
    height: 300px;
    margin-left: 35px;
  }
  .img1 img {
    width: 200px;
    height: 240px;
    margin-left: 70px;
  }
  .img3 img {
    width: 180px;
    height: 400px;
    margin-right: 60px;
  }
  .about-forth-row {
    margin-top: -100px;
  }
  .john-img {
    width: 112%;
  }
  .pic-i {
    width: 52%;
  }
}

@media only screen and (max-width: 1148px) {
  .red-row h5 {
    font-size: 16px;
  }
  .inverted-coma {
    margin-left: -8px;
  }
}

@media only screen and (max-width: 1115px) {
  /*---------About Us page Start---------*/
  .about-second-container h2 {
    margin-top: -70px;
  }
  .about-second-container h5 {
    font-size: 22px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-us-imgs {
    margin-top: -190px;
    margin-left: 443px;
  }
  .about-para {
    margin-top: -200px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .img2 img {
    width: 160px;
    height: 300px;
    margin-left: 35px;
  }
  .img1 img {
    width: 210px;
    height: 240px;
    margin-left: 70px;
  }
  .img3 img {
    width: 180px;
    height: 400px;
    margin-right: 10px;
  }
  .red-background h6 {
    font-size: 14px;
  }
  .red-background h4 {
    letter-spacing: -1px;
    font-size: 25px;
  }
  .more-info {
    padding: 3px 10px;
    margin-top: -8px;
    width: 120px;
    height: 42px;
    font-size: 16px;
  }
  .our-mission {
    margin-top: -40px;
  }
  .our-vision {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 1060px) {
  .red-background h6 {
    font-size: 14px;
  }
  .red-background h4 {
    letter-spacing: -1px;
    font-size: 22px;
  }
  .more-info {
    padding: 3px 10px;
    margin-top: -15px;
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
  .about-forth-row {
    margin-top: -170px;
  }
}

@media only screen and (max-width: 1020px) {
  .about-second-container h2 {
    margin-top: -100px;
  }
  .about-second-container h5 {
    font-size: 22px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-para {
    margin-top: -200px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    margin-top: -190px;
    margin-left: 400px;
  }
  .img2 img {
    width: 160px;
    height: 300px;
    margin-left: 30px;
  }
  .img1 img {
    width: 210px;
    height: 240px;
    margin-left: 70px;
  }
  .img3 img {
    width: 180px;
    height: 400px;
  }
  .more-info {
    padding: 0px 5px;
    margin-top: -12px;
    width: 110px;
    height: 35px;
    font-size: 15px;
  }
  .about-forth-row {
    margin-top: -180px;
  }
  .our-mission h1 {
    font-size: 35px;
  }
  .our-vision h1 {
    font-size: 35px;
  }
}

/*Medium*/

@media only screen and (max-width: 991px) {
  /*---------About Us page Start---------*/
  .about-us h1 {
    font-size: 55px;
    margin-top: -90px;
  }
  .about-second-container h2 {
    margin-top: -150px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-para {
    margin-top: 10px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    display: none;
  }
  .img1 img {
    display: none;
  }
  .img2 img {
    display: none;
  }
  .img3 img {
    display: none;
  }
  .red-background {
    margin-top: 10%;
    margin-left: 45%;
  }
  .red-background h6 {
    margin-top: -10px;
  }
  .red-background h4 {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 28px;
  }
  .red-background p {
    letter-spacing: 0px;
  }
  .more-info {
    padding: 2px 10px;
    font-weight: bold;
    margin-top: -12px;
    width: 120px;
    height: 33px;
    font-size: 16px;
  }
  .about-forth-row {
    margin-top: -200px;
  }
  .our-mission p {
    /* font-size: 14px; */
  }
  .our-mission {
    margin-top: -55px;
  }
  .our-vision p {
    /* font-size: 14px; */
  }
  .red-row h5 {
    font-size: 14px;
  }
  .red-row h1 {
    font-size: 40px;
  }
  .pic1 {
    display: none;
  }
  .carousels {
    display: none;
  }
  .inverted-coma {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 879px) {
  .about-us h1 {
    font-size: 55px;
    margin-top: -90px;

  }
  .about-second-container h2 {
    margin-top: -180px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-para {
    margin-top: 0px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    display: none;
  }
  .img1 img {
    display: none;
  }
  .img2 img {
    display: none;
  }
  .img3 img {
    display: none;
  }
  .red-background h6 {
    margin-top: -15px;
  }
  .red-background h4 {
    margin-top: -5px;
    letter-spacing: 0px;
    font-size: 22px;
  }
  .red-background p {
    font-size: 14px;
  }
  .more-info {
    padding: 2px 10px;
    font-weight: bold;
    margin-top: -9px;
    width: 120px;
    height: 33px;
    font-size: 16px;
  }
  .about-forth-row {
    margin-top: -260px;
  }
  .our-mission h1 {
    font-size: 26px;
  }
  .our-mission p {
    /* font-size: 13px; */
  }
  .about-fifth-row {
    margin-top: -20px;
  }
  .our-vision h1 {
    font-size: 26px;
  }
  .our-vision p {
    /* font-size: 13px; */
  }
}

@media only screen and (max-width: 840px) {
  .more-info {
    padding: 0px;
    margin-top: -8px;
    width: 90px;
    height: 28px;
    font-size: 14px;
  }
  .red-background h4 {
    margin-top: -5px;
    letter-spacing: 0px;
    font-size: 20px;
  }
  .red-background p {
    font-size: 12px;
  }
  .about-forth-row {
    margin-top: -280px;
  }
  .our-mission p {
    /* font-size: 12px; */
  }
  .our-vision p {
    /* font-size: 12px; */
  }
}

/*Small*/

@media only screen and (max-width: 768px) {
  /*---------About Us page Start---------*/
  .about-us h1 {
    font-size: 45px;
    letter-spacing: 0px;
    padding-top: 0%;
    margin-top: 0px;
  }
  .about-second-container h2 {
    margin-top: -180px;
  }
  .about-second-container h1 {
    display: none;
  }
  .about-second-container h5 {
    font-size: 25px;
  }
  .about-para {
    margin-top: 0px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    display: none;
  }
  .img1 img {
    display: none;
  }
  .img2 img {
    display: none;
  }
  .img3 img {
    display: none;
  }
  .about-third-container .row .red-background {
    margin-top: 5%;
    margin-left: 35%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .red-background h4 {
    font-size: 24px;
  }
  .more-info {
    padding: 0px;
    margin-top: 0px;
    margin-right: 18px;
    width: 90px;
    height: 28px;
    font-size: 14px;
  }
  .about-forth-row {
    margin-top: -310px;
  }
  .our-mission h1 {
    font-size: 22px;
    margin-top: -11px;
  }
  .our-vision h1 {
    font-size: 22px;
  }
  .our-mission p {
    /* font-size: 12px; */
    /* line-height: 13px;p */
  }
  .our-vision p {
    /* font-size: 11px; */
  }
  .pic1 {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .about-second-container h2 {
    font-size: 40px;
    margin-top: -260px;
  }
  .about-para {
    margin-top: -80px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .red-background h4 {
    font-size: 20px;
  }
  .about-forth-row {
    margin-top: -350px;
  }
  .about-fifth-row {
    margin-top: -60px;
  }
  .about-us {
    background-size: 100% 300px;
  }
}

@media only screen and (max-width: 630px) {
  .red-background h4 {
    font-size: 16px;
  }
  .red-background h6 {
    font-size: 12px;
  }
  .more-info {
    padding: 0px;
    margin-top: -10px;
    margin-right: 0px;
    width: 90px;
    height: 28px;
    font-size: 14px;
  }
  .about-forth-row {
    margin-top: -380px;
  }
  .red-row h1 {
    font-size: 36px;
  }
  .red-row h5 {
    font-size: 13px;
  }
}

/*ex-small*/

@media only screen and (max-width: 575px) {
  /*---------About Us page Start---------*/
  .about-us h1 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 0px;
  }
  .about-second-container {
    text-align: center;
  }
  .about-second-container h2 {
    font-size: 40px;
    margin-top: -280px;
  }
  .about-second-container h5 {
    font-size: 20px;
  }
  .about-para {
    margin-top: -140px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    display: none;
  }
  .img1 img {
    display: none;
  }
  .img2 img {
    display: none;
  }
  .img3 img {
    display: none;
  }
  .about-third-container {
    background-image: none;
  }
  .about-third-container .row .red-background {
    margin-top: 0%;
    margin-left: 10%;
    padding-left: 25px;
    padding-right: 20px;
  }
  .red-background h4 {
    font-size: 24px;
  }
  .red-background p {
    font-size: 14px;
    line-height: 17px;
  }
  .more-info {
    padding: 0px;
    margin-top: 0px;
    margin-right: 18px;
    width: 90px;
    height: 28px;
    font-size: 14px;
  }
  .about-forth-row {
    margin-top: -350px;
  }
  .red-row {
    height: 250px;
  }
  .red-row h1 {
    font-size: 32px;
  }
  .red-row h5 {
    font-size: 14px;
  }
  .inverted-coma2 {
    margin-top: 50px;
    float: right;
  }
  .mr-john {
    height: 250px;
  }
}

@media only screen and (max-width: 550px) {
  .about-second-container h2 {
    font-size: 40px;
    margin-top: -300px;
  }
  .about-forth-row {
    margin-top: -370px;
  }
}

@media only screen and (max-width: 485px) {
  .red-background h4 {
    font-size: 18px;
  }
  .about-second-container {
    margin-top: -25px;
  }
  .inverted-coma {
    width: 33px;
  }
  .inverted-coma2 {
    width: 33px;
  }
}

@media only screen and (max-width: 375px) {
  .red-background h4 {
    font-size: 16px;
  }
  .red-background h6 {
    font-size: 11px;
    margin-top: -24px;
  }
  .red-background p {
    font-size: 11px;
    line-height: 13px;
  }
  .more-info {
    padding: 0px;
    margin-top: -16px;
    margin-right: 18px;
    width: 80px;
    height: 26px;
    font-size: 11px;
  }
  .about-forth-row {
    margin-top: -460px;
  }
  .our-mission h1 {
    font-size: 19px;
  }
  .our-mission p {
    /* font-size: 10px; */
  }
  .our-vision h1 {
    font-size: 19px;
  }
  .our-vision p {
    /* font-size: 10px; */
  }
  .vision {
    width: 80px;
  }
  .about-second-container {
    margin-top: 20px;
  }
  .mr-john {
    height: 300px;
  }
  .inverted-coma2 {
    margin-top: 100px;
    margin-right: 10px;
  }
}

/*extra small*/

@media only screen and (max-width: 320px) {
  /*---------About Us page Start---------*/
  .about-us h1 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .about-second-container {
    margin-top: 0px;
  }
  .about-para {
    margin-top: -125px;
  }
  .about-para2 {
    margin-top: 0px;
  }
  .about-us-imgs {
    display: none;
  }
  .img1 img {
    display: none;
  }
  .img2 img {
    display: none;
  }
  .img3 img {
    display: none;
  }
  .more-info {
    padding: 0px;
    margin-top: 10px;
    margin-right: -20px;
    width: 80px;
    height: 26px;
    font-size: 11px;
  }
  .red-background h4 {
    font-size: 14px;
  }
  .red-background h6 {
    font-size: 10px;
  }
  .red-row h1 {
    font-size: 28px;
  }
  .red-row h5 {
    font-size: 12px;
  }
}

/*---------About Us page End---------*/
