
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active9, .btn:hover {
  background-color: blue;
  color: white;
}

/* |||||||||||||||||||||FIRST NAV STARTS||||||||||||||||||||| */
/* .body {
  background-color: lightpink;
} */
.div1 {
  width: 100%;
  height: 107px;
  background-color: #E5E5E5;
}
.navFirstMainDiv {
  width: 100%;
  height: 36px;
  background-color: rgba(93, 93, 93, 0.5);
}
.navFirst {
  width: 80%;
  height: 36px;
  color: #FFFFFF;
  margin: 0 auto;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF !important;
  font-size: 14px;
}
.navFirst .divLeft {
  float: left;
  width: 50%;
  height: 36px;
  line-height: 36px;
}
.navFirst .divLeft a, .navFirst .divRight a {
  color: #FFFFFF;
}
.navFirst .divLeft span {
  font-size: 13px;
}
.bs-example {
  float: left;
}
.bs-example .dropdown a {
  color: #FFFFFF;
}
.bs-example .dropdown .dropdown-menu a {
  color: #000000;
}
.bs-example .dropdown .dropdown-toggle::after {
  border: 0px solid transparent !important;
}
.bs-example .dropdown {
  width: 140%;
  height: auto;
  background-image: url('../img/home/dropdown.png');
  background-repeat: no-repeat;
  background-position: 87% 57%;
}
.bs-example .supportBtn {
  cursor: pointer;
}
.navFirst .divLeft .span1, .navFirst .divLeft .span2 {
  padding: 0px 0px 0px 0px !important;
}
.navFirst .divRight {
  float: right;
  width: 130px;
  height: 36px;
  line-height: 36px;
}
.navFirst .divRight span img {
  width: 24px;
  border-radius: 50px;
  margin: 0px 0px 4px 8px;
}
@media only screen and (max-width: 768px) {
  .navFirst .divRight #dashboard-button {
    display: none;
  }
}

.navSecond {
  width: 80%;
  height: 70px;
  color: #FFFFFF;
  margin: 0 auto;
}
.navSecond img {
  float: left;
}
.red-border-bottom {
  border-bottom: 2px solid red !important;
}
.nav-link {
  color: #FFFFFF;
  text-decoration: blue;
  border-bottom: 2px solid transparent;
}
.nav-link:hover {
  border-bottom: 2px solid red;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
}
@media only screen and (min-width: 300px) and (max-width: 991px) {
  nav .navbar-collapse {
    opacity: 0.9;
    background-color: #F40019;
    position: relative;
    z-index: 300;
    padding: 20px 0px;
  }
  .navbar-nav .nav-link {
    margin-left: 20px;
  }
}
/* ||||||||||||||||||||||||||||||||||MEDIA QUERIES STARTS|||||||||||||||||||||||||||||||||| */
@media only screen and (min-width: 1200px) {
  .div1 {
      background-position: 0% 93%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
/*---------HEADER STARTS---------*/
/*---------HEADER ENDS---------*/
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navFirst .divRight {
    width: 130px;
  }
  .divRed h1 {
      width: 475px;
      padding-right: 0%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .navFirst .divRight {
    width: 114px;
  }
  .navFirst .divRight span {
    float: right;
  }
}