/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////DASHBOARD1 STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
/* 
::-moz-scrollbar,
::-moz-scrollbar{
	width: 13px;
	border-radius: 10px;
}
::-moz-scrollbar-track,
::-moz-scrollbar-track {
	background: #E4E4E4;
	border-radius: 10px;
}
::-moz-scrollbar-thumb,
::-moz-scrollbar-thumb{
	background: #C0C0C0;
	border-radius: 10px;
	border: 4px solid #E4E4E4;
}

::-moz-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover {
	background: #A0A0A0;
} */
/* 
.dashboard1 .divB .divScroll::-moz-scrollbar,
.dashboard1 .divB .divScroll2::-moz-scrollbar{
	width: 13px;
	border-radius: 10px;
}
.dashboard1 .divB .divScroll::-moz-scrollbar-track,
.dashboard1 .divB .divScroll2::-moz-scrollbar-track {
	background: #E4E4E4;
	border-radius: 10px;
}
.dashboard1 .divB .divScroll::-moz-scrollbar-thumb,
.dashboard1 .divB .divScroll2::-moz-scrollbar-thumb{
	background: #C0C0C0;
	border-radius: 10px;
	border: 4px solid #E4E4E4;
}
.dashboard1 .divB .divScroll::-moz-scrollbar-thumb:hover,
.dashboard1 .divB .divScroll2::-moz-scrollbar-thumb:hover {
	background: #A0A0A0;
}
*/

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
  border: 4px solid #e4e4e4;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}
body {
  /* background-color: #F8F8F8 !important; */
}
.dashboard1 {
  width: 990px;
  height: 680px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 5px #c2c2c2;
  margin: 50px auto 50px auto;
}
@media only screen and (max-width: 1195px) {
  .dashboard1 {
    margin: 50px auto 80px auto;
  }
}
@media only screen and (max-width: 1000px) {
  .dashboard1 {
    margin: 50px auto 190px auto;
  }
}
.dashboard1 .divA {
  float: left;
  width: 170px;
  height: 100%;
}
.secondVerticalMenu {
  float: left;
  width: 170px;
  height: 100px;
}
.dashboard1 .divA .divProfile {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: brown;
  background-image: url("../img/dashboard1/red.png");
  background-size: cover;
  padding-top: 23px;
}
.dashboard1 .divA .divProfile i {
  position: absolute;
  top: 10px;
  right: 17px;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.dashboard1 .divA .divProfile i:hover {
  border-radius: 50px;
  border: 1px solid #ffffff;
  padding: 5px;
}

.secondVerticalMenu .divProfile i {
  position: absolute;
    top: 5px;
    left: 6px;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    font-size: 17px;
}
.secondVerticalMenu .divProfile {
  width: 100%;
  height: 150px;
  background-color: brown;
  background-image: url("../img/dashboard1/red.png");
  background-size: cover;
  padding-top: 18px;
}
.secondVerticalMenu .divProfile .img1 {
  clear: both;
  border-radius: 5px;
  margin: -10px 0px 0px 136px;
}
.dashboard1 .divA .divProfile p,
.secondVerticalMenu .divProfile p {
  color: #ffffff;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  margin: 10px auto 0px auto;
}
.dashboard1 .divA .divProfile .imgProfile,
.secondVerticalMenu .divProfile .imgProfile {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  border: 3px solid #ffffff;
  margin: 0 auto;
}
.dashboard1 .divA .divProfile .imgProfile img,
.secondVerticalMenu .divProfile .imgProfile img {
  width: 100%;
}
.dashboard1 .divA .divVerticalMenu {
  width: 100%;
  height: 530px;
  background-color: #464646;
  background-image: url("../img/dashboard1/rapidRemitBack.png");
  background-repeat: no-repeat;
  background-size: 94%;
  background-position: 5px 390px;
}
.secondVerticalMenu .divVerticalMenu {
  width: 100%;
  height: 430px;
  background-color: #464646;
  background-image: url("../img/dashboard1/rapidRemitBack.png");
  background-repeat: no-repeat;
  background-size: 94%;
  background-position: 5px 300px;
}
.dashboard1 .divA .divVerticalMenu ul {
  width: 170px;
  height: 300px;
  padding: 35px 0px 0px 0px;
}
.row .divBurgerMenu .secondVerticalMenu .divVerticalMenu ul {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 300px;
  background-color: #464646;
  padding: 35px 0px 0px 0px;
}
.dashboard1 .divA .divVerticalMenu ul a,
.secondVerticalMenu .divVerticalMenu ul a {
  text-decoration: none;
}
.dashboard1 .divA .divVerticalMenu ul li,
.secondVerticalMenu .divVerticalMenu ul li {
  list-style-type: none;
  color: #ffffff;
  font-size: 11px;
  text-indent: 20px;
  border-left: 5px solid transparent;
  padding: 12px 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media only screen and (max-width: 780px) {
  .dashboard1 .divA .divVerticalMenu ul li {
    list-style-type: none;
    color: #ffffff;
    font-size: 11px;
    text-indent: 10px;
  }
}
.dashboard1 .divA .divVerticalMenu ul li:hover,
.secondVerticalMenu .divVerticalMenu ul li:hover {
  border-left: 5px solid #f6051d;
}
.borderLeft {
  border-left: 5px solid #f6051d !important;
}
.dashboard1 .divB {
  float: left;
  width: 820px;
  height: 100%;
  background-color: #f8f8f8;
  padding: 0px 30px 0px 30px;
}
.dashboard1 .divB .row .divBurgerMenu {
  position: relative;
  width: 30px;
  height: 24px;
  margin: 20px 0px 0px 0px;
}
.dashboard1 .divB .row .secondVerticalMenu {
  display: none;
  position: absolute;
  width: 170px;
  height: auto;
  z-index: 200;
  border-radius: 12px;
  overflow: hidden;
  margin: -5px 0px 0px -5px;
}
.dashboard1 .divB .row .burgerButton {
  display: none;
}
@media(max-width: 576px){
  .divA {
    display: none;
}
.sider-d{
  display: none;
}
.side-drawer-d {
  display: block;
}
}
.divA {
  display: block;
}
.side-drawer-d {
display: none;
}
.dashboard1 .divB .row h3 {
  width: 100%;
  color: #e5e5e5;
  font-family: Lato-Regular;
  font-weight: 600;
  margin: 24px 0px 10px 0px;
}
.dashboard1 .divB .row .h3Margin {
  margin: 60px 0px 10px 0px;
}
.dashboard1 .divB .divBrow1 {
  border-bottom: 1px solid #ececec;
}
.dashboard1 .divB .divBrow1 select {
  height: 30px;
  font-size: 13px;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  margin-left: 15px;
}
.dashboard1 .divB .divBrow1 select:focus {
  outline: none;
}
.dashboard1 .divB .row ul {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  width: 156px;
  height: 28px;
  border-radius: 20px;
  background-color: #e8e8e8;
  padding: 2px 8px;
  margin-bottom: 15px;
}
.dashboard1 .divB .row ul li {
  float: left;
}
.dashboard1 .divB .row .nav .buttonSlide {
  position: absolute;
  width: 45px;
  height: 20px;
  border-radius: 20px;
  background-color: #f6051d;
  margin: 2px 0px 0px 0px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.dashboard1 .divB .row .nav .buttonSlide:hover {
  margin: 2px 0px 0px 50px;
}
.dashboard1 .divB .row .nav .buttonSlide2 {
  position: relative;
  width: 70px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  z-index: 100;
  border-radius: 20px;
  text-align: center;
  margin: 2px 0px 0px 0px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.dashboard1 .divB .row .nav .buttonSlide2 p {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.dashboard1 .divB .row .nav #days7 {
  color: #fff;
}
.dashboard1 .divB .row .nav #days7,
.dashboard1 .divB .row .nav #days30 {
  cursor: pointer;
}
.dashboard1 .divB .row .nav ul li {
  position: relative;
  float: left;
  color: #ffffff;
  font-size: 10px;
  list-style-type: none;
  z-index: 3;
  cursor: pointer;
  padding: 2px 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.dashboard1 .divB .divBrow1 .date {
  width: 100px;
  height: auto;
  font-size: 12px;
  text-align: right;
  font-family: Lato-Regular;
  margin: 120px 0px 0px 0px;
}
.dashboard1 .divB .divScroll {
  width: 100%;
  height: 520px;
  padding: 5px 0px 0px 0px;
  margin: 0;
}
/* .dashboard1 .divB .divScroll::-webkit-scrollbar,
.dashboard1 .divB .divScroll2::-webkit-scrollbar,
.dashboard1 .divB .divScroll::-moz-scrollbar,
.dashboard1 .divB .divScroll2::-moz-scrollbar {
	width: 13px;
	border-radius: 10px;
}
.dashboard1 .divB .divScroll::-webkit-scrollbar-track,
.dashboard1 .divB .divScroll2::-webkit-scrollbar-track,
.dashboard1 .divB .divScroll::-moz-scrollbar-track,
.dashboard1 .divB .divScroll2::-moz-scrollbar-track {
	background: #E4E4E4;
	border-radius: 10px;
}
.dashboard1 .divB .divScroll::-webkit-scrollbar-thumb,
.dashboard1 .divB .divScroll2::-webkit-scrollbar-thumb,
.dashboard1 .divB .divScroll::-moz-scrollbar-thumb,
.dashboard1 .divB .divScroll2::-moz-scrollbar-thumb {
	background: #C0C0C0;
	border-radius: 10px;
	border: 4px solid #E4E4E4;
}
.dashboard1 .divB .divScroll::-webkit-scrollbar-thumb:hover,
.dashboard1 .divB .divScroll2::-webkit-scrollbar-thumb:hover,
.dashboard1 .divB .divScroll::-moz-scrollbar-thumb:hover,
.dashboard1 .divB .divScroll2::-moz-scrollbar-thumb:hover {
	background: #A0A0A0;
} */
@media only screen and (max-width: 990px) {
  .dashboard1 {
    width: 100%;
    min-height: 680px;
    margin: 50px auto 220px auto;
  }
  .dashboard1 .divA {
    float: left;
    width: 20%;
    height: 100%;
  }
  .dashboard1 .divB {
    float: left;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
  }
  .dashboard1 .divB .divBrow1 .date {
    width: 100px;
    text-align: unset;
  }
}
@media only screen and (max-width: 700px) {
  .dashboard1 .divB .divBrow1 .date {
    width: 100px;
    text-align: unset;
    margin: 120px 0px 0px -20px;
  }
}
@media only screen and (max-width: 575px) {
  .dashboard1 .divB .divBrow1 .date {
    width: 100%;
    text-align: right;
    margin: -5px 0px 0px 0px;
  }
}
@media only screen and (max-width: 576px) {
  .dashboard1 {
    margin: 50px auto 250px auto;
  }
  .dashboard1 .divA {
    float: left;
    width: 0%;
    height: 100%;
  }
  .dashboard1 .divB {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0px 20px 0px 20px;
  }
  .dashboard1 .divB .row .img1 {
    z-index: 6;
    position: absolute;
  }
  .dashboard1 .divB .row .burgerButton {
    display: block;
  }
  .dashboard1 .divB .row .imgProfilePic {
    display: block;
  }
}
@media only screen and (max-width: 521px) {
  .dashboard1 {
    margin: 50px auto 280px auto;
  }
}
@media only screen and (max-width: 461px) {
  .dashboard1 {
    margin: 50px auto 310px auto;
  }
}
@media only screen and (max-width: 401px) {
  .dashboard1 {
    margin: 50px auto 330px auto;
  }
}
@media only screen and (max-width: 371px) {
  .dashboard1 {
    margin: 50px auto 370px auto;
  }
}
@media only screen and (max-width: 400px) {
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////DASHBOARD1 ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
