.container1 {
  width: 90%;
  margin: 0px auto 0px auto;
}
/*---------Network PAGE Start---------*/
.LiveRate {
  background-color: #fff;
}
.red {
  color: #f40019;
}
.gray {
  color: #969696;
}
.our-network .divRedWhiteLine {
  position: absolute;
  width: 5px;
  height: 170px;
  background-color: #f40019;
  margin: 285px 0px 0px 35px;
}
.LiveRate .our-network .container1 .row .first-heading {
  position: relative;
  font-weight: bold;
  color: #e5e5e5;
  letter-spacing: -3px;
  line-height: 32px;
  font-size: 70px;
  text-align: center;
  margin-bottom: 15px;
}
.buildings {
  width: 100%;
}
.second-heading {
  font-weight: bold;
  color: #ff002a;
  letter-spacing: 3px;
  font-size: 55px;
  text-align: center;
  -webkit-text-stroke: 2px;
}
#para1 {
  color: #7a7a7a;
  font-size: 16px;
  text-align: center;
  margin: 15px 0 0 0;
}
#para2 {
  color:#7a7a7a;
  font-size: 14px;
}
.rate-boxes p {
  font-size: 16px;
  color:#7a7a7a;
}
.mr-john {
  background-color: #f0f0f0;
  height: 200px;
  margin-top: 80px;
}
.john-detail h5 {
  padding-top: 40px;
}
.pic1 {
  position: relative;
  width: 230px;
  height: 270px;
  margin: -50px auto 0px 70px;
}
.pic-i {
  position: absolute;
  width: 90px;
  height: 250px;
  background-color: #e8051c;
  margin: -12px 0px 0px 100px;
}
.pic-j {
  position: absolute;
  width: 180px;
  height: 264px;
}
.vertical-red-line {
  margin: -30px 0px 0px 20px;
  width: 4px;
  height: 100px;
  background-color: #e8051c;
}
.column h1 {
  letter-spacing: -1px;
  margin-top: 6px;
  font-weight: bold;
  color: #4f4f4f;
}
.review-num {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  width: 30%;
  float: right;
  text-align: right;
  margin-top: 10px;
}
.column_column {
  background-color: #f5f5f5;
  width: 353px;
  /* width: 310px; */
  /* height: 270px; */
  /* height: 250px; */
  min-height: 250px;
  max-height: 300px;
  padding: 20px 25px;
  margin: 10px;
}
.column_column h1 {
  /* font-size: 20px; */
  font-size: 22px;
  margin-top: 5px;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}
.div-img {
  width: 100%;
  height: 60px;
}
.img-div {
  width: 100%;
  height: 80px;
}
.img-div img {
  width: 60%;
  height: 68px;
}
.img-div .logoDiv {
  float: left;
  width: 70%;
  height: 68px;
}
.img-div .logoDiv img {
  /* width: unset; */
  width: 150px;
  height: 100%;
  /* -o-object-fit: cover;
  object-fit: cover; */
}
.see-details {
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  float: right;
  padding: 3px 20px;
  font-weight: bold;
  margin-top: 40px;
}
.see-details:hover {
  background-color: #969696;
}
.rate-boxes .row .col-xl-4,
.rate-boxes .row .col-lg-4,
.rate-boxes .row .col-md-4,
.rate-boxes .row .col-sm-12,
.rate-boxes .row .col-12 {
  padding: 5px;
}
.review {
  display: block;
  font-size: 10px;
}
.review2 {
  display: block;
  font-size: 10px;
  height: 40px;
}
.three-twenty {
  font-weight: bold;
  font-size: 11px;
  margin-top: 0px;
}
.column_column img {
  height: 100px;
  width: 60%;
}
.inverted-coma {
  margin-top: -40px;
}
.inverted-coma2 {
  padding-top: 180px;
  margin-left: -50px;
}
.rating-card-bottom {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  padding-top: 30px;
}
.rating-card-bottom .btn-see-details {
  border: 1px solid #363636 ;
  font-size: 1.1em;
  background-color: #363636;
  color: #ffffff;
  padding: 6px 20px;
  transition: 500ms; 
}

.rating-card-bottom .btn-see-details:hover {
  border: 1px solid black ;
  font-size: 1.1em;
  background-color: #f90d26;
  color: #fff;
  padding: 6px 20px;
  transition: 500ms;
}

.rating-card-bottom .add-or-edit-review {
  height: 25px;
  line-height: 25px;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #F40019;
  color: white;
  padding: 0px 10px;
  margin: 0 0 5px 45px;
}
.rating-card-bottom .add-or-edit-review :hover {
  color: #000;
}
.rating-card-bottom div {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}
.rating-card-bottom .review-div {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
.two-buttons {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}
.two-btn-div{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end !important;
}
.two-buttons a:hover {
  text-decoration: none;
}
/* Company-overview CSS */
.background {
  background-image: url("../img/our-network/overview-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 2%;
  padding: 50px 0 0 0;
}
.overview-columns {
  background-color: #f9f9f9;
}
.col-margin {
  margin-left: 32px;
}
.col-margin2 {
  margin-left: 63px;
}
.column1 {
  width: 110%;
  background-color: #f0f0f0;
  height: 250px;
  padding: 8%;
}
.column1 h2 {
  color: #4f4f4f;
  font-weight: bold;
  line-height: 0.8;
}
.overview-rate-boxes {
  display: block;
}
.overview-rate-boxes2 {
  display: none;
}
.overview-form-row {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-top: 40px;
  height: auto;
  background-color: #f90d26;
}
.overview-form-row label {
  font-weight: bold;
  margin-right: 10px;
}
.label {
  text-align: center;
  background: transparent;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  font-weight: normal;
  float: left;
}
.label label {
  padding-left: 6px;
}
.form-control {
  border-radius: 0px;
  border-bottom: 2px solid white;
  color: white;
}
#pagination-select > .form-control {
  border-radius: 0px;
  border-bottom: 2px solid #ced4da;
  color: black;
}
/* #to {
  margin-left: 25px;
} */
.container1 .row .label .form-control {
  width: 70%;
}
.overview-search-btn {
  border: 0px solid black;
  color: #fff;
  background-color: #000;
  margin-top: 30px;
  border-radius: 0px;
  width: 110px;
  height: 38px;
  font-size: 15px;
  font-weight: bold;
}
.overview-form-btn {
  border: 0;
  color: #fff;
  background-color: #4c4c4c;
  margin-top: 10px;
  border-radius: 0px;
  min-width: 100px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
}
.overview-column1 {
  background-color: #4f4f4f;
  border-bottom: 1px solid #c3c3c3;
  padding: 10px 0;
}
.overview-column1 h5 {
  color: #fff;
  padding-top: 12px;
  font-size: 16px;
  padding-left: 16px;
}

/* .over-view-container .overview-column1 h5.actions-heading {
  color: #cd5c5c;
} */
.over-view-container .map-btn-div {
  padding-left: 30px
}
.over-view-container .overview-columns .map-btn-div i {
  color: #a8a8a8;
  cursor: pointer;
  font-size: 26px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 10px;
  transition: all 0.3s ease;
}
.over-view-container .overview-columns .map-btn-div i:hover {
  color: #a8a8a8;
  border: 1px solid #a8a8a8;
  background-color: rgba(184, 182, 183, 0.2);
  padding: 10px;
}
.over-view-container .overview-columns i {
  color: #cd5c5c;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 10px;
  transition: all 0.3s ease;
}
.over-view-container .overview-columns i:hover {
  color: #f90d26;
  border: 1px solid #f90d26;
  background-color: rgba(249, 13, 38, 0.2);
  padding: 10px;
}
.over-view-container .overview-columns i:active {
  background-color: rgba(249, 13, 38, 0.4);
}

.over-view-container .overview-columns {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* justify-content: center; */
  align-items: center;
}
.over-view-container .delete-btn-div {
  padding-left: 30px
}
/* 
.over-view-container .delete-btn-div {
  display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:  100%;
}
.over-view-container .delete-btn-div:hover {
  background-color: #f40019;
}
.over-view-container .delete-btn-div:hover i {
  color: #fff;
} */

.overview-rate-boxes .overview-columns p {
  color: #000;
}
.over-view-container {
  /* min-width: 960px; */
  margin: 0px auto;
}
.over-view {
  padding: 0% 0% 4% 0%;
}
.our-network {
  padding: 4% 0% 4% 0%;
}
.our-network-rating-cards-main-div {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.modal-body #review-rating-card textarea::placeholder {
  color: #000;
}
@media only screen and (max-width: 576px) {
  .our-network-rating-cards-main-div {
    justify-content: center;
  }
  .column_column {
    width: 280px;
  }
}
.modal-dialog-centered .star-ratings {
  margin-left: 10px;
}

@media only screen and (min-width: 576px) {
 
  .modal-dialog {
    max-width: 580px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered .modal-body textarea {
    width: 100%;
  }
  .modal-dialog-centered .modal-body .edit-form .form-group {
    padding: 0;
  }
  .modal-dialog-centered .modal-title h5 {
    font-size: 30px;
    margin: 10px;
  }
}
.over-view .overview-rate-boxes .row .col-xl-3 {
  padding-right: 0px;
  padding-left: 0px;
}
.overview-columns {
  border-bottom: 1px solid #c3c3c3;
}
.p-margin1 p {
  padding-left: 50px;
  padding-top: 10px;
}
.p-margin p {
  padding-left: 70px;
  padding-top: 10px;
}
.p-margin2 p {
  padding-left: 30px;
  padding-top: 10px;
}
.p-margin1 ul {
  list-style-type: "- ";
  padding-left: 50px;
  padding-top: 10px;
}
.p-margin ul {
  list-style-type: "- ";
  padding-left: 70px;
  padding-top: 10px;
}
.p-margin2 ul {
  list-style-type: "- ";
  padding-left: 30px;
  padding-top: 10px;
}
.overview-column {
  background-color: #5c5b5b;
  border-bottom: 1px solid #c3c3c3;
}
.carousel-item .row .overview-column img {
  width: 80%;
}
.first-heading {
  font-size: 70px;
}
.second-heading {
  font-size: 50px;
}
/*---------MEDIA QUERIES STARTS---------*/
@media only screen and (min-width: 1876px) and (max-width: 3264px) {
  .background {
    background-image: url("../img/our-network/overview-bg.png");
    background-position: 77% 1000%;
  }
}
@media only screen and (min-width: 1377px) and (max-width: 1875px) {
  .background {
    background-image: url("../img/our-network/overview-bg.png");
    background-position: 93% -51%;
  }
}
@media only screen and (max-width: 1262px) {
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 70px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 1092px) {
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 64px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  /*---------Network Start---------*/
  .second-heading {
    font-size: 45px;
  }
  .divRedWhiteLine {
    display: none;
  }
  .column h1 {
    letter-spacing: -1px;
    margin-top: 0px;
    font-size: 34px;
  }

  /*---------overview Start---------*/
  .col-margin {
    margin-left: 25px;
  }
  .col-margin2 {
    margin-left: 49px;
  }
  .column1 {
    width: 110%;
    padding: 8%;
  }
}
@media only screen and (min-width: 876px) and (max-width: 1100px) {
  .first-heading {
    font-size: 48px;
  }
  .second-heading {
    font-size: 38px;
  }
  .divRedWhiteLine {
    display: none;
  }
  .column h1 {
    letter-spacing: -1px;
    margin-top: 0px;
    font-size: 34px;
  }
}
/*Medium*/
@media only screen and (max-width: 991px) {
  /*---------Overview Start---------*/
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 50px;
    margin-bottom: 4px;
  }
  .first-heading {
    font-size: 48px;
  }
  .second-heading {
    font-size: 35px;
  }
  .column h1 {
    letter-spacing: -1px;
    margin-top: 0px;
    font-size: 28px;
  }
  .see-details {
    width: 100px;
    font-size: 12px;
  }
  .label label {
    padding-left: 0px;
  }
  /* #to {
    margin-left: 10px;
  } */
  .container1 .row .label .form-control {
    width: 100%;
  }
  .overview-search-btn {
    width: 150px;
  }
  .overview-form-btn {
    width: 120px;
    height: 40px;
    font-size: 10px;
  }
  .over-view .container1 {
    width: 95%;
    margin: 20px auto 0px auto;
  }
  .col-margin {
    margin-left: 20px;
  }
  .col-margin2 {
    margin-left: 40px;
  }
  .p-margin1 p {
    padding-left: 40px;
    padding-top: 10px;
  }
  .p-margin p {
    padding-left: 50px;
    padding-top: 10px;
  }
  .p-margin2 p {
    padding-left: 20px;
    padding-top: 10px;
  }
  .p-margin1 ul {
    padding-left: 40px;
    padding-top: 10px;
  }
  .overview-column1 h5 {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .p-margin ul {
    padding-left: 50px;
    padding-top: 10px;
  }
  .p-margin2 ul {
    padding-left: 20px;
    padding-top: 10px;
  }
  .column1 {
    width: 112%;
    padding: 6%;
  }
  .column1 h2 {
    font-size: 24px;
  }
  /*---------overview Start---------*/
  .overview-column h3 {
    display: none;
  }
  .our-network .carousel-control-prev .carousel-control-prev-icon {
    display: none;
  }
  .our-network .carousel-control-next .carousel-control-next-icon {
    display: none;
  }
  .inverted-coma {
    margin-left: -5px;
    width: 40%;
  }
  .inverted-coma2 {
    padding-top: 130px;
    margin-left: -10px;
    width: 130%;
  }
  .pic1 {
    width: 100%;
    margin-left: 38px;
    height: 180px;
    margin-top: -40px;
  }
  .pic-i {
    width: 40px;
    height: 200px;
  }
  .pic-j {
    width: 10px;
    height: 160px;
  }
  .john {
    width: 120px;
  }
  .mr-john {
    background-color: #f0f0f0;
    height: 150px;
    margin-top: 60px;
  }
  .john-detail h5 {
    padding-top: 15px;
    font-size: 18px;
  }
  #para2 {
    font-size: 12px;
  }
  .divRedWhiteLine {
    display: none;
  }
}

/*small*/
@media only screen and (max-width: 767px) {
  /*---------Network Start---------*/
  .inverted-coma {
    display: none;
  }
  .inverted-coma2 {
    display: none;
  }
  .pic1 {
    width: 100%;
    margin-left: -20px;
    height: 180px;
    margin-top: 0px;
  }
  .pic-i {
    width: 50px;
    height: 220px;
  }
  .pic-j {
    width: 10px;
    height: 180px;
  }
  .john {
    width: 130px;
  }
  .mr-john {
    background-color: #f0f0f0;
    height: 180px;
    margin-top: 40px;
  }
  .john-detail h5 {
    padding-top: 15px;
    font-size: 18px;
  }
  #para2 {
    font-size: 12px;
  }
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 0px;
  }
  .second-heading {
    font-size: 30px;
  }
  .column_column img {
    width: 75%;
    /* object-fit: contain; */
  }
  .div-img {
    height: 70px;
  }
  #para1 {
    font-size: 13px;
  }

  /* Overview-start */
  .overview-rate-boxes {
    display: none;
  }
  .overview-rate-boxes2 {
    display: block;
    /* width: 510px; */
    width: 95%;
    margin: 20px auto;
  }
  .overview-rate-boxes2 #carouselExampleIndicators .carousel-indicators {
    margin-bottom: -20px;
    background-color: #4f4f4f;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .carousel-inner .carousel-item .row .col-md-7,
  .carousel-inner .carousel-item .row .col-sm-7,
  .carousel-inner .carousel-item .row .col-7 {
    padding-left: 0px;
  }
  .overview-column1 h5 {
    padding-left: 30px;
  }
  .overview-column {
    background-color: #4f4f4f;
    border-bottom: 1px solid #c3c3c3;
    width: 100%;
  }
  .overview-column .column h4 {
    color: #4f4f4f;
  }
  .overview-column h5 {
    color: #fff;
    padding-top: 12px;
    font-size: 16px;
    padding-left: 16px;
  }
  .overview-columns {
    background-color: #f0f0f0;
    color: #000;
  }
  .over-view .container1 .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .over-view {
    padding: 4% 0% 0% 0%;
  }
  .overview-columns p {
    padding-left: 15px;
  }
  .overview-columns ul {
    padding-left: 15px;
  }
  .carousel-item .row .col-sm-7,
  .carousel-item .row .col-7 {
    padding-right: 0px;
  }
  .overview-form-btn {
    font-size: 15px;
    width: 65%;
  }
  .overview-column .column h4 {
    font-size: 30px;
    font-weight: bold;
  }
  .see-details {
    width: 120px;
    font-size: 12px;
    height: 30px;
  }
  .column {
    padding: 5%;
  }

  .review-num {
    width: 20%;
    margin-top: 20px;
  }
  .carousel-item .row .img-div img {
    width: 75%;
    height: 90px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 614px) {
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 35px; 
  }
}

@media only screen and (max-width: 575px) {
  /*---------Network Start---------*/
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 29px;
    margin-bottom: -2px;
  }
  .second-heading {
    font-size: 19px;
    letter-spacing: 2px;
    margin-top: -40px;
  }
  #para1 {
    font-size: 13px;
    margin: 0;
  }
  .overview-rate-boxes2 {
    /* width: 100%; */
  }
  body .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 478px) {
  .pic-i {
    width: 50px;
    height: 180px;
    margin-left: 75px;
  }
  .pic-j {
    width: 30px;
    height: 160px;
  }
  .john {
    width: 110px;
  }
  .mr-john {
    height: 160px;
    margin-top: 40px;
  }
  .john-detail h5 {
    padding-top: 15px;
    font-size: 16px;
  }
  #para2 {
    font-size: 11px;
  }
  .overview-column .column {
    padding: 7%;
  }
  .carousel-item .row .img-div img {
    width: 80%;
    height: 85px;
    margin-bottom: 25px;
  }
}
/*extra small*/
@media only screen and (max-width: 440px) {
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 25px;
  }
  .overview-column h5 {
    font-size: 12px;
  }
  .overview-columns {
    font-size: 12px;
  }
  .overview-column .column h4 {
    font-size: 22px;
  }
  .carousel-item .row .img-div img {
    width: 60%;
    height: 75px;
    margin-bottom: 25px;
  }
  .column {
    padding: 10px;
  }
  .overview-form-btn {
    font-size: 12px;
    width: 140px;
  }
  .review-num {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 388px) {
  .pic1 {
    margin-top: 25px;
    margin-left: -15px;
  }
  .pic-i {
    width: 40px;
    height: 160px;
    margin-left: 60px;
  }
  .pic-j {
    width: 30px;
    height: 120px;
  }
  .john {
    width: 90px;
  }
  .mr-john {
    height: 200px;
    margin-top: 40px;
  }
  .john-detail h5 {
    padding-top: 20px;
    font-size: 15px;
  }
  #para2 {
    font-size: 10px;
  }
  .carousel-item .row .img-div img {
    width: 60%;
    height: 65px;
    margin-bottom: 25px;
  }
  .review-num {
    margin-top: 0px;
  }
}
/*extra small*/
@media only screen and (max-width: 360px) {
  /*---------Network Start---------*/
  .LiveRate .our-network .container1 .row .first-heading {
    font-size: 22px;
    margin-bottom: -4px;
  }
  .second-heading {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: -40px;
  }
  .carousel-item .row .img-div img {
    width: 55%;
    height: 60px;
    margin-bottom: 15px;
  }
  .overview-column .column h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  /*---------Overview Start---------*/
  .carousel-item .row .overview-column h3 {
    display: block;
    color: #000;
    padding-top: 12px;
    font-size: 18px;
    text-align: center;
  }
  .overview-form-btn {
    margin-top: 20px;
    border-radius: 0px;
    width: 110px;
    height: 35px;
    font-size: 10px;
    font-weight: bold;
  }
}
/*---------MEDIA QUERIES ENDS---------*/

/*---------Pagintaion Start---------*/

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  background-color: #ff0029;
  color: #fff;
}
.page-active {
  background-color: #ff0029;
  color: #fff;
}
.anchor-decotation:hover{
  text-decoration: none;
}



/*---------Pagintaion End---------*/



/*---------Network PAGE Ends---------*/
.comparision-map-width{
  width: 250px;
}
@media(max-width: 1150px){
  .comparision-map-width{
    width: 200px;
  }

}
@media(max-width: 850px){
  .comparision-map-width{
    width: 180px;
  }

}