.news .container1 p {
  color: #7A7A7A;
  font-size: 15px;
  text-align: justify;
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////NEWS STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.news {
  height: auto;
  background-image: url('../img/news/newsBackImg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4% 0%;
}
.news .container1 {
  margin: 0px auto 0px auto;
}
.news .container1 .newsRow1 {
  height: 450px;
}
.news .container1 .newsRow1  h1 {
  position: relative;
  color: #000000;
  font-size: 60px;
  letter-spacing: -4px;
  font-weight: 700;
  z-index: 2;
  margin: 0px 0px -13px 50px;
}
.news .container1 .newsRow1 img {
  position: absolute;
  width: 90%;
  z-index: 1;
}
.news .container1 .newsRow1 .newsRedLine {
  position: absolute;
  width: 5px;
  height: 150px;
  background-color: #F40019;
  z-index: 2;
  margin: -8% 0px 0px 86%;
}
.news .container1 .newsRow1 h1 {
  line-height: 32px;
  margin: 0 0 7px 50px;
}
.news .container1 .newsRow1 h2 {
  position: absolute;
  color: #000000;
  letter-spacing: -2px;
  padding-right: 20%;
  margin: 90% 0px 0px 50px;
}
.news .container1 .newsRow1 .News01 {
  color: #000000;
  margin: 60px -20px 0px 0px;
}
.news .container1 .newsRow1 .News01 h4 {
  font-size: 12px;
  margin: 0px;
}
.news .container1 .newsRow1 h3 {
  color: #F90D26;
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: 700;
}
.news .container1 .newsRow1 .News01 h6 {
  font-size: 18px;
}
.news .container1 .newsRow1 .News01 h5 {
  font-weight: bold;
}
.news .container1 .newsRow1 .News01 p {
  color: #7a7a7a;
  text-align: justify;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
}
.news .container1 .newsRow1 p {
  font-size: 16px;
}
.news .container1 .newsRow1 .spanHeading {
  float: right;
  color: #7a7a7a;
  font-size: 18px;
  font-weight: bold;
  margin: 4% 0% 0% 0%;
}
@media only screen and (max-width: 1034px) {
  .news .container1 {
    margin: -20px auto 0px auto;
  }
}
@media only screen and (max-width: 920px) {
  .news {
    height: 900px;
  }
}
@media only screen and (max-width: 992px) {
  .news .container1 .newsRow1 .News01 p {
    padding-right: 5%;
  }
  .news .container1 .newsRow1 .spanHeading {
    padding-right: 5%;    
  }
  .news .container1 .newsRow1 h3 {
    padding-right: 5%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
 
  .news {
    height: 1100px;
    margin-top: 20px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 110% -20px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    padding-right: 2%;
    margin: 86% 0px 0px 10px;
  }
  .news .container1 .newsRow1 .News01 p {
    padding-right: 3%;
  }
}
@media only screen and (min-width: 479px) and (max-width: 576px) {
  .news {
    background-image: none;
    margin-top: 20px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 110% -20px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    padding-right: 2%;
    font-size: 24px;
    letter-spacing: -1px;
    margin: 86% 0px 0px 10px;
  }
  .news .container1 .newsRow1 h3 {
    font-size: 35px;
  }
  .news .container1 .newsRow1 .News01 p {
    padding-right: 3%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .news {
    /* height: 1400px; */
    background-image: none;
    margin-top: 20px;
  }
  .news .container1 .newsRow1 .News01 {
    margin: 130% -15px 0px 0px;
  }
  .news .container1 .newsRow1 h2 {
    font-size: 21px;
    letter-spacing: -1px;
    padding-right: 0px;
    margin: 86% 0px 0px 0px;
  }
  .news .container1 .newsRow1 h3 {
    font-size: 30px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////NEWS ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/