/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////FAQs STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
.FAQs {
  padding: 4% 0% 0% 0%;
}
.FAQs .container1 h1 {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  color: #e5e5e5;
  line-height: 30px;
  letter-spacing: -6px;
  z-index: 1;
  margin: 0px 0px 20px 80px;
}
.FAQs .container1 img {
  position: relative;
  width: 100%;
  z-index: 2;
}
.FAQs .container1 .FAQsRedLine {
  position: relative;
  width: 5px;
  height: 160px;
  background-color: #f40019;
  z-index: 2;
  margin: -100px 0px 0px 15px;
}
.FAQs .container1 .FAQsContent {
  width: 84%;
  max-width: 1120px;
  margin: 0 auto;
}
.FAQs .container1 h2 {
  font-size: 50px;
  font-weight: bold;
  color: #f90d26;
  letter-spacing: 0px;
}
.FAQs .container1 h4 {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0px;
  margin: -10px 0px 30px 0px;
}
.FAQs .container1 .FAQsContent .questions .question {
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  cursor: pointer;
  margin: 25px 0px 25px 0px;
}
.FAQs .container1 .FAQsContent .questions .question :focus {
  outline: none;
}
.FAQs .container1 .FAQsContent .questions .question h6 {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}
.FAQs .container1 .FAQsContent .questions .question p {
  line-height: 20px;
  padding: 10px 0px 0px 0px;
}
.FAQs .container1 .FAQsContent .questions .accordion {
  border: none;
}
.FAQs .container1 .FAQsContent .questions span {
  float: right;
  margin-right: 10px;
}
.FAQs .container1 .FAQsContent .questions span i {
  color: #acabab;
  font-size: 18px;
}
.FAQs .container1 .FAQsContent .questions .accordion__button:before {
  display: none;
}
.FAQs .container1 .FAQsContent .questions .accordion__panel {
  padding: 0px 20px 10px 20px;
}
.plus {
  float: right;
  color: #acabab;
  display: inline;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  margin: -7px -10px 0px 0px;
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .FAQs .container1 h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px 0px 15px 0px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .FAQs .container1 h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .FAQs .container1 .FAQsContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .FAQs .container1 h1 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin: 0px 0px 8px 0px;
  }
  .FAQs .container1 .FAQsRedLine {
    width: 4px;
    height: 100px;
    margin: -70px 0px 0px 15px;
  }
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .FAQs .container1 h1 {
    font-size: 29px;
    text-align: center;
    letter-spacing: -2px;
    margin: 0 0 -2px 0;
  }
}
@media only screen and (min-width: 200px) and (max-width: 398px) {
  .FAQs .container1 h1 {
    font-size: 24px;
    text-align: center;
    letter-spacing: -2px;
    margin: 0 0 -2px 0;
  }
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .FAQs .container1 .FAQsContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .FAQs .container1 .FAQsRedLine {
    width: 4px;
    height: 90px;
    margin: -70px 0px 0px 10px;
  }
  .FAQs .container1 h2 {
    font-size: 34px;
  }
  .FAQs .container1 h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 520px) {
  .FAQs .container1 .FAQsContent .questions .question h6 {
    font-size: 15px;
    font-weight: 600;
  }
  .plus {
    margin: -7px -30px 0px 0px;
  }
}
@media only screen and (max-width: 400px) {
  .FAQs .container1 .FAQsContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  .FAQs .container1 .FAQsRedLine {
    width: 3px;
    height: 60px;
    margin: -45px 0px 0px 10px;
  }
  .FAQs .container1 h2 {
    font-size: 28px;
  }
  .FAQs .container1 h4 {
    font-size: 18px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////FAQs ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
