* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.dashboard_tags{
  font-size: 14px;
  height: 27px;
 background-color: #E8E8E8;
 padding-left: 20px;
 padding-top: 5px;
 font-weight: bold;
}
.admin_main_column{
  background-color: #F4F4F4;
  overflow: hidden;
}
.dashboard1 .divB .divScroll .rowSmallCards .smallCards {
  width: 100%;
  height: 65px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 0px 0px 0px;
}
#card1 {
  background-color: #00CAAD;
}
#card2 {
  background-color: #288AE1;
}
#card3 {
  background-color: #E05471;
}
#card4 {
  background-color: #FFCA1E;
}
.dashboard1 .divB .divScroll .rowSmallCards .smallCards h6,
.dashboard1 .divB .divScroll .rowSmallCards .smallCards h5,
.dashboard1 .divB .divScroll .rowSmallCards .smallCards p {
  padding: 0px;
  margin: -4px 0px 0px 0px;
}
@media only screen and (min-width: 576px) and (max-width: 720px) {
  .dashboard1 .divB .divScroll .rowSmallCards .smallCards h6 {
    padding: 7px 0px 0px 0px;
  }
  .dashboard1 .divB .divScroll .rowSmallCards .smallCards h6 {
    font-size: 13px;
  }
  .dashboard1 .divB .divScroll .rowSmallCards .smallCards h5 {
    font-size: 16px;
  }
  .dashboard1 .divB .divScroll .rowSmallCards .smallCards .pSmall2 {
      font-size: 8px;
  }
}
.dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards1 {
  padding-right: 5px;
}
.dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards2,
.dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards3 {
  padding: 0px 5px;
}
.dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards4 {
  padding-left: 5px;
}
@media only screen and (max-width: 576px) {
  .dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards2 {
    padding: 0px 15px;
  }
  .dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards4,
  .dashboard1 .divB .divScroll .rowSmallCards .rowSmallCards3 {
    padding-left: 15px;
  }
}
.dashboard1 .divB .divScroll .rowCharts .col-xl-5,
.dashboard1 .divB .divScroll .rowCharts .col-lg-5,
.dashboard1 .divB .divScroll .rowCharts .col-md-5,
.dashboard1 .divB .divScroll .rowCharts .col-sm-5,
.dashboard1 .divB .divScroll .rowCharts .col-5 {
  padding-right: 7px;
}
.dashboard1 .divB .divScroll .rowCharts .col-xl-7,
.dashboard1 .divB .divScroll .rowCharts .col-lg-7,
.dashboard1 .divB .divScroll .rowCharts .col-md-7,
.dashboard1 .divB .divScroll .rowCharts .col-sm-7,
.dashboard1 .divB .divScroll .rowCharts .col-7 {
  padding-left: 0px;
}
@media only screen and (max-width: 768px) {
  .dashboard1 .divB .divScroll .rowCharts .col-xl-5,
  .dashboard1 .divB .divScroll .rowCharts .col-lg-5,
  .dashboard1 .divB .divScroll .rowCharts .col-md-5,
  .dashboard1 .divB .divScroll .rowCharts .col-sm-12,
  .dashboard1 .divB .divScroll .rowCharts .col-5 {
    padding-right: 15px;
  }
  .dashboard1 .divB .divScroll .rowCharts .col-xl-7,
  .dashboard1 .divB .divScroll .rowCharts .col-lg-7,
  .dashboard1 .divB .divScroll .rowCharts .col-md-7,
  .dashboard1 .divB .divScroll .rowCharts .col-sm-12,
  .dashboard1 .divB .divScroll .rowCharts .col-7 {
    padding-left: 15px;
  }
  #chartContainer {
    height: 400px;
  }
  .admin_main_column{
    height: 240px;
  }
}
.dashboard1 .divB .divScroll .rowCharts .main_con {
  margin-top: 10px;
}
.canvasjs-chart-credit {
  display: none;
}
.pSmall2 {
  color: #FFFFFF;
    font-size: 10px;
  margin-top: -10px;
}
/* @import "https://code.highcharts.com/css/highcharts.css"; */
