* {
  margin: 0px;
  padding: 0px;
}
.Contact_Us_main_bg_image .wrapper .Contact_Us_sec1_image .mapouter {
  position: relative;
  text-align: right;
  height: 471px;
  width: 83%;
  margin: 11% auto;
}
@media only screen and (max-width: 576px) {
  .Contact_Us_main_bg_image .wrapper .Contact_Us_sec1_image .mapouter {
    height: 380px;
    margin: 3% auto 11%;
  }
  .Contact_Us_main_bg_image .Contact_Us_sec1_image .gmap_canvas,
  .Contact_Us_main_bg_image .Contact_Us_sec1_image .gmap_canvas iframe {
    height: 380px !important;
  }
}
.Contact_Us_main_bg_image .Contact_Us_sec1_image .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 471px;
  margin: 0 auto;
}
.Contact_Us_main_bg_image .Contact_Us_sec1_image .gmap_canvas iframe {
  height: 471px;
}
.specialOffer {
  background-color: #ffffff;
  padding: 4% 0% 0% 0%;
}
.specialOffer .container1 h1 {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  color: #e5e5e5;
  letter-spacing: -6px;
  line-height: 30px;
  z-index: 1;
  margin: 0px 0px -15px 80px;
}
.specialOffer .container1 img {
  position: relative;
  width: 100%;
  z-index: 2;
  margin: 30px 0 0 0;
}
.specialOffer .container1 .specialOfferRedLine {
  position: relative;
  width: 5px;
  height: 160px;
  background-color: #f40019;
  z-index: 2;
  margin: -130px 0px 0px 15px;
}
.specialOffer .container1 h3 {
  position: absolute;
  font-size: 66px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: -4px;
  z-index: 2;
  margin: -270px 0px 0px 680px;
}
.specialOffer .container1 .specialOfferContent {
  width: 84%;
  max-width: 1120px;
  padding: 5px 0%;
  margin: 0 auto;
}
.specialOfferContent .special_sec2 .special_sec2_row2_col2 h4 {
  font-weight: bold;
}
.specialOfferContent .special_sec2 .special_sec2_row2_col3 h6 {
  font-weight: bold;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .specialOffer .container1 .specialOfferContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .specialOffer .container1 .specialOfferContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .specialOffer .container1 .specialOfferContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 901px) {
  .specialOffer .container1 img {
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  .specialOffer .container1 .specialOfferContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .specialOffer .container1 h3 {
    margin: -22% 0px 0px 50%;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1100px) {
  .specialOffer .container1 h3 {
    font-size: 52px;
    letter-spacing: -2px;
    margin: -22% 0px 0px 50%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
  .specialOffer .container1 h3 {
    font-size: 42px;
    letter-spacing: -1px;
    margin: -23% 0px 0px 50%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .specialOffer .container1 h3 {
    font-size: 38px;
    letter-spacing: -2px;
    margin: -20% 0px 0px 48%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 600px) {
  .specialOffer .container1 h3 {
    font-size: 32px;
    letter-spacing: -2px;
    margin: -22% 0px 0px 45%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .specialOffer .container1 h3 {
    font-size: 23px;
    letter-spacing: -1px;
    margin: -23% 0px 0px 43%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .specialOffer .container1 h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px 0px 3px 0px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .specialOffer .container1 h1 {
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    margin: 0;
  }
  .specialOffer .container1 .specialOfferRedLine {
    width: 4px;
    height: 100px;
    margin: -70px 0px 0px 15px;
  }
}
@media only screen and (min-width: 399px) and (max-width: 576px) {
  .specialOffer .container1 h1 {
    font-size: 25px;
    text-align: center;
    letter-spacing: -1px;
    margin: 0px 0px -5px 0px !important;
  }
  .specialOffer .container1 .specialOfferRedLine {
    width: 4px;
    height: 90px;
    margin: -70px 0px 0px 10px;
  }
}
@media only screen and (max-width: 400px) {
  .specialOffer .container1 h1 {
    font-size: 25px;
    text-align: center;
    letter-spacing: -1px;
    margin: 0px 0px -1px 0px;
  }
  .specialOffer .container1 .specialOfferRedLine {
    width: 3px;
    height: 60px;
    margin: -45px 0px 0px 10px;
  }
}
.blogs img,
.blogs video,
.blogs iframe,
.Contact_Us_main_bg_image img,
.Contact_Us_main_bg_image video,
.Contact_Us_main_bg_image iframe,
.specialOffer img,
.specialOffer video,
.specialOffer iframe {
  max-width: 100%;
}
/* ---------special offcer page start------- */
.special_row1 {
  text-align: center;
}
.specialOffer .container1 .specialOfferContent .special_sec2 .row {
  margin-left: 0px;
}
.special_sec2_row1 {
  background-color: #f6f4f4;
  text-align: center;
}
.specialOfferContent .special_sec2 img {
  width: 80%;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .specialOfferContent .special_sec2 img {
    width: 90%;
    padding-bottom: 8%;
  }
  .special_sec2_row1_col2_row1,
  .special_sec2_row2_col2_row1,
  .special_sec2_row3_col2_row1,
  .special_sec2_row4_col2_row1 {
    padding: 0% 0% 4% 6%;
    line-height: 26px;
  }
  .specialOfferContent .special_sec2 p {
    padding: 0px 6%;
  }
  .btnGet {
    margin-bottom: 20px;
  }
}
.specialOfferContent .special_sec2 p {
  font-size: 13px;
  line-height: 17px;
  text-align: left;
}
.wrapper .special_sec2 .special_sec2_row1,
.wrapper .special_sec2 .special_sec2_row2,
.wrapper .special_sec2 .special_sec2_row3,
.wrapper .special_sec2 .special_sec2_row4 {
  padding: 30px 0px;
  margin: 10px 0px;
}
.special_sec2_row1 {
  background-color: #f6f4f4;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.special_sec2_row1_col1 img {
  text-align: center;
}
.special_sec2_row1_col1_img {
  text-align: center;
  margin-top: 30px;
}
.special_sec2_row1_col2_row1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #f90d26;
  text-align: left;
}
.special_sec2_row1_col2_row2 {
  color: #8a8a8a;
  text-align: justify;
}
.special_sec2_row1_col3_row1 {
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}
.special_sec2_row1_col3_row2 img {
  margin: 5px 0px;
}

.btnGet {
  width: 140px;
  height: 30px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #f90d26;
  font-weight: bold;
}

.special_sec2_row2 {
  background-color: #f6f4f4;
  padding: 30px 0px;
}
.special_sec2_row2_col1 {
  text-align: center;
}
.special_sec2_row2_col1_img {
  text-align: center;
  margin-top: 20px;
}
.specialOffer .special_sec2_row2_col1 .special_sec2_row2_col1_img img {
  margin: 0;
}
.special_sec2_row2_col2 {
  color: #8a8a8a;
}
.special_sec2_row2_col2_row1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #f90d26;
  text-align: left;
}
.special_sec2_row2_col2_row2 {
  color: #8a8a8a;
  text-align: justify;
}
.special_sec2_row2_col3 {
  text-align: center;
}
.special_sec2_row2_col3_row1 {
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}
.special_sec2_row2_col3_row2 img {
  margin: 5px 0px;
}

.special_sec2_row3 {
  background-color: #f6f4f4;
  padding: 10px 0px;
  margin-top: 10px;
}
.special_sec2_row3_col1 {
  text-align: center;
}
.special_sec2_row3_col1_img {
  text-align: center;
  margin-top: 30px;
}
.special_sec2_row3_col2 {
  color: #8a8a8a;
}
.special_sec2_row3_col2_row1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #f90d26;
  text-align: left;
}
.special_sec2_row3_col2_row2 {
  color: #8a8a8a;
  text-align: justify;
}
.special_sec2_row3_col3 {
  text-align: center;
}
.special_sec2_row3_col3_row1 {
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}
.special_sec2_row3_col3_row2 img {
  margin: 5px 0px;
}

.special_sec2_row4 {
  background-color: #f6f4f4;
  padding: 10px 0px;
  margin-top: 10px;
}
.special_sec2_row4_col1 {
  text-align: center;
}
.special_sec2_row4_col1_img {
  text-align: center;
  margin-top: 30px;
}
.special_sec2_row4_col2 {
  color: #8a8a8a;
}

.special_sec2_row4_col2_row1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #f90d26;
  text-align: left;
}
.special_sec2_row4_col2_row2 {
  color: #8a8a8a;
  text-align: justify;
}
.special_sec2_row4_col3 {
  text-align: center;
}
.special_sec2_row4_col3_row1 {
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}
.special_sec2_row4_col3_row2 img {
  margin: 5px 0px;
}

.special_sec3_row1 {
  margin: 50px 0px;
}
@media only screen and (max-width: 576px) {
  .special_sec3_row1 {
    padding: 0;
  }
}
.special_sec3_row1_col1_img {
  position: relative;
  z-index: 1;
  /* border: 3px solid orange; */
  text-align: center;
}

.special_sec3_row1_col1_img::before {
  position: absolute;
  content: "";
  width: 1010px;
  height: 465px;
  left: -575px;
  top: 30px;
  background-color: #f90d26;
  z-index: -1;
}
.special_sec3_row1_col1_img::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 170px;
  right: 40px;
  top: 400px;
  background-color: #f90d26;
  z-index: 1;
}
@media only screen and (min-width: 300px) and (max-width: 1300px) {
  .special_sec3_row1_col1_img::before {
    height: 101%;
    left: unset;
    right: 15%;
  }
  .special_sec3_row1_col1_img::after {
    height: 30%;
    right: 7%;
    top: 90%;
  }
}

.special_sec3_row1_col1_img img {
  width: 100%;
}
/* 

.special_sec3_row1_col1_img img {
  width:90%;
}
.special_sec3_row1_col1_img img:before {
  position: absolute;
  content: ' ';
  width: 100px;
  height: 400px;
  background-color: #f40019;
  z-index: 1000;
}
.special_sec3_row1_col1_img img:after {
  position: absolute;
  content: ' ';
  width: 900px;
  height: 900px;
  background-color: #f40019;
  z-index: 1000;
} */

.special_sec3_row1_col2_row1 h4 {
  font-size: 3em;
  font-weight: bold;
  color: #f90d26;
  padding: 30px 0 0px 0;
  margin: 0 0 -20px 0;
}
.special_sec3_row1_col2_row2 ol li {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .special_sec3_row1_col2_row2 ol li {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .special_sec3_row1_col2_row1 h4 {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 768px) {
  .special_sec3_row1_col2_row1 {
    padding-top: 50px;
  }
  .special_sec3_row1_col2_row1 h4 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 576px) {
  .special_sec3_row1_col2_row1 h4 {
    font-size: 2em;
  }
}
@media only screen and (max-width: 768px) {
  /* .paddingOn768 {
    padding: 0 7%;
  } */

  .special_sec3_row1_col2_row2 {
    color: #4f4f4f;
    font-size: 1em;
  }

  @media only screen and (max-width: 768px) {
    .wrapper .special_sec2 .special_sec2_row1,
    .wrapper .special_sec2 .special_sec2_row2,
    .wrapper .special_sec2 .special_sec2_row3,
    .wrapper .special_sec2 .special_sec2_row4 {
      padding: 20px 10px;
    }
  }
  /* ---------special offcer page end------- */

  /* *******Contact_Us Starts******* */
}
.Contact_Us_main_bg_image {
  background-image: url(../img/contactUs/contactUsBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3% 0% 1% 0%;
}
@media only screen and (max-width: 991px) {
  .Contact_Us_main_bg_image {
    background-size: cover;
    padding: 0% 0% -1% 0%;
  }
}
.Contact_Us_sec1_image {
  max-width: 900px;
  width: 80%;
  border: 1px solid #ffffff;
  background-image: url(../img/contactUs/Group15.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0% auto 6% auto;
}
@media only screen and (min-width: 300px) and (max-width: 1110px) {
  .Contact_Us_sec1_image {
    background-image: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1130px) {
  .Contact_Us_sec1_image {
    max-width: 900px;
    width: 80%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .Contact_Us_sec1_image {
    width: 96%;
    margin: 3% auto 3% auto;
  }
  .mapouter {
    width: 96%;
    margin: 5% auto;
  }
}
.Contact_Us_sec2_bg_image {
  background-image: url(../img/contactUs/contact_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.Contact_Us_sec2_bg_image .Contact_Us_sec2_col1 .form-group textarea {
  padding: 0.375rem 0.5rem;
}
.Contact_Us_sec2_bg_image .Contact_Us_sec2_col1 .form-group ::placeholder {
  color: #ffffff;
}
.Contact_Us_sec2_bg_image .wrapper .col-md-12,
.Contact_Us_sec2_bg_image .wrapper .col-md-6 {
  padding-right: 0px;
}
@media only screen and (max-width: 576px) {
  .Contact_Us_sec2_bg_image .wrapper .col-md-12,
  .Contact_Us_sec2_bg_image .wrapper .col-md-6 {
    padding: 0px;
  }
}
.Contact_Us_sec2_bg_image
  .Contact_Us_sec2_col1
  .form
  .form-group
  .form-control:focus {
  color: #fff;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  border-color: 0;
}
@media only screen and (max-width: 768px) {
  .Contact_Us_sec2_bg_image {
    background-image: none;
  }
}
.Contact_Us_sec2_col1 {
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  padding-bottom: 60px;
  margin-top: 60px;
}
.form h2 {
  opacity: 0.4;
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}
.form-group {
  padding: 0px 20px;
}
.form {
  max-width: 580px;
  background-color: #f90d26;
}
.form .form-body {
  padding: 20px 35px 10px 35px;
}
@media only screen and (max-width: 991px) {
  .form .form-body {
    padding: 0px;
  }
  .form h2 {
    font-size: 3em;
  }
}
.horizontal-white-line {
  width: 95px;
  height: 6px;
  background-color: #fff;
  margin: 15px 0 15px 0;
}
@media only screen and (max-width: 768px) {
  .form {
    background-color: #f90d26;
    padding: 0px 0px;
  }
}
.form input[type="name"],
.form input[type="email"],
.form input[type="tect"],
.form input[type="email"],
.form textarea,
.form select {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
}
.Submit_btn {
  width: 100%;
  color: #ffffff;
  background-color: #2c2c2c;
  padding: 15px 0px;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  transition: 200ms;
  transform: scale(1);
}
.Submit_btn:hover {
  color: #ffffff;
  background-color: #2c2c2c;
  transform: scale(0.8);
  font-size: 1.2em;
  transition: 200ms;
}
.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  padding: 30px;
  background: #f90d26;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form-style-8 h2 {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: bold;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ffffff;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
  color: #ffffff !important;
  font-weight: bold;
}
.form-style-8 textarea {
  resize: none;
  overflow: hidden;
  color: #ffffff;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  padding: 20px 50px;
  border: 1px solid #000000;
  width: 100%;
}
.Contact_Us_sec2_col2 {
  text-align: center;
  margin-top: 60px;
  text-align: center;
}
.Contact_Us_sec2_col2_text {
  width: 320px;
  text-align: left;
  background-color: #f90d26;
  padding: 40px 50px;
  color: #ffffff;
  margin: 0% 0% 0% 12%;
}
@media only screen and (max-width: 576px) {
  .Contact_Us_sec2_row {
    margin: 0;
  }
  .Contact_Us_sec2_col1 {
    margin: 0;
  }
  .Contact_Us_sec2_col2_text {
    width: 100%;
  }
  .Contact_Us_sec2_col2 {
    margin-top: 30px;
  }
}
/* *******Contact_Us Ends******* */

/* *******Blogs Starts******* */
.blog_sec1 {
  margin: 50px 90px;
}

.blog_sec1_row1_col1 {
  background-color: #f4f3f3;
  text-align: justify;
  padding: 30px 0px;
  margin-top: 30px;
}
.blog_sec1_row1_col1_row1_col1 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row1_col1_row1_col2 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row1_col1_row2 {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
  padding-left: 15px;
}

.blog_sec1_row1_col1_row3 {
  color: #000000;
  padding-left: 15px;
}
.blog_sec1_row1_col1_row4 {
  padding: 30px 0px 0px 15px;
}
.blog_sec1_row1_col1_row4 a {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  cursor: pointer;
}
.blog_sec1_row1_col1_row4 a:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  text-decoration: none;
  cursor: pointer;
}
.blog_sec1_row1_col1 {
  height: 370px;
}

.blog_sec1_row1_col2 img {
  height: 450px;
}

.blog_sec1_row2 {
  margin: 20px 0px;
}

.blog_sec1_row2_col1 {
  background-color: #f4f3f3;
  text-align: justify;
  padding: 30px 0px;
  margin-top: 30px;
}
.blog_sec1_row2_col1_row1_col1 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row2_col1_row1_col2 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row2_col1_row2 {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
  padding-left: 15px;
}

.blog_sec1_row2_col1_row3 {
  color: #000000;
  padding-left: 15px;
}
.blog_sec1_row2_col1_row4 {
  padding: 30px 0px 0px 15px;
}
.blog_sec1_row2_col1_row4 a {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  cursor: pointer;
}
.blog_sec1_row2_col1_row4 a:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  text-decoration: none;
  cursor: pointer;
}
.blog_sec1_row2_col1 {
  height: 370px;
}

.blog_sec1_row2_col2 img {
  height: 450px;
}

.blog_sec1_row3 {
  margin: 20px 0px;
}

.blog_sec1_row3_col1 {
  background-color: #f4f3f3;
  text-align: justify;
  padding: 30px 0px;
  margin-top: 30px;
}
.blog_sec1_row3_col1_row1_col1 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row3_col1_row1_col2 {
  color: #bbbaba;
  font-size: 1.2em;
  font-weight: bold;
}
.blog_sec1_row3_col1_row2 {
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
  padding-left: 15px;
}

.blog_sec1_row3_col1_row3 {
  color: #000000;
  padding-left: 15px;
}
.blog_sec1_row3_col1_row4 {
  padding: 30px 0px 0px 15px;
}
.blog_sec1_row3_col1_row4 a {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  cursor: pointer;
}
.blog_sec1_row3_col1_row4 a:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #bbbaba;
  text-decoration: none;
  cursor: pointer;
}
.blog_sec1_row3_col1 {
  height: 370px;
}

.blog_sec1_row3_col2 img {
  height: 450px;
}

.blog_readmore_1_sec1 {
  margin: 50px 90px;
}

.blog_readmore_1_sec1_row1_col2 {
  padding: 30px 0px;
  margin-top: 30px;
}

.blog_readmore_1_sec1_row1_col2_row1 {
  color: #f90d26;
  font-size: 2.5em;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}

.blog_readmore_1_sec1_row1_col2_row2 {
  color: #000000;
  font-weight: bold;
  font-size: 1.8em;
}
.blog_readmore_1_sec1_row1_col2_row3 {
  padding: 30px 0px 0px 0px;
  color: #858585;
  text-align: justify;
}

.blogs {
  padding: 4% 0% 0% 0%;
}
.blogs .wrapper {
  padding: 0% 0%;
  min-height: 740px;
}
.blog_readmore_2_sec1 {
  max-width: 900px;
  margin: 0 auto;
}

.blog_readmore_2_sec1_row1_col2_row1 {
  color: #f90d26;
  font-size: 2.5em;
  font-weight: bold;
  margin: 30px 0px 20px 0px;
}

.blog_readmore_2_sec1_row1_col2_row1 h3 {
  font-size: 43px;
  font-weight: bold;
  letter-spacing: -3px;
}
.blog_readmore_2_sec1_row1_col2_row2 h4 {
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 34px;
}
.blog_readmore_2_sec1_row1_col1 h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -3px;
  z-index: 2;
  margin: 12% 0% 0% 66%;
}
.blogsDiv {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #f90d26;
  margin: 20% 0% 0% 0%;
}
.blogsDivSmall {
  float: right;
  width: 220px;
  height: 30%;
  color: #ffffff;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  padding: 4% 6%;
  margin: 15% -14% 0% 0%;
}
.blogsDivSmall span p,
.blogsDivSmall span h6 {
  padding: 0px;
  margin: 0px;
}
.blogsDivSmall span {
  float: right;
  width: 100%;
  height: 25px;
}
.blogsDivSmall span p {
  float: right;
}
.blogsDivSmall span h6 {
  float: right;
}
.blogsDivSmall span .p1 {
  color: #ffffff;
  font-size: 12px;
}
.blogsDivSmall span .p2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: -10px 0px 0px 0px;
}
.blogsDivSmall span h6 {
  font-size: 20px;
  font-weight: bold;
}
.blogsDiv img {
  position: absolute;
  width: 66%;
  margin: -20% 0% 0% 5%;
}
.blog_readmore_2_sec1_row1_col2_row2 {
  color: #000000;
  font-weight: bold;
  font-size: 1.8em;
}
.blog_readmore_2_sec1_row1_col2_row3 {
  padding: 30px 0px 0px 0px;
  color: #7a7a7a;
  text-align: justify;
}
@media only screen and (min-width: 911px) and (max-width: 1050px) {
  .blog_readmore_2_sec1_row1_col1 h1 {
    font-size: 45px;
    margin: 7% 0% 0% 65%;
  }
  .blogsDivSmall {
    height: 26%;
  }
}
@media only screen and (min-width: 821px) and (max-width: 910px) {
  .blog_readmore_2_sec1_row1_col1 h1 {
    font-size: 41px;
    margin: 6% 0% 0% 61%;
  }
  .blogsDivSmall {
    height: 23%;
    margin: 20% -13% 0% 0%;
  }
  .blogsDiv img {
    width: 63%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .blog_readmore_2_sec1_row1_col1 h1 {
    font-size: 41px;
    margin: 6% 0% 0% 61%;
  }
  .blogsDivSmall {
    height: 23%;
    margin: 24% -15% 0% 0%;
  }
  .blogsDiv img {
    width: 63%;
  }
}
@media only screen and (min-width: 651px) and (max-width: 767px) {
  .blog_readmore_2_sec1_row1_col1 h1 {
    margin: 9% 0% 0% 67%;
  }
  .blogsDivSmall {
    width: 250px;
    margin: 13% -5% 0% 0%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 650px) {
  .blog_readmore_2_sec1_row1_col1 h1 {
    font-size: 50px;
    margin: 9% 0% 0% 67%;
  }
  .blogsDivSmall {
    margin: 15% -8% 0% 0%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .blog_readmore_2_sec1_row1_col1 {
    height: 170px;
  }
  .blog_readmore_2_sec1_row1_col1 h1 {
    margin: 12% 0% 0% 5%;
  }
  .blogsDiv {
    height: 140px;
    margin: 5% 0% 0% 0%;
  }
  .blogsDivSmall {
    float: static;
    width: 100%;
    height: 100px;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin: 20px 0px;
  }
  .blogsDiv img {
    display: none;
  }
}
@media only screen and (min-width: 711px) and (max-width: 768px) {
  .blog_readmore_2_sec1_row1_col1 {
    height: 1100px;
  }
}
@media only screen and (min-width: 671px) and (max-width: 710px) {
  .blog_readmore_2_sec1_row1_col1 {
    height: 1020px;
  }
}
@media only screen and (min-width: 611px) and (max-width: 670px) {
  .blog_readmore_2_sec1_row1_col1 {
    height: 960px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 610px) {
  .blog_readmore_2_sec1_row1_col1 {
    height: 900px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 350px) {
  .blog_readmore_3_sec1 {
    margin: 50px 90px;
  }
  .blog_readmore_3_sec1_row1_col2 {
    padding: 30px 0px;
    margin-top: 30px;
  }

  .blog_readmore_3_sec1_row1_col2_row1 {
    color: #f90d26;
    font-size: 2.5em;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
  }

  .blog_readmore_3_sec1_row1_col2_row2 {
    color: #000000;
    font-weight: bold;
    font-size: 1.8em;
  }
  .blog_readmore_3_sec1_row1_col2_row3 {
    padding: 30px 0px 0px 0px;
    color: #858585;
    text-align: justify;
  }
}
/* *******Blogs Ends******* */
@media only screen and (max-width: 1348px) and (max-width: 1777px) {
  .picture {
    height: 510px;
    background-image: url("/img/promotion.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #080808;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1192px) {
  .input1 {
    width: 136px;
  }
  .input2 {
    width: 145px;
  }
  .label label {
    padding-left: 10px;
  }
  .to {
    padding-left: 38px;
  }
  .dropdowns {
    width: 200px;
  }
  .input-search {
    width: 350px;
  }
  .footer {
    margin-top: -75px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    margin-top: -145px;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    text-align: center;
  }
  .copyrights {
    text-align: center;
  }

  .picture {
    background-color: #080808;
  }
  .picture h1 {
    margin-top: 60px;
    font-size: 30px;
  }
  .picture h4 {
    font-size: 15px;
  }
  .picture p {
    font-size: 15px;
  }
  .input1 {
    width: 200px;
  }
  .input2 {
    width: 200px;
  }
  .to {
    padding-left: 0px;
  }
  .dropdowns {
    margin-top: 10px;
    margin-left: 40px;
  }
  .input-search {
    margin-left: 90px;
  }
}
@media only screen and (max-width: 900px) {
  .footer {
    margin-top: -180px;
  }
}

@media only screen and (max-width: 780px) {
  .footer {
    margin-top: -160px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .followus {
    margin-top: 30px;
  }
  .contact {
    margin-top: 30px;
  }
  .phone {
    margin-bottom: 20px;
  }
  .copyrights {
    text-align: center;
  }

  .picture {
    background-image: url("/img/smallbackcover.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
  }
  label {
    width: 100px;
    padding-right: 30px;
  }
  .input1 {
    width: 230px;
  }
  .input2 {
    width: 200px;
    margin-left: 60px;
  }
  .comparision-form-btn {
    margin-left: 60px;
  }
  .input-search {
    width: 430px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .dropdowns {
    margin-left: 0px;
    width: 200px;
  }

  .blog_sec1_row1_col1 {
    height: auto;
    margin-bottom: 20px;
  }
  .blog_sec1_row2_col1 {
    height: auto;
    margin-bottom: 20px;
  }
  .blog_sec1_row3_col1 {
    height: auto;
    margin-bottom: 20px;
  }

  /* *****contact us start***** */
  .Contact_Us_sec2_col1 {
    padding-bottom: 0px;
  }
  .Contact_Us_sec2_col2_text {
    margin: 0px auto;
  }
  /* *****contact us end***** */
}
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: -200px;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    margin-top: -300px;
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 760px) {
  .input-search {
    width: 350px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .dropdowns {
    margin-left: 10px;
    width: 200px;
  }
}
@media only screen and (max-width: 576px) {
  .picture img {
    display: block;
    margin: 0 auto;
  }
  .input1 {
    width: 200px;
  }
  .input2 {
    width: 280px;
    margin-left: 0px;
  }
  .comparision-form-btn {
    margin-left: 0px;
  }
  .label label {
    width: 100px;
    margin-left: 0px;
  }
  .input-search {
    width: 280px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .dropdowns {
    margin-left: 0px;
    width: 280px;
  }

  /* *****contact us start***** */
  .form h2 {
    opacity: 0.4;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: -25px;
  }
  /* *****contact us ends***** */
}
@media only screen and (max-width: 320px) {
  .input-search {
    width: 250px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .dropdowns {
    width: 250px;
  }
  .input1 {
    width: 180px;
  }
  .input2 {
    width: 250px;
  }

  .label label {
    width: 80px;
    font-size: 16px;
  }
}
/* *******Contact_Us Ends******* */
@media only screen and (min-width: 1100px) {
  .Contact_Us_sec2_bg_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    text-align: center;
  }
}
/* *******Contact_Us Ends******* */
