/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////FOOTER STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0px;
  padding: 0px;
}
#footer_links a{
  /* color: #696969; */
  color: #cac4c4;
}
.container1 {
  width: 90%;
  max-width: 1120px;
  margin: 0px auto 0px auto;
}
.footer {
  padding-top: 30px;
  background-color: #080808;
  /* color: #696969; */
  color: #cac4c4;
  height: auto;
  margin-top: -20px;
  padding-bottom: 30px;
}
.picture2 .container1 .row .promotionbanner p{
  font-size: 20px;
  color: #fff;
}
.Footer .picture .container1 .row .promotionbanner p{
  font-size: 20px;
  color: #fff;
}
.Footer .picture2 .container1 .row .promotionbanner p{
  font-size: 20px;
  color: #fff;
}
.Footer .picture2 .container1 .row .promotionbanner p{
  font-size: 20px;
  color: #fff;
}
.copyrights {
  /* min-height: 30px; */
  min-height: 100px;
  height: 60px;
  background-color: #000000;
  width: 100%;
  color: #696969;
  padding-top: 20px;
  margin-top: -21px;
}
.row2 {
  padding-top: 80px;
}
.copyrights p {
  color: #cac4c4;
  margin-left: 10px;
}
.Footer .picture {
  height: 510px;
  background-image: url("../img/footer/promotion.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #080808;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
}
.picture2 {
  background-image: url("../img/footer/promotion-2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
}
.Footer .picture h1 {
  margin-top: 110px;
  font-size: 46px;
  letter-spacing: -1px;
  font-weight: bold;
}
.Footer .picture img {
  margin-top: 10px;
  margin-left: 5px;
}
.picture2 h1 {
  margin-top: 120px;
  font-size: 46px;
  letter-spacing: -1px;
  font-weight: bold;
}
.picture2 img {
  margin-top: 10px;
}
.promotionbanner {
  color: #fff;
  margin-left: -100px;
}
@media only screen and (max-width: 768px) {
  .promotionbanner {
    margin-left: 0px;
  } 
}
.contact-links a {
  /* color: #696969; */
  color: #cac4c4;
}
.footer .phone {
  font-size: 12px;
}
.footer-links {
  display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;;
  width: 210px;
  transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.footer-links a {
  color: transparent !important;
  margin-right: 10px;
}
.footer-links a:hover {
  /* opacity: .7; */
}
.footer-links a i {
  float: left;
  font-size: 40px;
  color: #5C5C5C;
  border-radius: 10px;
}
.bg-icon-img {
  background-image: url('../img//footer/icon-bg.png');
  background-repeat: no-repeat;
  background-size: 35px 40px;
}
.footer-links .icon-box {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid red;
}
.icon-box-inner-div {
  float: left;
  width: 30px;
  height: 30px;
  background-color: red;
}
.facebook , .instagram , .linkedin , .twitter {
  transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
i.facebook:hover {
  color: #3B5998;
}
i.instagram:hover {
  color: #CA2789;
}
i.linkedin:hover {
  color: #0076B3;
}
i.twitter:hover {
  color: #1DA1F3;
}





h5.followus,
.contact-links h5,
h5.contact {
  margin-top: -20;
  margin-bottom: 20px;
}
@media only screen and (max-width: 2928px){
.picture2 {
    height: 1130px;
    margin-bottom: -80px;
  }
  .picture2 h1 {
    margin-top: 320px;
    font-size: 70px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .picture2 p {
    font-size: 30px;
    color: #fff;
  }
  .picture2 h4{
    font-size: 30px;
    
  }
}
@media only screen and (max-width: 2729px){
  .picture2 {
    height: 1100px;
    margin-bottom: -92px;
  }
}
@media only screen and (max-width: 2622px){
  .picture2 {
    margin-bottom: -135px;
  }
}
@media only screen and (max-width: 2510px){
  .picture2 {
    margin-bottom: -160px;
  }
}
@media only screen and (max-width: 2444px){
  .picture2 {
    margin-bottom: -200px;
  }
}
@media only screen and (max-width: 2431px) {
  .Footer .picture {
    height: 1000px;
  }
  .picture2 {
    height: 925px;
    margin-bottom: 0px;
  }
  .footer {
    margin-top: -2px;
  }
  .promotionbanner {
    margin-top: 220px;
  }
  .promotionbanner h1 {
    font-size: 70px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 30px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 30px;
  }
  .promotionbanner h4 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 2430px) {
  .Footer .picture {
    height: 900px;
  }
  .picture2 {
    height: 900px;
  }
  .picture2 h1 {
    margin-top: 160px;
  }
  .footer {
    margin-top: -2px;
  }
  .promotionbanner {
    margin-top: 140px;
  }
  .promotionbanner h1 {
    font-size: 70px;
  }
  .Footer .picture .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .promotionbanner h4 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 2334px){
  .picture2 {
    height: 875px;
  }
}
@media only screen and (max-width: 2271px){
  .picture2 {
    height: 840px;
  }
}
@media only screen and (max-width: 2178px){
  .picture2 {
    height: 810px;
  }
}
@media only screen and (max-width: 2120px) {
  .Footer .picture {
    height: 800px;
  }
  .picture2 {
    height: 785px;
  }
  .picture2 h1 {
    margin-top: 120px;
    font-size: 70px;
  }
  .footer {
    margin-top: -2px;
  }
  .promotionbanner {
    margin-top: 140px;
  }
  .promotionbanner h1 {
    font-size: 70px;
  }
  .Footer .picture .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .promotionbanner h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 2037px){
  .picture2 {
    margin-bottom: -30px;
  }
}
@media only screen and (max-width: 1988px) {
  .Footer .picture {
    height: 740px;
  }
  .picture2 {
    height: 760px;
  }
  .footer {
    margin-top: -2px;
  }
  .promotionbanner {
    margin-top: 140px;
  }
  .promotionbanner h1 {
    font-size: 70px;
  }
  .Footer .picture .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p{
    font-size: 30px;
  }
  .promotionbanner h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1899px){
  .picture2 {
    height: 730px;
  }
}
@media only screen and (max-width: 1833px) {
  .Footer .picture {
    height: 680px;
  }
  .picture2 {
    margin-bottom: -50px;
  }
  .promotionbanner {
    margin-top: 140px;
  }
  .promotionbanner h1 {
    font-size: 60px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 25px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 25px;
  }
  .promotionbanner h4 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1768px) {
  .picture2 {
    margin-bottom: -105px;
  }
}
@media only screen and (max-width: 1704px) {
  .picture2 {
    height: 735px; 
  }
}
@media only screen and (max-width: 1639px){
  .picture2 {
    margin-bottom: -130px;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1622px) {
  .Footer .picture {
    height: 600px;
  }
  .footer {
    margin-top: 0px;
  }
  .promotionbanner {
    margin-top: 60px;
    margin-left: -70px;
  }
  .promotionbanner h1 {
    font-size: 45px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 18px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 18px;
  }
  .promotionbanner h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1574px) {
  .picture2 {
    margin-bottom: -155px;
  }
}
@media only screen and (max-width: 1509px) {
  .picture2 {
  height: 710px;
  }
}
/* large */
@media only screen and (max-width: 1449px) {
  .Footer .picture {
    height: 550px;
  }
  .picture2 {
	height: 550px;
	margin-bottom: -24px;
  }
  .picture2 h1 {
    font-size: 46px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  .footer {
    margin-top: 0px;
  }
  .copyrights {
    margin-top: -19px;
  }
}
@media only screen and (max-width: 1367px) {
  .picture2 {
    margin-bottom: -46px;
  }
}
@media only screen and (max-width: 1327px) {
  .picture2 {
    height: 538px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .picture2 {
    height: 520px;
  }
 .promotionbanner {
    margin-top: 40px;
    margin-left: -50px;
  }
  .promotionbanner h1 {
    font-size: 38px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 16px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 16px;
  }
  .promotionbanner h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1278px) {
  .picture2 {
    margin-bottom: -40px;
  }
}
@media only screen and (max-width: 1247px) {
  .picture2 {
    margin-bottom: -60px;
  }
 
}
@media only screen and (max-width: 1195px) {
  .footer {
    margin-top: -95px;
  }
  .picture2 {
    margin-bottom: -80px;
  }
}
@media only screen and (max-width: 1143px) {
  .picture2 {
    margin-bottom: -100px;
  }
}
@media only screen and (max-width: 1099px) {
  .picture2 {
    margin-bottom: -110px;
  }
  .picture2 h1 {
    font-size: 30px;
  }
  .picture2 h4 {
    font-size: 15px;
  }
  .picture2 p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1065px) {
  .picture2 {
    margin-bottom: -125px;
  }
 
}
@media only screen and (max-width: 1026px) {
  .picture2 {
    margin-bottom: -140px;
  }
}
/* <!--Medium--> */
@media only screen and (max-width: 991px) {
  .footer .container1 p {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
  .copyrights {
    text-align: center;
  }
  .Footer .picture {
    background-color: #080808;
  }
  .promotionbanner {
    margin-top: -20px;
    margin-left: 60px;
  }
  .promotionbanner h1 {
    font-size: 35px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 14px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 14px;
  }
  .promotionbanner h4 {
    font-size: 16px;
  }
  .picture2 h1 {
    
    font-size: 30px;
  }
  .picture2 h4 {
    font-size: 15px;
  }
  .picture2 p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 974px) {
  .picture2 {
    height: 525px;
    margin-bottom: -165px;
  }
}
@media only screen and (max-width: 940px) {
  .picture2 {
    margin-bottom: -178px;
  }
}
@media only screen and (max-width: 901px) {
  .footer {
    margin-top: -180px;
  }
}
@media only screen and (max-width: 896px) {
  .picture2 {
    height: 510px;
  }
  .promotionbanner {
    margin-top: -32px;
  }
}
@media only screen and (max-width: 857px) {
  .picture2 {
    height: 495px;
  }
  .promotionbanner {
    margin-top: -45px;
  }
}
@media only screen and (max-width: 818px) {
  .picture2 {
    height: 482px;
  }
  .promotionbanner {
    margin-top: -56px;
    margin-left: 0;
  }
  .Footer .picture .promotionbanner {
    margin-top: -30px;
  }
  .Footer .picture h1{
    font-size: 36px;
  }
  .Footer .picture .container1 .row .promotionbanner p{
    font-size: 16px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p{
    font-size: 16px;
  }
}
@media only screen and (max-width: 784px) {
  .picture2 {
    height: 468px;
  }
}
@media only screen and (max-width: 780px) {
  .footer {
    margin-top: -160px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .followus {
    margin-top: 30px;
  }
  .contact {
    margin-top: 30px;
  }
  .phone {
    margin-bottom: 20px;
  }
  .picture2 .container1 .row .promotionbanner p{
    text-align: center;
  }
  .copyrights {
    height: auto;
  }
  .copyrights p{
    text-align: center;
  }
  .Footer .picture {
    background-image: url("../img/footer/smallbackcover.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 30px;
  }
  .Footer .picture h1 {
    text-align: center;
  }
  .Footer .picture h4 {
    text-align: center;
  }
  .Footer .picture p {
    text-align: center;
  }
  .picture2 {
    background-image: url("../img/footer/smallbackcover.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
  }
  .picture2 h1 {
    text-align: center;
  }
  .picture2 h4 {
    text-align: center;
  }
  .picture2 p {
    text-align: center;
  }
  .footer-links {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 610px){
.footer{
  margin-top: -200px;
}
}
@media only screen and (max-width: 576px) {
  .Footer .picture img {
    display: block;
    margin: 0 auto 10px auto;
  }
  .picture2 img {
    display: block;
    margin: 0 auto;
  }
  .promotionbanner {
    margin-top: -75px;
  }
  .promotionbanner img {
    margin-bottom: 10px;
  }
  
}
@media only screen and (max-width: 520px){
  .promotionbanner {
    margin-top: -90px;
  }
  .promotionbanner img{
   width: 80%;
   margin-bottom: 5px;
  }
  .footer{
    margin-top: -240px;
  }
}
@media only screen and (max-width: 500px){
  .Footer .picture h1 {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 460px){
  .promotionbanner h1 {
    font-size: 30px;
  }
  .Footer .picture .container1 .row .promotionbanner p {
    font-size: 12px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p {
    font-size: 12px;
  }
  .promotionbanner h4 {
    font-size: 14px;
  }
  .footer{
    margin-top: -280px;
  }
  .Footer .picture h1 {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 410px){
  .promotionbanner {
    margin-top: 40px;
  }
  .promotionbanner h1 {
    font-size: 26px;
  }
  .Footer .picture .container1 .row .promotionbanner p{
    font-size: 10px;
  }
  .Footer .picture2 .container1 .row .promotionbanner p{
    font-size: 10px;
  }
  .promotionbanner h4 {
    font-size: 12px;
    margin-top: -10px;
  }
  .footer{
    margin-top: -310px;
  }
  .Footer .picture h1 {
    margin-top: 70px;
  }
  .promotionbanner img{
    width: 70%;
    margin-bottom: 5px;
   }
}
@media only screen and (max-width: 370px){
  .footer{
    margin-top: -340px;
  }
}


@media only screen and (min-width: 1623px) {
  .Footer .picture .container1 .row .promotionbanner p {
    line-height: 29px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////FOOTER ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
