/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////ARTICLE STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.article {
  background-image: url('../img/article/articleBackImg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 4% 0% 0% 0%;
  background-position: 6% 5%;
}
@media only screen and (min-width: 861px) and (max-width: 1100px) {
  .article {
    background-position: 6% 4%;
  }
}
@media only screen and (min-width: 60px) and (max-width: 860px) {
  .article {
    background-position: 6% 3%;
  }
}
.article .container1 {
  margin: 0px auto 0px auto;
}
.article .container1 .articleRow1 h2 {
  position: absolute;
  color: #5f5f5f;
  letter-spacing: -1px;
  margin: 44% 0px 0px 50px;
}
.article .container1 .articleRow1 {
  height: 450px;
}
.article .container1 .col-xl-9,
.article .container1 .col-lg-9,
.article .container1 .col-md-8,
.article .container1 .col-sm-12,
.article .container1 .col-12 {
  padding: 0px;
}
.article .container1 .articleRow1  h1 {
  position: relative;
  color: #000000;
  font-size: 60px;
  letter-spacing: -4px;
  font-weight: 700;
  z-index: 2;
  margin: 0px 0px -13px 50px;
}
.article .container1 .articleRow1 img {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.article .container1 .articleRow1 .articleRedLine {
  position: absolute;
  width: 5px;
  height: 150px;
  background-color: #F40019;
  z-index: 2;
  margin: 27% 0px 0px 15px;
}
.article .container1 .articleRow1 .News01 {
  color: #FFFFFF;
  margin: 120px -20px 0px 50px;
}
.article .container1 .articleRow1 .News01 h4 {
  font-size: 12px;
  font-weight: lighter;
  margin: 0px;
}
.article .container1 .articleRow1 .News01 h6 {
  font-size: 18px;
}
.article .container1 .articleRow1 .News01 h5 {
  font-weight: bold;
}
.article .container1 .articleRow1 .News01 p {
  color: #FFFFFF;
  text-align: unset;
  line-height: 20px;
  padding-right: 12%;
  margin: 30px 0px 0px 0px;
}
.article .container1 .articleRow2 {
  padding: 4% 0% 0% 0%;
}
.article .container1 .articleRow2 h1 {
  color: #F40019;
  font-size: 34px;
  letter-spacing: -2px;
  font-weight: 700;
}
.article .container1 .articleRow2 p,
.article .container1 .articleRow3 p {
  font-size: 16px;
  color: #858585;
  text-align: justify;
}
@media only screen and (min-width: 768px) and (max-width: 1220px) {
  .article .container1 .articleRow2 p,
  .article .container1 .articleRow3 p {
    padding-right: 3%;
  }
}
.article .container1 .articleRow2 .picDiv1 {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0px auto 20px auto;
}
.article .container1 .articleRow2 .picDivb img {
  width: 100%;
  height: 100%;
}
.article .container1 .articleRow2 .picDiva {
  position: absolute;
  /*float: right;*/
  width: 270px;
  height: 320px;
  background-color: red;
  margin: 30px 0px 0px 25px;
}
.article .container1 .articleRow2 .picDivb {
  position: absolute;
  /*float: left;*/
  width: 275px;
  height: 328px;
}
.article .container1 .articleRow3 {
  padding-bottom: 0%;
}
@media only screen and (min-width: 1581px) {
  .article .container1 .articleRow1 h2 {
    color: #FFFFFF;
  }
  .article .container1 .articleRow1  h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -4px;
    font-weight: 700;
    z-index: 2;
    margin: 0px 0px -13px 50px;
  }
  .article {
    background: none;
  }
  .articleRow1 {
    background-color: #F90D26;
  }
}
@media only screen and (min-width: 1380px) and (max-width: 1580px) {
  .article {
    background-size: 84%;
    background-position: 40% 6%;
  }
}
@media only screen and (min-width: 1021px) and (max-width: 1140px) {
  .article .container1 .articleRow1 {
    height: 420px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 0%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1020px) {
  .article .container1 .articleRow1 {
    height: 370px;
  }
  .article .container1 .articleRow1 .News01 {
    margin: 80px -20px 0px 30px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 5%;
    margin: 10px 0px 0px 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .article .container1 .articleRow1 {
    height: 390px;
  }
  .article .container1 .articleRow2 {
    height: auto;
    margin: 15% 0px 0px 0px;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 95%;
    z-index: 4;
    background-color: #F40019;
    padding: 5%;
    margin: 25% 0px 0px 0px;
  }
  .article {
    background-image: none;
  }
  .article .container1 .articleRow1 .articleRedLine {
    height: 140px;
    margin: 23% 0px 0px 15px;
  }
  .article .container1 .articleRow1 .News01 p {
    padding-right: 0%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 578px) {
  .article .container1 .articleRow1 {
    height: 280px;
  }
  .article {
    background-image: none;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 95%;
    z-index: 4;
    background-color: #F40019;
    padding: 5%;
    margin: 27% 0px 0px 0px;
  }
  .article .container1 .articleRow1 .articleRedLine {
    height: 110px;
    margin: 20% 0px 0px 10px;
  }
  .article .container1 .articleRow1 h2 {
    font-size: 25px;
    margin: 42% 0px 0px 30px;
  }
  .article .container1 .articleRow2 {
    margin: 25% 0px 0px 0px;
  }
  .article .container1 .articleRow2 h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .article .container1 .articleRow1 .News01 p {
    margin: 10px 0px 0px 0px;
  }
  .article .container1 .articleRow2 {
    margin: 25% 0px 0px 0px;
  }
  .article .container1 .articleRow3 {
    margin: 0% 0px 0px 0px;
  }
}
@media only screen and (max-width: 360px) {
  .article .container1 .articleRow2 {
    margin: 30% 0px 0px 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 430px) {
  .article .container1 .articleRow1 h2 {
    font-size: 25px;
    margin: 42% 0px 0px 20px;
  }
  .article .container1 .articleRow1 .News01 {
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: #F40019;
    padding: 5%;
    margin: 28% 0px 0px 0px;
  }
}
@media only screen and (max-width: 370px) {
  .article .container1 .articleRow2 .picDiv1 {
    width: 230px;
    height: 330px;
    margin: 0px auto 0px auto;
  }
  .article .container1 .articleRow2 .picDiva {
    width: 200px;
    height: 260px;
  }
  .article .container1 .articleRow2 .picDivb {
    width: 210px;
    height: 273px;
  }
}
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////ARTICLE ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/