/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard ADD PROMOTIONS" & "dashboard ADD DISCOUNTS" STARTS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/
.dashboard1 .divB .divScroll2 {
	width: 105%;
	overflow: auto;
	padding: 20px 5px 20px 20px;
}
.dashboard1 .divB .divScroll2 .row {
	width: 100%;
}
.dashboard1 .divB .divScroll2 .row .dashboardButton1 {
	width: 100%;
	max-width: 170px;
	height: 25px;
	font-size: 13px;
	border: none;
	color: #FFFFFF;
	background-color: #F6051D;
}
.dashboard1 .divB .divScroll2 .row p {
	font-size: 13px;
	margin: 10px 0px 0px 0px;
}
.dashboard1 .divB .divScroll2 .row .dashboardButton2 {
	float: right;
	width: 130px;
	height: 38px;
	font-size: 13px;
	border: none;
	color: #FFFFFF;
	background-color: #F6051D;
}
.dashboard1 .divB .divScroll2 .rowTable {
	height: 400px;
}
@media only screen and (max-width: 720px) {
	.dashboard1 .divB .divScroll2 .row .dashboardButton2 {
		width: 110px;
	}
}
.dashboard1 .divB .divScroll2 .row table {
	width: 100%;
	font-size: 12px;
	margin: 10px 15px 0px 15px;
}
.divScroll2 .row table thead {
	text-indent: 30px;
	background-color: #636363;
}
.divScroll2 .row table tr{
	background-color: #636363;
}
.dashboard1 .divB .divScroll2 .row table tbody {
	text-indent: 30px;
}
.dashboard1 .divB .divScroll2 .row table tbody tr:nth-child(odd) {
	background-color: #E1E1E1;
}
.dashboard1 .divB .divScroll2 .row table tbody tr:nth-child(even) {
	background-color: #C2C2C2;
}
.dashboard1 .divB .divScroll2 .row table tr th {
	color: #FFFFFF;
	font-weight: normal;
}
.dashboard1 .divB .divScroll2 .row table tr th,
.dashboard1 .divB .divScroll2 .row table tr td {
	padding: 7px 0px;
}
.dashboard1 .divB .divScroll2 .row table tbody tr {
	border-bottom: 1px solid #FFFFFF;
}
@media only screen and (max-width: 800px) {
	.dashboard1 .divB .divScroll2 .row table thead {
		text-indent: 4px;
	}
	.dashboard1 .divB .divScroll2 .row table tbody {
		text-indent: 4px;
	}
}
@media only screen and (max-width: 576px) {
	.dashboard1 .divB .divScroll2 {
		width: 105%;
		overflow: auto;
		padding: 20px 0px 0px 10px;
		margin: 0px;
	}
}
/* dashboard ADD DISCOUNT STARTS */
.hiddedText {
	color: red;
}
/* dashboard ADD DISCOUNT ENDS */
/*//////////////////////////////////////////////////////////////////////////*/
/*/////////"dashboard ADD PROMOTIONS" & "dashboard ADD DISCOUNTS" ENDS/////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////*/